{% extends "layout.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="join-start-citizen" class="govuk-back-link">Back</a>

      <form action="/security-code-answer" method="post" class="form" id="check-in_form" style="margin-top: 20px">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl">
              Enter the security code
            </h1>
          <p> This is the code we gave you when you checked in.</p>
          </legend>
        </fieldset>
        <fieldset class="govuk-fieldset">
        <input type="text" id="security-code" name="security-code" class="govuk-input keyboard-input" style="width:50%">
        </fieldset>
        <button class="govuk-button" data-module="govuk-button" style="margin-top: 30px">Sign in</button>
      </form>
    </div>
  </div>
</div>
<!--  <div class="nav-link">
  <a href=join-name-confirm-fail float="right"> Fail to confirm</a> </div> -->


  {% endblock %}
