{% extends "layout-citizen-blank.html" %}

{% block pageTitle %}
  Datganiad hygyrchedd - Mynychu apwyntiad fideo
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <a class="govuk-back-link" href="#" onclick="goBack()">Yn ôl</a>
{% endblock %}

{% block content %}
          <h1 class="govuk-heading-xl">Datganiad hygyrchedd ar gyfer Mynychu apwyntiad fideo</h1>

            <p>Mae'r datganiad hygyrchedd hwn yn berthnasol i gynnwys a gyhoeddir ar y gwasanaeth 'Mynychu apwyntiad fideo'.<p>
            <p>Mae'r wefan hon yn cael ei rhedeg gan yr Adran Gwaith a Phensiynau (DWP). Rydym am i gynifer o bobl â phosibl allu defnyddio'r wefan hon. Er enghraifft, mae hynny'n golygu y dylech allu:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>newid lliwiau, lefelau cyferbyniad a ffontiau</li>
              <li>chwyddo hyd at 300% heb i'r testun ollwng oddi ar y sgrin</li>
              <li>llywio'r rhan fwyaf o'r wefan drwy ddefnyddio bysellfwrdd yn unig</li>
              <li>llywio'r rhan fwyaf o'r wefan drwy ddefnyddio meddalwedd adnabod lleferydd</li>
              <li>gwrando ar y rhan fwyaf o'r wefan drwy ddefnyddio darllenydd sgrin (gan gynnwys y fersiynau diweddaraf o JAWS a VoiceOver)</li>
            </ul>
            <p>Rydym hefyd wedi gwneud testun y wefan mor syml â phosibl i'w ddeall.</p>
            <p><a href="https://mcmw.abilitynet.org.uk/">Mae gan AbilityNet</a> gyngor ar sut i wneud eich dyfais yn haws i'w defnyddio os oes gennych anabledd.</p>

            <h2 class="govuk-heading-m" style="font-size: 27px">Pa mor hygyrch yw'r wefan hon</h2>

            <p>Rydym yn gwybod nad yw rhai rhannau o'r wefan hon yn gwbl hygyrch:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>nid oes capsiynau ar ffrydiau fideo byw</li>
              </ul>

              <h2 class="govuk-heading-m" style="font-size: 27px">Adborth a gwybodaeth gyswllt</h2>
                <p>Os oes angen gwybodaeth arnoch am y gwasanaeth hwn mewn fformat gwahanol fel PDF hygyrch, print bras, hawdd ei ddarllen, recordio sain neu braille, gallwch <a href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact">gysylltu â ni</a>.</p>

              <!--  <p>We’ll consider your request and get back to you in [number] days.</p>-->


                <h2 class="govuk-heading-m" style="font-size: 27px">Rhoi gwybod am broblemau hygyrchedd gyda'r wefan hon</h2>
                <p>Rydym bob amser yn ceisio gwella hygyrchedd y wefan hon. Os byddwch yn dod o hyd i unrhyw broblemau nad ydyn nhw wedi'u rhestru ar y dudalen hon neu'n credu nad ydyn ni'n cwrdd â gofynion hygyrchedd,
                  <a href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact">cysylltwch â ni</a>.</p>

              <h2 class="govuk-heading-m" style="font-size: 27px">Gweithdrefn orfodi</h2>
                <p>Mae’r Comisiwn Cydraddoldeb a Hawliau Dynol (EHRC) yn gyfrifol am orfodi Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018 (y ‘rheoliadau hygyrchedd’). Os nad ydych yn hapus â sut rydym yn ymateb i'ch cwyn, <a href="http://eass-ws.custhelp.com/app/home">cysylltwch â'r Gwasanaeth Cynghori a Chymorth Cydraddoldeb (EASS)</a>.

              <h2 class="govuk-heading-l">Gwybodaeth dechnegol am hygyrchedd y wefan hon</h2>
                <p>Mae DWP wedi ymrwymo i wneud ei gwefan yn hygyrch, yn unol â Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018.</p>

              <h2 class="govuk-heading-m" style="font-size: 27px">Statws cydymffurfio</h2>
                <p>Mae'r wefan hon yn cydymffurfio'n llawn â'r <a href="https://www.w3.org/TR/WCAG21/">Canllawiau Hygyrchedd Cynnwys Gwe fersiwn 2.1</a> Safon AA.</p>

              <h2 class="govuk-heading-l">Paratoi'r datganiad hygyrchedd hwn</h2>
                <p>Paratowyd y datganiad hwn ar 5 Mawrth 2021.</p>
                <p>Profwyd y wefan hon ddiwethaf ar 5 Mawrth 2021 a gwiriwyd ei bod yn cydymffurfio â WCAG 2.1 AA. Cynhaliwyd y profion hyn yn fewnol ac roeddent yn cynnwys asesiad cynhwysfawr o holl gynnwys gwe ac ymarferoldeb y wefan gydag un neu fwy o dechnolegau cynorthwyol fel meddalwedd JAWS a VoiceOver.</p>

                <p>Fe wnaethon ni brofi'r gwasanaeth yn seiliedig ar allu defnyddiwr i gwblhau pob taith allweddol. Profwyd pob rhan o'r siwrneiau hynny.</p>
          <!-- <p>We used this approach to deciding on a sample of pages to test [add link to explanation of how you decided which pages to test].</p> -->

          <!-- <p>You can read the full accessibility test report [add link to report].</p> -->


          </div>
    </div>
  </div>


<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
