{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Cookies - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <!--<a href="static-trial/join-start-citizen" class="govuk-back-link">Back</a> -->

  <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" style="margin-top: 40px">Cwcis</h1>

            <p>Ffeil bach yw cwci sy'n cael ei storio ar eich dyfais am gyfnod byr i wneud i'r gwasanaeth hwn weithio.</p>

            <p>Rydym yn defnyddio cwcis sy'n hanfodol i'r gwasanaeth weithio, fel cofio ble rydych yn y wefan..</p>
            <p>Ni fyddwn yn:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>defnyddio unrhyw gwcis hanfodol nes i chi ddefnyddio'r gwasanaeth</li>
              <li>gallu'ch adnabod chi trwy ddefnyddio cwcis</li>
            </ul>

        <h2 class="govuk-heading-l" style="margin-top: 40px">Manylion am gwcis ar y gwasanaeth hwn</h2>
                    <p>Rydym angen defnyddio rhai cwcis hanfodol i wneud i'r wefan 'Mynychu apwyntiad fideo' weithio.</p>

                    <!--<div class="govuk-inset-text"> <p>You can <a href="cookie_policy.html">change which cookies you’re happy for us to use</a>.</p></div> -->
                    <h2 class="govuk-heading-m">Os yw eich cwcis wedi cael eu diffodd</h2>

                    <p>Byddwch yn gweld neges gwall pan geisiwch ddefnyddio'r wefan os yw'ch cwcis wedi eu hanalluogi.</p>
                    <p>Mae sut i droi cwcis ymlaen yn dibynnu ar y <a href="https://www.whatsmybrowser.org/" class="govuk-link">porwr rydych yn ei ddefnyddio</a> a pha mor gyfoes ydyw.</p>
                    <p>Darganfyddwch sut i newid eich gosodiadau ar gyfer y porwyr mwyaf poblogaidd, gan gynnwys:</p>
                    <ul class="govuk-list govuk-list--bullet">
            			<li><a href="https://support.google.com/accounts/answer/61416?hl=en" class="govuk-link">Google Chrome</a></li>
                        <li><a href="https://www.apple.com" class="govuk-link">Safari</a>, a ddefnyddir yn gyffredinol ar iPad, iPhone a chyfrifiaduron eraill Apple</li>
            		</ul>
                  <!--  <h3 class="govuk-heading-m">Cookies that measure website use</h3>


                    <p>We use Google Analytics software to collect information about how you use the website. We use this information to improve this website.</p>
                    <div class="govuk-inset-text"> <p>We do not allow Google to use or share the data about how you use this site.</p></div>
                  <p>Google analytics cookies collect and store information about:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>the page you visit - what you click on when using the website</li>
                        <li>how long you spend on each page</li>
                        <li>how you got to the website</li>
                      </ul>
                      <table class="govuk-table">
                        <caption class="govuk-table__caption">Google analytics cookies</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Name</th>
                            <th class="govuk-table__header" scope="col">Purpose</th>
                            <th class="govuk-table__header" scope="col">Expires</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_ga</td>
                            <td class="govuk-table__cell">Counts how many people visit the website by tracking if they've visited before.</td>
                            <td class="govuk-table__cell">60 minutes or when you close your browser</td>
                            </tr>
                            <tr class="govuk-table__row">
                            <td class="govuk-table__cell">_gat</td>
                            <td class="govuk-table__cell">Counts how many pages are viewed and how often.</td>
                            <td class="govuk-table__cell">10 minutes</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2 class="govuk-heading-m">Cookies that help performance</h2>
                    <p>We use some cookies to help make sure this website works consistently for everyone.</p>

                    <table class="govuk-table">
                      <caption class="govuk-table__caption">Amazon Web Services cookies</caption>
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col">Name</th>
                          <th class="govuk-table__header" scope="col">Purpose</th>
                          <th class="govuk-table__header" scope="col">Expires</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">AWSALB</td>
                          <td class="govuk-table__cell">Cookies help us to allocate server traffic to make the user experience as smooth as possible.</td>
                          <td class="govuk-table__cell">1 day</td>
                        </tr>
                      </tbody>
                    </table> -->
                    <h2 class="govuk-heading-m">Cwcis sesiwn</h2>
                    <p>Rydym yn defnyddio cwcis sesiwn i gofio ble rydych wrth i chi symud yn ôl ac ymlaen trwy'r wefan.</p>
                    <p>Mae'r cwcis hyn yn cael eu tynnu o'ch cyfrifiadur yn awtomatig, os ydych:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>dddim yn gwneud dim am 30 munud</li>
                      <li>yn cau eich porwr</li>
                      <li>yn diffodd eich cyfrifiadur</li>
                    </ul>
                    <table class="govuk-table">

                      <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col">Enw</th>
                          <th class="govuk-table__header" scope="col">Pwrpas</th>
                          <th class="govuk-table__header" scope="col">Dod i ben</th>
                          </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">

                          </tr><tr class="govuk-table__row">
                          <td class="govuk-table__cell">ajsvc_token</td>
                          <td class="govuk-table__cell">I gofio ble rydych yn y gwasanaeth, er mwyn i chi allu symud yn ôl ac ymlaen trwy'r wefan.</td>
                          <td class="govuk-table__cell">Pan fyddwch yn cau eich porwr</td>
                          </tr>
                      </tbody>
                  </table>
                  <!--  <h2 class="govuk-heading-m">Cookies message</h2>
                    <p>You may see a banner when you visit this website inviting you to accept cookies or review your settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.

                    </p><table class="govuk-table">
                        <caption class="govuk-table__caption">Service cookies</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Name</th>
                            <th class="govuk-table__header" scope="col">Purpose</th>
                            <th class="govuk-table__header" scope="col">Expires</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                            <td class="govuk-table__cell">seen_cookie_message</td>
                            <td class="govuk-table__cell">Saves your cookie consent settings</td>
                            <td class="govuk-table__cell">1 year</td>
                            </tr>

                        </tbody>
                    </table> -->

                </div>
              </div>
              <button class="govuk-button" style="margin-top:30px" onclick="closeWin()">
Cau</button>
                </div>

          <script>
            function closeWin() {
              var myWindow = window.close("help")
              myWindow.close();
            }
        </script>
{% endblock %}
