{% extends "layout-citizen-welsh.html" %}

{% block pageTitle %}
  Mae eich apwyntiad fideo wedi gorffen - Mynychu apwyntiad fideo
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Mae eich apwyntiad fideo wedi gorffen
            </h1>

            <form action="/quality-answer-welsh" method="post" novalidate>
              <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="satisfied">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                 <h1 class="govuk-fieldset__heading">
                  Sut oedd ansawdd eich apwyntiad fideo?
                 </h1>
               </legend>
               <div class="govuk-radios govuk-radios--conditional" id="quality" data-module="govuk-radios">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="good" name="quality" type="radio" value="good" data-aria-controls="conditional-quality">
                   <label class="govuk-label govuk-radios__label" for="good">
                     Da
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="bad" name="quality" type="radio" value="bad" data-aria-controls="conditional-quality-2">
                   <label class="govuk-label govuk-radios__label" for="bad">
                     Drwg
                   </label>
                 </div>
                 <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-quality-2">
                   <div class="govuk-form-group">
                     <fieldset class="govuk-fieldset" aria-describedby="wrong-hint">
     <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
       <h1 class="govuk-fieldset__heading">
         Beth aeth o’i le?
       </h1>
     </legend>
     <div id="wrong-hint" class="govuk-hint">
       Dewiswch bob un sy’n bethnasol.
     </div>
     <div class="govuk-checkboxes">
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong" name="wrong" type="checkbox" value="poor-video">
         <label class="govuk-label govuk-checkboxes__label" for="wrong">
           Ansawdd fideo gwael
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-2" name="wrong" type="checkbox" value="poor-audio">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-2">
           Ansawdd sain gwael
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-3" name="wrong" type="checkbox" value="see-other">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-3">
           Nid oeddwn yn gallu gweld y person arall
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-4" name="wrong" type="checkbox" value="hear-other">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-4">
           Nid oeddwn yn gallu clywed y person arall
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-5" name="wrong" type="checkbox" value="see-me">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-5">
          Nid oedd y person arall yn gallu fy ngweld
         </label>
       </div>
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-6" name="wrong" type="checkbox" value="hear-me">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-6">
          Nid oedd y person arall yn gallu fy nghlywed
         </label>
       </div>
     </div>

   </fieldset>

 </div>
                 </div>
               </div>
              </fieldset>
              </div>



            <div class="govuk-form-group">
           <fieldset class="govuk-fieldset" aria-describedby="satisfied">
             <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
               <h1 class="govuk-fieldset__heading">
                Ar y cyfan, a fyddech chi’n hapus i ddefnyddio’r gwasanaeth fideo hwn eto?
               </h1>
             </legend>
             <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="satisfaction" name="satisfaction" type="radio" value="yes" data-aria-controls="conditional-satisfaction">
                 <label class="govuk-label govuk-radios__label" for="satisfaction">
                   Byddwn
                 </label>
               </div>
               <div class="govuk-radios__item">
                 <input class="govuk-radios__input" id="satisfaction-2" name="satisfaction" type="radio" value="no" data-aria-controls="conditional-satisfaction-2">
                 <label class="govuk-label govuk-radios__label" for="satisfaction-2">
                   Na
                 </label>
               </div>
               <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-satisfaction-2">

                 <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1200" data-threshold="75">
  <div class="govuk-form-group">
    <label class="govuk-label" for="word-count">
      Dywedwch wrthym pam
    </label>
    <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="word-count" rows="3" aria-describedby="word-count-info"></textarea>
  </div>

  <div id="word-count-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
    Gallwch roi hyd at 1200 nod
  </div>

</div>
           </fieldset>
         </div>

         <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1200" data-threshold="75">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="with-hint">
      Sut allwn ni wella’r gwasanaeth hwn?
    </label>
    <div id="with-hint-hint" class="govuk-hint">
      Peidiwch â chynnwys unrhyw fanylion personol neu ariannol.
    </div>
    <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  </div>

  <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
    Gallwch roi hyd at 1200 nod
  </div>
</div>
           <button class="govuk-button" id="send-feedback" data-module="govuk-button">
                       Anfon adborth
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
