{% extends "layout-citizen-welsh.html" %}

{% block pageTitle %}
  Diolch am eich adborth - Mynychu apwyntiad fideo
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Diolch am eich adborth
            </h1>


  <p class="govuk-body">Gallwch gau’r dudalen hon neu<a class="govuk-link govuk-link--no-visited-state" href="https://getinvolved.dwp.gov.uk/++preview++/digital/e86ff17a/consultation/subpage.2020-09-23.0601311615/">gymryd rhan mewn ymchwil yn y dyfodol.</a>.
    </div>
  </div>
</div>



{% endblock %}
