{% extends "layout-invalid-welsh.html" %}

{% block pageTitle %}
  Mae’n ddrwg gennym, nid yw’r apwyntiad ar gael - Mynychu apwyntiad fideo
{% endblock %}

{% block beforeContent %}

<!--
<nav class="hmrc-language-select" aria-label="Switcher iaith">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <a href="../help" hreflang="en" lang="en" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:English">
        <span class="govuk-visually-hidden">Change the language to English</span>
        <span aria-hidden="true">English</span>
      </a>
    </li>
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">Cymraeg</span>
    </li>
  </ul>
</nav>
  -->

  {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top:40px">
          Mae’n ddrwg gennym, nid yw’r apwyntiad ar gael
            </h1>

          <p>Gallai hyn fod oherwydd:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>rydych yn rhy gynnar</li>
            <li>rydych yn rhy hwyr</li>
            <li>mae eich apwyntiad wedi gorffen</li>
          </ul>
          <p>Edrychwch i weld dyddiad ac amser eich apwyntiad a gwnewch yn siwr eich bod wedi defnyddio’r ddolen gywir.</p>

<button class="govuk-button" style="margin-top:30px" onclick="closeWin()">Cau</button>
        </div>
    </div>


<script>
  function closeWin() {
    var myWindow = window.close("help")
    myWindow.close();
  }
</script>

{% endblock %}
