{% extends "layout-staff.html" %}

{% block pageTitle %}
  Your video appointment has ended - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Your video appointment has ended
      </h1>


        <p>You can start a new appointment, or leave this page if you're finished.</p>

<a href="enter-code" style="margin-top: 30px;" class="govuk-button">Start new appointment</a>


      </div>
    </div>
  </div>



{% endblock %}
