{% extends "layout-staff.html" %}

{% block pageTitle %}
  Video appointment - Conduct a video appointment
{% endblock %}

{% block content %}


  <div class="popup" style="display:none"><a href="conduct-staff"><img src="/public/images/popup.png"></a></div>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Allow access to your camera and microphone
            </h1>


        <p class="govuk-body">If you're asked to allow use of your camera and microphone, you must choose <strong>'Allow'</strong> to take part in the video appointment.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Did not see a message?
            </span>
          </summary>
          <div class="govuk-details__text">
            If you did not see a message and cannot see or hear the other person, you may need to change your browser settings:<br><br>

        <h3 class="govuk-heading-m">Mobile</h3>

        <h3 class="govuk-heading-s">iPhone or iPad</h3>

        1. Go to your 'Settings'.<br>
        2. Select 'Safari'.<br>
        3. Select 'Camera' or 'Microphone' and choose 'Allow'.<br><br>

        <h3 class="govuk-heading-s">Android</h3>

        1. Go to your 'Settings'.<br>
        2. Select 'Apps and notifications'.<br>
        3. Select 'Chrome' (select 'See all apps' if you cannot see it).<br>
        4. Select 'Permissions'.<br>
        5. Select 'Camera' or 'Microphone' and choose 'Allow'.<br><br>

        <h3 class="govuk-heading-m">Desktop</h3>

        <h3 class="govuk-heading-s">Safari</h3>

        1. Go to 'Safari'on your toolbar.<br>
        2. Select 'Preferences'.<br>
        3. Select 'Websites'.<br>
        4. Select 'Camera' or 'Microphone' and choose 'Allow'.<br><br>

        <h3 class="govuk-heading-s">Chrome</h3>

        1. At the top right of your browser, select the three dots.<br>
        2. Select 'Settings'.<br>
        3. In 'Advanced', select 'Privacy and security'.<br>
        4. Select 'Site settings'.<br>
        5. Select 'Camera' or 'Microphone' and choose 'Allow'.





          </div>
        </details>


        </div>
        <div style="float: right; margin-bottom: 0; padding: 0">
        <a href="conduct-staff-list">Next</a></div>




{% endblock %}
