<div class="btn-bottom">
  <div class="btn-bottom--left">
    <a href="#" class="govuk-button button-secondary" style="margin: 0 15px 0 0px; color: #000">Volume down</a>
    <a href="end-unexpected-staff" class="govuk-button button-secondary" style="color: #000; margin-bottom: 0">Volume up</a>
  </div>
  <div class="btn-bottom--right">
    <a href="#" class="govuk-button button-secondary"style="margin-right: 15px; margin-bottom: 0; color: #000">Share screen</a>

    <a href="end-appts-staff" class="govuk-button button-secondary" style="color: #000; margin-bottom: 0">Send message</a>

  </div>
</div>
