<header class="govuk-header" role="banner" data-module="dwp-header">
  <div class="govuk-header__container">
    <div class="govuk-width-container">
      <a href="/" class="govuk-header__link govuk-header__link--service-name">
    <div class="govuk-header__contents">Mynychu apwyntiad fideo</div></a>

    <div class="govuk-width-container govuk-header__contents" style="display:inline-block; float:right;">
      <nav aria-label="Choose a language">
      <ul class="govuk-list" style="list-style-type:none; margin:0">
      <li class="govuk-header__navigation-item" style="padding-top:0px">
            <a class="govuk-header__link" href="../URL-invalid">
              English
            </a>
          </li>
      </ul>
      </nav>
</div>
</div>
</header>
<div class="govuk-width-container govuk-header__contents">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      Mae hwn yn wasanaeth newydd.
    </span>
  </p>
</div>
</div>
