<header class="govuk-header" role="banner" data-module="dwp-header">
  <div class="govuk-header__container govuk-header__container--full-width">
    <div class="govuk-width-container govuk-header__contents" style="max-width: 1200px">
      <a href="../" class="govuk-header__link govuk-header__link--service-name" style="text-align:left"
    <div class="govuk-width-container govuk-header__contents"> Video appointment service</div></a>
</div>
</div>
</header>

<div class="dwp-video-header">
  <div class="govuk-width-container" style="margin: 0, text-align: center; max-width: 1200px">
    {% include "includes/top-btn--conduct-citizen.html" %}
      </div>
      </div>

<div class="govuk-header__container govuk-header__container--full-width" style="border: 0px; text-align: center">
  <div class="govuk-video-frame" a href="join-video-conduct">
    <a href="conduct-video-citizen"><div class="govuk-video-inside-frame">
      <div class="govuk-grid-column-two-thirds" style="display: inline-block; text-align: left;">
        <h1 class="govuk-heading-xl">
          The video appointment has been paused
        </h1>

        <h2 class="govuk-heading-m">
          Only the other person can resume the appointment.
          </h2>

<div class="govuk-inset-text">Please do not leave without talking to a member of staff. You may be paid less in your benefits if you do not complete your appointment.
  </div>

      </div>
    </div></a>
  </div>
  {% include "includes/bottom-btns-citizen.html" %}
</div>
