<header class="govuk-header" role="banner" data-module="dwp-header">
  <div class="govuk-header__container govuk-header__container--full-width">
    <div class="govuk-header__container govuk-width-container" style="max-width:1280px">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
          <span class="govuk-header__logotype-text" style="color:white">
            DWP
        </span>
      </a>
    </div>
    <div class="govuk-width-container govuk-header__contents">
      <a href="/" class="govuk-header__link govuk-header__link--service-name">
    <div class="govuk-width-container govuk-header__contents" style="color:white"> Conduct a video appointment</div></a>
</div>
</div>
</div>
</header>
