<header class="govuk-header" role="banner" data-module="dwp-header">

    <div class="govuk-header__container govuk-header__container--full-width">
        <div class="govuk-width-container govuk-header__contents">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                <div class="govuk-width-container govuk-header__contents">Attend a video appointment</div>
            </a>
            <nav class="hmrc-language-select" aria-label="Choose a language">
        <ul class="govuk-list hmrc-language-select__items">
          <li class="govuk-header__navigation-item">
            <a aria-current="page" lang="en" hreflang="en" href="/hmrc-design-patterns/account-header/example/">English</a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" lang="cy" hreflang="cy" href="/hmrc-design-patterns/account-header/example-welsh/">Cymraeg</a>
          </li>
        </ul>
      </nav>
        </div>
    </div>

</header>
