<div class="participants-container">
    <div class="govuk-width-container">
        <div class="participants-header-content">
            <div>
            <!--<strong>David Smith </strong>connected to <strong>Jane</strong> -->
            </div>

            <div>
              <button class= "govuk-button govuk-button--secondary govuk-button--panel" style="margin-right:20px;" onClick="window.location.reload();">Refresh</button>
                <button class= "govuk-button govuk-button--warning" onclick="document.getElementById('id01').style.display='block'">End</button>

                <dialog id="id01" class="modal" aria-labelledby="end-appointment" aria-describedby="end-confirmation" aria-modal="true" role="alertdialog" tabindex="0" open>
                  <form class="modal-content">
                    <div class="govuk-modal-dialog-header"><button type="button" onclick="document.getElementById('id01').style.display='none'" class="govuk-button modal-close" title="Cancel">×</button></div>
                    <div class="modal-container">
                      <h1 style="font-size: 1.5em">End the video appointment?</h1>
                      <p> You will not be able to rejoin and the session will be closed.</p>

                      <div class="clearfix">
                          <a href="end-staff" class="govuk-button govuk-button--warning" style="margin-bottom: 0">End appointment </a>
                          <a href onClick="document.getElementById('id01').style.display='none'" style="display: inline-block; margin: 7px 0 0 20px" class="govuk-body govuk-link--no-visited-state">Cancel</a>

                      </div>
                    </div>
                  </form>
                </dialog>
            </div>
        </div>
    </div>
</div>
