<div class="participants-container">
    <div class="govuk-width-container">
        <div class="participants-header-content">
            <div>
              <!-- <strong>David Smith </strong>connected to <strong>Jane</strong> -->
            </div>

            <div>
                <button id="refresh" class="govuk-button govuk-button--secondary govuk-button--panel" style="font-size: 19px;" onClick="window.location.reload();">Refresh</button>
            </div>
        </div>
    </div>
</div>
