<div class="govuk-grid-row">
    <div class="participants-header">
        <div class="govuk-width-container">
            <div class="govuk-grid-column-one-half" style="text-align: left;">
                <strong>David Smith </strong>connected to <strong>Jane</strong>
            </div>
    
            <div class="govuk-grid-column-one-half" style="text-align: right;">
                <button id="pause" class="govuk-button govuk-button--quiet-navigation" style="color:#000">Pause</button>
            </div>
        </div>
    </div>
</div>