<div class="btn-video-top">
<!--  <div class="participants-names" style="font-size: 19px;">
  <strong>{{ data['full-name'] }}</strong> connected to <strong>Jane</strong>

  </div> -->
<div class="btn-video-top--right">

    <button id="refresh" class="govuk-button govuk-button--secondary govuk-button--panel" style="margin: 0px 0px 15px 0px; color:#000">Refresh</button>

    </div>

  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/staff-timer.js"></script>


</div>

<script>

  function myPauseClicked(el)
  {
      el.disabled = true;
  }

  function myFinishDisabled(el)
  {
    el.disabled = true;
  }

</script>

<script>
  function stopTimer() {
    if (a) clearInterval(a);
    a = null;
  }
  document.getElementById("pause").addEventListener("click", stopTimer);

  </script>

<!-- <script>
    $(document).ready(function() {

      var txt = $("<div class='red-paused'></div>").html("&nbsp Paused");

      $("#pause").click(function(){

      $(".participants-names").append(txt);

    });

  });
</script> -->
