{% extends "layout_video-waiting.html" %}

{% block pageTitle %}
  Remote consultation
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-video-frame" a href="join-video-conduct">
    <a href="conduct-video-citizen"><div class="govuk-video-inside-frame">
      <div class="govuk-grid-column-two-thirds" style="display: inline-block; text-align: left;">
        <h1 class="govuk-heading-xl">
          Please continue to wait
        </h1>

        <h2 class="govuk-heading-m">
          The other person knows you're ready.
          </h2>

<p>Your appointment is expected to start shortly</p>

<div class="govuk-inset-text">Please do not leave without talking to a member of staff. You may be paid less in your benefits if you miss an appointment.
  </div>

      </div>
    </div></a>
  </div>
</div>


{% endblock %}
