{% extends "layout.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              You've left the video appointment
            </h1>

          <p>Please allow the next customer to use this computer.<br><br>
            If you need any further help, please talk to a member of staff.
          </p>

            <a href="join-start-citizen" style="margin-top:30px" class="govuk-button">Next customer</a>
    </div>
</div>
{% endblock %}
