{% extends "layout.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <!--  <div class="nav-link">
      <a href=join-name-confirm-fail float="right"> Fail to confirm</a> </div> -->


      <form action="join-name-confirm" method="post" class="form" id="check-in_form" style="margin-top: 20px">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-heading-xl">
                What is your full name?
                </h1>
                <p class="headerhint">Enter your first and last names, don't include middle names.</p>
            </legend>
            </fieldset>
            <fieldset class="govuk-fieldset">
      <input type="text" id="full-name" name="full-name" class="govuk-input keyboard-input" style="width:50%">
      </fieldset>
      <button class="govuk-button" data-module="govuk-button" style="margin-top: 30px">Continue</button>
      </form>
</div>
</div>
    {% endblock %}







          <!-- <h1 class="govuk-heading-xl" style="margin-top: 20px">
              What is your full name?
            </h1>

          <div class="govuk-form-group">
        <label class="govuk-label" for="cust-name">
        </label>
        <span id="event-name-hint" class="govuk-hint">
          Enter your first and last names, don't include middle names.
        </span>
        <input class="govuk-input" id="cust-name" name="cust-name" type="text" aria-describedby="event-name-hint">
      </div>

    <a href="join-name-confirm.html" role="button" draggable="false" style="margin-top:30px" class="govuk-button" data-module="govuk-button">
            Continue

          </a> -->

    </div>
    </div>
