{% extends "layout_video.html" %}

{% block pageTitle %}
  Remote consultation
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-video-leave-frame">
    <div class="govuk-video-inside-frame">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Are you sure you want to leave the appointment?</h1>
          <p>You may be paid less in your benefits if you do not complete your appointment.
            </p>

<a href="end-left-citizen" class="govuk-button govuk-button--warning " style="margin: 25px 15px 0px 0px">Yes, leave</a>
<a href="conduct-video-citizen" class="govuk-button govuk-button--secondary " style="margin-top: 25px">No, rejoin</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
