{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Conduct a video appointment
{% endblock %}

{% block header %}

    <div class="small-and-medium-screen--no-display">
        {% include "includes/header-attend-video.html" %}
        {% include "includes/participants-banner.html" %}
    </div>

{% endblock %}

{% block content %}

    <div class="main-content-flex-box">
        
        <div class="flex-responsive-container">
            <div class="flex-video-container">
                <video id="video" autoplay=""></video>

                <div class="flex-selfie-container">
                    <img src="/public/images/Citizen.png"></img>        
                </div>
            </div>
        </div>

        <div class="medium-screen--only">
            {% include "includes/participants-banner.html" %}
        </div>
        
        <div class="small-screen--only">
            {% include "includes/participants-banner--small-screen.html" %}
        </div>

    </div>

    <script>
        // Grab elements, create settings, etc.
        var video = document.getElementById('video');
        var portraitVideo = document.getElementById('portrait_video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator
                .mediaDevices
                .getUserMedia({video: true})
                .then(function (stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();

                    portraitVideo.srcObject = stream;
                    portraitVideo.play();
                });
        }
    </script>

{% endblock %}
