{% extends "layout_unbranded.html" %}

{% block pageTitle %}
    Conduct a video appopintment
{% endblock %}

{% block header %}

    {% include "includes/header-conduct.html" %}
    <div class="dwp-video-header video-banner">
        <div class="govuk-width-container govuk-header__contents" style="margin: 0; text-align: center; max-width: 1280px">{% include "includes/top-btn--waiting-citizen.html" %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="app-width-container--wide">
        <div class="video-container">
            <video id="video" autoplay=""></video> 

            <div class="video-preview">
                <img src="/public/images/Citizen.png"></img>        
            </div>
        </div>
    </div>

    <script>
        // Grab elements, create settings, etc.
        var video = document.getElementById('video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator
                .mediaDevices
                .getUserMedia({video: true})
                .then(function (stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();
                });
        }
    </script>
{% endblock %}