{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Conduct a video appointment
{% endblock %}

{% block header %}
    <div class="small-screen--no-display medium-screen--no-display">
        {% include "includes/header-conduct.html" %}

        {% include "includes/top-participants-banner.html" %}
    </div>

    <!-- <div class="desktop-screen--no-display">
        <div class="govuk-header__container" style="padding-top: 0;"></div>
    </div> -->

{% endblock %}

{% block content %}

    <!-- <div class="govuk-width-container" style="text-align: center;">

        <video id="video" autoplay="" style="position: relative;"></video> 
        
    </div> -->

    <div class="responsive-container">
        <video id="video" autoplay=""></video> 

        <div class="selfie-container">
            <img src="/public/images/Citizen.png"></img>        
        </div>
    </div>

    <div class="desktop-screen--no-display small-screen--no-display" style="text-align: center;">
        {% include "includes/top-participants-banner.html" %}
    </div>

    <script>
        // Grab elements, create settings, etc.
        var video = document.getElementById('video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator
                .mediaDevices
                .getUserMedia({video: true})
                .then(function (stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();
                });
        }
    </script>

{% endblock %}
