{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Conduct a video appointment
{% endblock %}

{% block header %}

    <div class="small-and-medium-screen--no-display">
        {% include "includes/header-attend-video.html" %}
        {% include "includes/status-bar.html" %}
    </div>

{% endblock %}

{% block content %}

<!--     <div class="main-content-flex-box">

        <div class="flex-responsive-container">
            <div class="flex-video-container">
                <video id="video" autoplay=""></video>

                <div class="flex-selfie-container">
                    <video id="selfie-video" autoplay=""></video>
                </div>
            </div>
        </div>

        <div class="medium-screen--only">
            {% include "includes/status-bar.html" %}
        </div>

        <div class="small-screen--only">
            {% include "includes/status-bar--small-screen.html" %}
        </div>

    </div> -->

    <div class="flex-container">

        <div class="item-video flex-responsive-container">
            <video id="video" autoplay=""></video>
    
            <div class="flex-selfie-container">
                <video id="selfie-video" autoplay=""></video>
            </div>
        </div>
    
        <div class="small-screen--only">
            <div class="footer-small-screen footer-background">
                <div>
                    <strong>David Smith </strong>connected to <strong>Jane</strong>
                </div>
            
                <div>
                    <button class="govuk-button govuk-button--quiet-navigation" style="color:#000; font-size: 19px; width: 90%;" >Pause</button>
                </div>
            </div>
        </div>
    
    </div>

    <script>
        // Grab elements, create settings, etc.
        var video = document.getElementById('video');
        var selfieVideo = document.getElementById('selfie-video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator
                .mediaDevices
                .getUserMedia({video: true})
                .then(function (stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();

                    selfieVideo.srcObject = stream;
                    selfieVideo.play();
                });
        }
    </script>

{% endblock %}
