{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
            You’re too late to join your appointment
            </h1>

          <p>Call us straight away on 0800 328 9344 to reschedule your appointment.</p>

          <a href="join-start-citizen" class="govuk-button" data-module="govuk-button" style="margin-top: 30px">Finish</a>

        </div>
    </div>
</div>
{% endblock %}
