{% extends "layout.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="join-name-confirm" method="post" id="check-in_form" name="theForm" style="margin-top: 20px">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-heading-xl">
                What is your full name?
                </h1>
                <p class="headerhint">Enter your first and last names, don't include middle names.</p>
            </legend>
            </fieldset>
            <fieldset class="govuk-fieldset">
      <input type="text" id="full-name" name="theField" class="govuk-input" style="width:50%">
      </fieldset>
      <button class="govuk-button" data-module="govuk-button" style="margin-top: 30px" onclick="fixit()">Continue</button>
      </form>
      </div>
      </div>
      </div>
<script>

var special_words = new Array('and',
				'the',
				'to',
				'for',
				'is',
				'in',
				'a',
				'at',
				'an',
				'from',
				'by',
				'if',
				'of');

function ie_has_no_indexOf(input) {
  for (var i=0;i<special_words.length;i++) {
    if (special_words[i]==input) {
      return 1;
    }
  }
  return -1;
}

function fixit() {
  var original = document.theForm.theField.value.toLowerCase();
  var o_split = original.split(" ");


  for (i=0;i<o_split.length;i++) {
    if (i == 0) {
      //always capitalize the first word
      o_split[i] = (o_split[i].substring(0,1)).toUpperCase() + o_split[i].substring(1);
    }
    else if(ie_has_no_indexOf(o_split[i]) < 0) {
      o_split[i] = (o_split[i].substring(0,1)).toUpperCase() + o_split[i].substring(1);
    }
  }
  retval = o_split.join(' ');
  document.theForm.theField.value = retval;
}
</script>


{% endblock %}
