{% extends "layout-staff.html" %}

  {% block pageTitle %}
    Sorry, there's a problem with the service - Conduct a video appointment
  {% endblock %}

  {% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl" style="margin-top: 40px">
                This video appointment has ended
              </h1>


            <p>Check the appointment details and make sure you have used the correct link.</p>

      </div>
      </div>
  </div>
  {% endblock %}
