{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-conduct-versions.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Remote consultation - staff facing prototype
      </h1>

      <h2 class="govuk-heading-m">
        Design WIP
      </h2>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>




  <h2><a href="WIP/journey/start.html">Design WIP journey</a></h2>

  <p> Proposed design iterations </p>

  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Multiple attendees
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class="govuk-body"><strong>As a </strong>workcoach <strong>I need</strong> to conduct appointments with multiple attendees <strong>so that</strong> all relevant parties can participate in the appointment.<br>
      </p>
      <ul class='govuk-list'>
      <li> <a class='govuk-link' href="WIP/multiple/conduct-3-participants">3 participants layout - Feb 2021</a> </li>
      <li> <a class='govuk-link' href="WIP/multiple/conduct-3-participants-name">3 participants with names - Feb 2021</a> </li>
      <li> <a class='govuk-link' href="WIP/multiple/conduct-4-participants">4 participants layout - Feb 2021</a> </li>
    </div>
    </div>
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading">
    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
      Blurred background
    </span>
  </h2>
</div>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
  <p class="govuk-body"> <strong>As a </strong>workcoach <strong>I need</strong> to hide my background <strong>so that</strong> I can protect my privacy. </p>
  <ul class='govuk-list'>
  <li> <a class='govuk-link' href="WIP/blur/conduct-staff-blur1">Link in header - Feb 2021</a> </li>
  <li> <a class='govuk-link' href="WIP/blur/conduct-staff-blur2">Radios in header - Feb 2021</a> </li>
  <li> <a class='govuk-link' href="WIP/blur/conduct-staff-blur3">Settings drop down - Feb 2021</a> </li>

</div>
</div>
<div class="govuk-accordion__section">
<div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading">
    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
      Waiting room
    </span>
  </h2>
</div>
<div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
  <p class="govuk-body"><strong>As a </strong>workcoach <strong>I need</strong> to know when the citizen is ready to start the appointment <strong>so that</strong> I can start the appt when I am ready.<br>
  <strong>As a </strong>workcoach <strong>I need</strong> to formally start an appointment at the time of my choosing with a citizen who is ready <strong>so that</strong> I can manage my time effectively.</p>
  <ul class='govuk-list'>
<ul class='govuk-list'>
<li> <a class='govuk-link' href="WIP/research/conduct-wait-1">Admitting attendees in to the appointment</a> </li>
<li> <a class='govuk-link' href="WIP/research/conduct-staff-list-admit">Admitting and removing attendees</a> </li>
<li> <a class='govuk-link' href="WIP/staff-appoint-ready">Initial 'common' room</a> </li>
<li> <a class='govuk-link' href="WIP/multiple/conduct-2-participants-name">Name displayed in appointment - Feb 2021</a> </li>
<li> <a class='govuk-link' href="WIP/journey/staff-wait">Messaging when staff enters appointment - Feb 2021</a> </li>
</ul>
</div>
</div>
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading">
    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
      Camera select
    </span>
  </h2>
</div>
<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
  <a class='govuk-link' href="WIP/conduct-staff-camera">Change camera once in appointment</a>
</div>
</div>
<div class="govuk-accordion__section ">
<div class="govuk-accordion__section-header">
  <h2 class="govuk-accordion__section-heading">
    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
      Access via link
    </span>
  </h2>
</div>
<div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
  <p class="govuk-body"><strong>As a </strong>workcoach <strong>I need</strong> the end-to-end journey to be intuitive <strong>so that</strong> I can participate in an appointment without needing any help, even if I have low digital skills. </p><br>
  <a class='govuk-link' href="WIP/DOI/start">Link instead of code</a>
</div>
</div>
</div>



  <h2><a href="../join-appointment/welsh-conduct-appointment/start.html">Welsh version</a></h2>
    <p>Conduct service with welsh translation</p>
</div>

{% endblock %}
