{% extends "layout-staff.html" %}

{% block pageTitle %}
  Confirm Appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Confirm your video appointment details
    </h1>

    <dl class="govuk-summary-list" style="margin-bottom: 60px;" name="theField">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Claimant's full name
        </dt>
        <dd class="govuk-summary-list__value">
          Luke Smith
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appointment date
        </dt>
        <dd class="govuk-summary-list__value">
          12 April 2020
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start time
        </dt>
        <dd class="govuk-summary-list__value">
          10:30am
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          30 minutes
        </dd>
      </div>
    </dl>
    <a href="enter-name" class="govuk-button">Confirm</a>
    <a href="enter-code" style="margin-left:15px" class="govuk-button govuk-button--secondary">Try again</a>

    </div>
  </div>
</div>

{% endblock %}
