{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-conduct-versions.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Remote consultation - staff facing prototype
      </h1>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>


            <p><a class="govuk-button" role="button" href="version_4/preview-1.html">Latest version (link)</a></p>


            <h2 class="govuk-heading-m">Version 4</h2>
            <h3 class="govuk-heading-s"><a href="version_4/preview-1.html">Link access</a> <h3>
              <h3 class="govuk-heading-s"><a href="version_4/start.html">Code access</a> <h3>


            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Hypotheses
            </span>
            </summary>
            <div class="govuk-details__text">
            <p class="govuk-body"> <strong> Because:</strong>
            <ul class="govuk-list govuk-list--bullet">
            <li>we know users want privacy from the start of the appointment</li>
            <li>we know hosts are not always the first in to the appointment</li>

            </ul>
            <strong> We believe that:</strong>
            <ul class="govuk-list govuk-list--bullet">
              <li>letting users preview their video before joining the appointment</li>
            <li>letting users hide their background before joining the appointment</li>
            </ul>
            <strong> Will result in:</strong>
            <ul class="govuk-list govuk-list--bullet">
            <li>further privacy</li>
            <li>a smoother start to the appointment</li>
            <li>work coaches feeling more comfortable joining the appointment</li>
            </ul>
            <strong> We'll know this is true:</strong>
            <ul class="govuk-list govuk-list--bullet">
            <li>when users give us feedback that they would like to set their background before entering the appointment</li>
            </ul> </p>
          </div> <hr>

          <div class="govuk-details__text">
          <p class="govuk-body"> <strong> Because:</strong>
          <ul class="govuk-list govuk-list--bullet">
          <li>we know when some users join the meeting first, they use the refresh button multiple times before the other person joins</li>
          <li>we know some users do not like seeing the large view of themselves as it makes them uncomfortable</li>
        </ul>
          <strong> We believe that:</strong>
          <ul class="govuk-list govuk-list--bullet">
          <li>by explaining they have joined the appointment, but the other person hasn't</li>
          <li>by making the large view of themselves a smaller 'selfie' view</li>
          </ul>
          <strong> Will result in:</strong>
          <ul class="govuk-list govuk-list--bullet">
          <li>users understanding what is happening and that they do not need to do anything</li>
          <li>users feeling more comfortable</li>
          </ul>
          <strong> We'll know this is true:</strong>
          <ul class="govuk-list govuk-list--bullet">
          <li>when users give us feedback that they understand what is happening</li>
          <li>when users give us feedback that they feel more comfortable with a smaller 'selfie' view</li>
          <li>if there is a reduction in the use of the refresh button prior to the second person joining</li>
          </ul> </p>
          </div>

            </details>

            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Version details: 4.0, 4.1
            </span>
            </summary>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-m">4.0</h3>
              <h4 class="govuk-heading-s">28 July 2021</h4>
              <ul class="govuk-list govuk-list--bullet">
              <li>'Preview your video' screen added to allow staff to see their camera and hide their background before entering the appointment</li>
              <li>'Start' screen removed for link journey (replaced with preview screen)</li>
              <li>Browser pop up for allowing camera and microphone on preview screen, rather than 'Allow access to camera and microphone'</li>
              <li>If camera and microphone access not allowed, user redirected to existing 'Allow access to camera and microphone' screen</li>
              <li>Waiting message added if host joins before an attendee. </li>
              </ul>
            </div>
            <div class="govuk-details__text">
              <h3 class="govuk-heading-m">4.1</h3>
              <h4 class="govuk-heading-s">23 August 2021</h4>
              <ul class="govuk-list govuk-list--bullet">
              <li>Radio buttons added to waiting message and video screen to allow  the  user to turn the 'Hide my background' functionality on and off
        once in the appointment.</li>
              </ul>
            </div>
          </details>

<h2 class="govuk-heading-m">Version 3</h2>
<h3 class="govuk-heading-s"><a href="version_3/start_link.html">Link access</a> <h3>
  <h3 class="govuk-heading-s"><a href="version_3/start.html">Code access</a> <h3>


<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Hypotheses
</span>
</summary>
<div class="govuk-details__text">
<!--<p class="govuk-body"> If we provide a link rather than a code to join the appointment, the work coach will have a more time efficient and simpler journey. </p> -->


<p class="govuk-body"> <strong> Because:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>we know from research  that work coaches find a link easier and quicker</li>
<li>there is a need for work coaches to be time efficient</li>
</ul>
<strong> We believe that:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>providing a link in to a specific appointment </li>
</ul>
<strong> Will result in:</strong>
<ul class="govuk-list govuk-list--bullet">
<li> a simpler and shorter journey </li>
</ul>
<strong> We'll know this is true:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>when work coaches join an appointment faster.</li>
</ul>
<hr>
If we still provide a start page in the link journey, the work coach will be able to prepare (for example arranging their screen) and have a more professional start to the appointment.</p>
<hr>
If we show a smaller view of themselves than the other participants, work coaches will feel at ease and be able to focus on the other participants in the appointment. <hr>
If we show the whole frame of other participants, work coaches will be able to see everything they need to see.
</div>
</details>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Version details: 3.0, 3.1
</span>
</summary>
<div class="govuk-details__text">
  <h3 class="govuk-heading-m">3.0</h3>
  <h4 class="govuk-heading-s">23 April 2021</h4>
  <ul class="govuk-list govuk-list--bullet">
  <li>Additional journey in to the appointment via a link rather than copying across a code</li>
  <li>Start page for link journey has 'Before you start' content around code removed</li>
  <li>Start page for link journey goes straight to permissions page, rather than 'Enter appointment code'</li>
  <li>'Start new appointment' button removed from the end page and content updated to tell the user they can just close the page</li>
  </ul>
</div>
<div class="govuk-details__text">
  <h3 class="govuk-heading-m">3.1</h3>
  <h4 class="govuk-heading-s">12 May  2021</h4>
  <ul class="govuk-list govuk-list--bullet">
  <li>'Another attendee joins' links added to video appointment screen to show layout for up to 4 participants</li>
  <li>Participants list wraps around underneath video when screen minimised to split screen</li>
  <li>Background colour of video frame changed to black (#0b0c0c)</li>
  </ul>
</div>
</details>


<h2><a href="version_2/start.html">Version 2</a></h2>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Hypotheses
</span>
</summary>
<div class="govuk-details__text">
<p class="govuk-body"> <strong> Because:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>there are security concerns around uninvited attendees being able to enter the appointment</li>
<li>we have observed attendees trying to access their appointment from multiple devices</li>
</ul>
<strong> We believe that:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>displaying a list of participants in the call to the host</li>
</ul>
<strong> Will result in:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>a higher level of security</li>
<li>greater control of the appointment</li>
<li>fewer issues with video feeds</li>
</ul>
<strong> We'll know this is true:</strong>
<ul class="govuk-list govuk-list--bullet">
<li>when observations show that work coaches are able to identify when participant(s) are in the call</li>
<li>when feedback shows the work coach has investigated any unexpected participants and taken the appropriate action.</li>
</ul> </p>
</div>
</details>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Version details: 2.3, 2.2, 2.1, 2.0
</span>
</summary>
<div class="govuk-details__text">
  <h3 class="govuk-heading-m">2.3</h3>
  <h4 class="govuk-heading-s">12 March 2021</h4>
  <ul class="govuk-list govuk-list--bullet">
  <li>Accessibility statement added and linked out to in footer.</li>
  </ul>
  <h3 class="govuk-heading-m">2.2</h3>
  <ul class="govuk-list govuk-list--bullet">
  <li>'Cancel' link in modal replaced with secondary button. This is to fulfil the accessibility requirement of no empty anchor tags.</li>
  </ul>
<h3 class="govuk-heading-m">2.1</h3>
<ul class="govuk-list govuk-list--bullet">
<li>Updated form labels to match form inputs on enter the appointment code for multiple accessibility requirements. When you select an input label, automatic focus on input box</li>
<li>Trapped focus within 'End appointment?' modal when using keyboard navigation. The user cannot tab to the background functionality</li>
<li>User can now use the escape key to exit 'End appointment?' modal</li>
<li>Updated prototype code for 'End appointment' and 'Start new appointment'to be read out as a button using a screenreader</li>
<li>Removed additional fieldset from 'Enter appointment code' as it had no legend</li>

</ul>
<h3 class="govuk-heading-m">2.0</h3>
<ul class="govuk-list govuk-list--bullet">
<li>Participant list added to conduct screen, showing separate connections as either 'Host' or 'Attendee'</li>
</div>
</details>

<h2><a href="v1-static-trial/start.html">Version 1 </a></h2>

<p> Proof of concept - start of trial </p>

{% endblock %}
