{% extends "layout-staff.html" %}

{% block pageTitle %}
  Conduct a video appointment
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-7">
        Preview your video
      </h1>

      <p class="govuk-body">You can check your camera is
        working and change your background, before you join your video appointment.</p>

<div class="govuk-!-width-one-half" style="background:govuk-colour("black"); height: auto;" >
<video autoplay="true" id="videoElement"></video>
</div>

    <div class="govuk-form-group govuk-!-margin-top-4">
<fieldset class="govuk-fieldset" aria-describedby="blur-background">
  <legend class="govuk-fieldset__legend"> <h2 class="govuk-heading-s">
    Blur my background </h2>
  </legend>
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" onclick="location.href='preview-on';">
      <label class="govuk-label govuk-radios__label" for="changed-name">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" checked>
      <label class="govuk-label govuk-radios__label" for="changed-name-2">
        No
      </label>
    </div>
  </div>

</fieldset>
</div>


<a href="staff-wait" role="button" class="govuk-button">
  Join appointment
</a>
    </div>
  </div>



      <script>
        var video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err0r) {
              console.log("Something went wrong!");
            });
        }
      </script>


{% endblock %}
