{% extends "layout-citizen.html" %}

{% block pageTitle %}
Confirm your appointment details - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Confirm your appointment details
    </h1>

    <dl class="govuk-summary-list" style="margin-bottom: 60px;" name="theField">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half"">
          Your appointment date
        </dt>
        <dd class="govuk-summary-list__value">
          12 April 2020
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start time
        </dt>
        <dd class="govuk-summary-list__value">
          10:00am
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration
        </dt>
        <dd class="govuk-summary-list__value">
          45 minutes
        </dd>
      </div>
    </dl>
    <a href="contact-details" class="govuk-button">Confirm</a>

    </div>


  </div>

<br>
  <h2 class="govuk-heading-m">If these details are not as expected</h2>
  <p>Please leave this page, will they be able to contact?</p>
</div>

{% endblock %}
