{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Are you sure you want to leave the appointment? - Attend a video appointment
{% endblock %}

{% block header %}
{% include "includes/header-video.html" %}
<div class="dwp-video-header">
  <div class="govuk-width-container" style="margin: 0, text-align: center; max-width: 1280px">
    {% include "includes/top-btn--conduct-citizen.html" %}
      </div>
      </div>
{% endblock %}

{% block content %}
<div class="app-width-container--wide">

  <div class="govuk-video-leave-frame">
    <div class="govuk-video-inside-frame">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Are you sure you want to leave the appointment?</h1>
          <p>You may be paid less in your benefits if you do not complete an appointment.
            </p>

<a href="end-left-citizen" class="govuk-button govuk-button--warning " style="margin: 25px 15px 0px 0px">Yes, leave</a>
<a href="conduct-video-waiting" class="govuk-button govuk-button--secondary " style="margin-top: 25px">No, rejoin</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
