// global styles for <a> and <p> tags
$govuk-global-styles: true;


// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';
$govuk-header-border-color: #00728F !important;
// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



.govuk-header__container {
  border-bottom-color: #00728F !important;
}

.govuk-header__link {
  color: #0b0c0c !important;
  cursor:default;
}

.govuk-width-container__video {
  margin:0;
  padding: 0;
  max-width: 1200px !important;
  position:absolute;
}

.govuk-main-wrapper__video {
  margin: 0;
  padding: 0;
  width: 1200px;
  text-align: center;
  position:relative;
  display: inline-block !important;
  }

.dwp-video-header {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  display: block;
  padding: 15px 0px 5px 0px;
  position:relative;
  width: 100%;
  height: 50px;
}

.govuk-video-image {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.video-image {
  text-align: center;
  width: 1680px;
  padding: 0;
  margin: 0;
}

/* Top and bottom button divs */

.btn-video-top {
  width: 1200px;
  height: auto;
  background-color: transparent;
  margin-bottom: 0;

}
.btn-bottom {
  width: 1200px;
  display: inline-block !important;
  margin-top: 5px;
  margin-left: 0;
  padding: 0;
}

.btn-top--right {
  margin: 0 !important;
  float: right;
}

.btn-video-top--right {
  margin: 0 !important;
  float: right;
}
.btn-top--right a {
  border-bottom: 0;
}

.btn-top--left {
  float: left;
}

.btn-bottom--right {
  margin-right: 2px !important;
  float: right;
}

.btn-bottom--left {
  float: left;
  margin-left: 3px !important;
}

.nav-link {
  float: right;
}

/* Style for status text on DWP-video-header */
.participants-names {
  display: inline-block;
  font-size: 19px;
  padding-top: 7.5px;
  color: #000000;
  width: 50%;
  text-align: left !important;
  float: left !important;
}

/* Quiet warning button */

.govuk-button--quiet-warning {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #d4351c;
  border: #d4351c 1px solid;
  color: #d4351c !important;
  box-shadow: 0 1px 0 #d4351c;
  margin-bottom: 15px !important;
}

.govuk-button--quiet-warning, .govuk-button--quiet-warning:link, .govuk-button--quiet-warning:visited, .govuk-button--quiet-warning:active, .govuk-button--quiet-warning:hover {
  color: #0b0c0c;
}

.govuk-button--quiet-warning:hover {
  background-color: #FFF0ED !important;
}

.govuk-button--quiet-warning:hover[disabled] {
  background-color: #f3f2f1;
}



/* Home office secondary button */

.button-secondary {
	background-color: #DEE0E2;
  box-shadow: 0 1px 0 #0b0c0c;
	color: #0b0c0c;
  border: #0b0c0c 1px solid;
  &[disabled]:active {
		background-color: #cbcbcb;
    box-shadow: 0 0px 0 #0b0c0c;
  }
}

.button-secondary:hover {
	background-color: darken(#DEE0E2, 5%);
	color: #0b0c0c;
}

/* Frames for video waiting and leave screens */

.govuk-video-frame {
  text-align: center;
  width: 1191px;
  height: 699px;
  border-color: #0b0c0c;
  border: #0b0c0c 2px solid;
  padding: 0;

  margin-top: 4px;
  display: inline-block;
  background-color: #fff;
}

.govuk-name-frame {
  text-align: center !important;
  width: 1200px;
  height: auto;
  padding: 0;
  display: inline-block;
  background: transparent;
}

.govuk-video-inside-frame {
  text-align: left !important;
  padding-top: 110px;
  padding-left: 90px;
}

.govuk-video-leave-frame {
  text-align: center;
  width: 950px;
  height: 646px;
  border-color: #d4351c;
  border: #d4351c 5px solid;
  padding: 0;
  margin-left: 18px;
  margin-top: 4px;
}

/* Sign out link for staff */

.sign-out-top--right {
  margin: 0 !important;
  float: right;
  text-align: right;
  padding-top: 5px;
  padding-right: 0px;
}

/* Pause button */

.govuk-button--quiet-navigation {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #0b0c0c;
  border: #0b0c0c  1px solid;
  color: #0b0c0c !important;
  box-shadow: 0 1px 0 #0b0c0c;
  margin-bottom: 15px !important;
}

.govuk-button--quiet-navigation, .govuk-button--quiet-navigation:link, .govuk-button--quiet-navigation:visited, .govuk-button--quiet-navigation:active, .govuk-button--quiet-navigation:hover {
  color: #0b0c0c;
}

.govuk-button--quiet-navigation:hover {
  background-color: darken(#FFF, 10%) !important;
  color: #0b0c0c;
}

.govuk-button--quiet-navigation:hover[disabled] {
  background-color: #f3f2f1;
}

/* Horizontal line */

.bottom-btns-line {
  width: 100%;
  height: 10px;
  background-color: #1d70b8;

}

.fit {
  max-width: 99%;
  max-height: 99%;
}
