// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/breakpointsMixin";
@import "components/video";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "jkeyboard";
//.govuk-template__body {
  //background-color: #444 !important;
//}

:root {
  --conduct-custom-max-width: 960px;
  --conduct-base-container-height: 500px;
  --conduct-base-container-width: 960px;
  --conduct-tile-container-height: 500px;
  --conduct-tile-container-width: 960px;
  --participants-list-height: 500px;
  --participants-list-width: 960px;
  --selfie-height: 125px;
  --selfie-width: 240px;
}

.govuk-table {
  font-size: 14px !important;
  line-height: 1.4285714286 !important;
}

.large-font {
  font-size: 24px !important;
}

.warning-panel {
margin: 2em 0;
background-color: #f3f2f1;
padding: 2em 2em 0.5em 2em;
}

.popup {

  position: absolute;
  top: 0;
  right: 635px;
  z-index: 1500;
  display: none;
}

.popup2 {

  position: absolute;
  top: 0;
  left: 135px;
  z-index: 1500;
  display: none;
}

.govuk-video-end-box {
  text-align: left;
  width: 310px;
  height: 180px;
  background-color: #fff;
  padding: 30px 20px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: #000 2px solid;
}

.red-paused {
  color: #d4351c;
  display: inline-block;
  font-weight: bold;
}

#touch-body-text {
  font-size: 21px;
}

.govuk-main-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
}

.app-width-container--wide {
  height: 760px;
  padding: 0 govuk-spacing(0);
  margin: 0;
  text-align: center;
  display: block;
  background-color: #fff;

}

#paused {
  padding: 0 govuk-spacing(0);
  margin: 0;
  text-align: center;
  display: none;
}

.preview {
  position:absolute !important;
  bottom:0!important;
  right:0!important;
}

.govuk-header__container {
  border-bottom-color: #00728F !important;
}

/*.govuk-header__link {
  color: #0b0c0c !important;
  cursor:default;
}*/

.dwp-video-header {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  display: block;
  padding: 15px 0px 5px 0px;
  position:relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

@media (max-width: 640px) {
.dwp-video-header {
  display: none;
  }
}
.dwp-video-header_touch {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  display: block;
  padding: 10px 0px 10px 0px;
  position:relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

.dwp-video-header-conduct {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  display: block;
  padding: 15px 0px 5px 0px;
  position:relative;
  width: 100%;
  height: 50px;
  text-align: center;
}


.dwp-video-header__container {
  width: 1280px;
  text-align: center;
}

.govuk-video-image {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline;
}



.video-image {
  text-align: center;
  width: 1680px;
  padding: 0;
  margin: 0;
}

.participants {
  width: 290px;
  height: 650px;
  background: #fff;
  float: right;
  display: inline;
  margin-top: 2px;
  padding: 10 0 10 10;
}

@media (max-width: 1024px) {
  .video-image {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

/* Top and bottom button divs */

.btn-video-top {
  width: 100%;
  text-align: center;
  height: auto;
  background-color: transparent;
  margin-bottom: 0;
  display: inline-block !important;
}


.btn-bottom {
  width: 1280px;
  display: inline-block !important;
  margin: 10px 0 30px 0;
  padding: 0;
}

.btn-top--right {
  margin: 0 !important;
  float: right;
}

.btn-video-top--right {
  margin: 0 !important;
  float: right;
}
.btn-top--right a {
  border-bottom: 0;
}

.btn-top--left {
  float: left;
}

.btn-bottom--right {
  margin-right: 2px !important;
  float: right;
}

.btn-bottom--left {
  float: left;
  margin-left: 3px !important;
}

.nav-link {
  float: right;
}

/* Style for status text on DWP-video-header */
.participants-names {
  display: inline-block;
  padding-top: 7.5px;
  color: #000000;
  width: 10%;
  text-align: left !important;
  float: left !important;
}

.participants-names-claimant {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  width: 8%;
  text-align: left !important;
  float: left !important;
}

.participants-number {
  display: inline-block;
  font-size: 19px;
  padding-top: 5px;
}

@media (max-width: 640px) {
  .participants-names {
    font-size: 14px;
    padding-left: 30px;
    display: none;
  }
}



.participants-names_touch {
  display: inline-block;
  font-size: 19px;
  padding-top: 15px;
  color: #000000;
  width: 50%;
  text-align: left !important;
  float: left !important;
}
/* Quiet warning button */

.govuk-button--quiet-warning {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #d4351c;
  border: #d4351c 1px solid;
  color: #d4351c !important;
  box-shadow: 0 1px 0 #d4351c;
  margin-bottom: 15px !important;
}

.govuk-button--quiet-warning, .govuk-button--quiet-warning:link, .govuk-button--quiet-warning:visited, .govuk-button--quiet-warning:active, .govuk-button--quiet-warning:hover {
  color: #0b0c0c;
}

.govuk-button--quiet-warning:hover {
  background-color: #FFF0ED !important;
}

.govuk-button--quiet-warning:hover[disabled] {
  background-color: #f3f2f1;
}

/* Home office secondary button */

.button-secondary {
	background-color: #DEE0E2;
  box-shadow: 0 1px 0 #0b0c0c;
	color: #0b0c0c;
  border: #0b0c0c 1px solid;
  &[disabled]:active {
		background-color: #cbcbcb;
    box-shadow: 0 0px 0 #0b0c0c;
  }
}

.button-secondary:hover {
	background-color: darken(#DEE0E2, 5%);
	color: #0b0c0c;
}

/* Frames for video waiting and leave screens */

.govuk-video-frame {
  text-align: center;
  width: 1271px;
  height: 712px;
  border-color: #0b0c0c;
  border: #0b0c0c 2px solid;
  padding: 0;
  position:relative;

  display: inline-block;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .govuk-video-frame  {
    width: 100%;
    height: 100%;
  }
}

.govuk-name-frame {
  text-align: center !important;
  width: 1200px;
  height: auto;
  padding: 0;
  display: inline-block;
  background: transparent;
}

.govuk-video-inside-frame {
  text-align: left !important;
  padding-top: 80px;
  padding-left: 90px;
  position:relative;
}

.govuk-video-leave-frame {
  text-align: center;
  width: 1271px;
  height: 716px;
  border-color: #d4351c;
  border: #d4351c 5px solid;
  padding: 0;

  margin-top: 4px;
  display: inline-block;
}

/* Sign out link for staff */

.sign-out-top--right {
  margin: 0 !important;
  float: right;
  text-align: right;
  padding-top: 5px;
  padding-right: 0px;
}

/* Pause button */

.govuk-button--quiet-navigation {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #0b0c0c;
  border: #0b0c0c  1px solid;
  color: #0b0c0c !important;
  box-shadow: 0 1px 0 #0b0c0c;
  margin-bottom: 15px !important;
  padding-top: 9px;
  padding-bottom: 9px;
}

.govuk-button--quiet-navigation, .govuk-button--quiet-navigation:link, .govuk-button--quiet-navigation:visited, .govuk-button--quiet-navigation:active, .govuk-button--quiet-navigation:hover {
  color: #0b0c0c;
}

.govuk-button--quiet-navigation:hover {
  background-color: darken(#FFF, 10%) !important;
  color: #0b0c0c;
}

.govuk-button--quiet-navigation:hover[disabled] {
  background-color: #f3f2f1;
}

.govuk-button--panel {
  background-color: #dee0e2;
  box-shadow: 0 2px 0 #626a6e;
}

.govuk-button--panel:hover {
  background-color: darken(#dee0e2, 10%) !important;
}

/*Remove media query on conduct page */
.govuk-button-respond {
  @include govuk-media-query($from: mobile) {
    width: auto;
  }
}

/* Horizontal line */

.bottom-btns-line {
  width: 100%;
  height: 10px;
  background-color: #1d70b8;

}

.fit {
  max-width: 99%;
  max-height: 99%;
}

/* Touch buttons */

.secondary-touch {
  padding: 15px;
  font-size: 24px;
  border-radius: 10px;
}

/* Pause touch */

.touch {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #0b0c0c;
  border: #0b0c0c  1px solid;
  color: #0b0c0c !important;
  box-shadow: 0 1px 0 #0b0c0c;
  margin-bottom: 30px !important;
  padding: 15px;
  border-radius: 10px;
  font-size: 19px;

}


.code-box-2 {
  background-color: #ffffff;
  width: 97%;
  margin-bottom: 30px;
  padding: 12px 0 12px 30px;
  font-size: 24px;
  border: 1px solid #bfc1c3;

}

.code-box-3 {
  background-color: #ffffff;
  width: 97%;
  margin-bottom: 30px;
  padding: 30px 0 30px 30px;
  border: 1px solid #bfc1c3;

}

.text-box-2 {
  background-color: #ffffff;
  width: 97%;
  padding: 30px 0px 30px 30px;
  margin: 0;
  border: 1px solid #bfc1c3;
}

.text-box-3 {
  background-color: #ffffff;
  width: 97%;
  padding: 30px 0px 30px 30px;
  margin-bottom: 30px;
  border: 1px solid #bfc1c3;
}

.code-box {
  background-color: #f3f2f1;
  height: 45px;
  width: 97%;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-top: 12px;
  font-size: 24px;
}

.text-box {
  background-color: #f3f2f1;
  width: 97%;
  padding: 30px 0 30px 30px;
  margin: 0;
}

.help-box {
  background-color: #ffffff;
  width: 97%;
  margin-bottom: 30px;
  padding: 12px 0 0px 30px;
  font-size: 24px;
  border: 1px solid #bfc1c3;

}

.code {
  font-weight: 400;
  font-size: 24px;
  font-family: "GDS Transport", "Arial";
  letter-spacing: 0.5rem;
}

.email {
  width: 80%;
}

.copy-email-btn {
  float: right;
  position: relative;
  margin-right: 15px;
  top: -17px;
}

.copy-help-btn {
  float: right;
  position: relative;
  margin-right: 15px;
  top: -4px;
}

.copy-code-btn {
  float: right;
  position: relative;
  margin-right: 15px;
  top: -4px;
}

.longURL{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-word-break: break-all;
}

input {
background-color: #fff;
border: 0;
height: 38px;
width: auto;
padding-left: 30px;
font-size: 19px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.app-copy-button {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  top: 10px;
  right: 10px;
  min-width: 110px;
  padding: 3px 10px;
  background: transparent;
  background-color: #ffffff !important;
  border: 1px solid #00823b;
  color: #00823b !important;
  box-shadow: 0 2px 0 0 #00703c;
  margin-bottom: 15px !important;
}

.app-copy-button, .app-copy-button:link, .app-copy-button:visited,.app-copy-button:hover {
  color: #0b0c0c;
}



.app-copy-button:hover {
  background-color: #FFF0ED !important;
}

.app-copy-button:hover[disabled] {
  background-color: #f3f2f1;
}

.app-copy-button:focus {
    color: #0b0c0c !important;
    background-color: #fd0 !important;
    -webkit-box-shadow: 0 2px 0 0 #0b0c0c;
    box-shadow: 0 2px 0 0 #0b0c0c;
    border: none;
  }

  .app-copy-button:active {
      color: #0b0c0c;
      -webkit-box-shadow: 0 2px 0 0 #0b0c0c;
      box-shadow: 0 2px 0 0 #0b0c0c;
      border: 2px solid #fd0;

    }

.govuk-refresh{

background: transparent;
background-color: #ffffff !important;
border: 1px solid #00823b;
padding-top: 9px;
padding-bottom: 8px;
color: #00823b !important;
box-shadow: 0 2px 0 0 #00703c;
margin-bottom: 15px !important;}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  font-family: "GDS Transport";
  width: 100px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items2 {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  font-family: "GDS Transport";
  width: 180px;
}

.autocomplete-items2 div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items2 div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}



.img-container {
        text-align: center;
        display: inline-block;
      }

      @media (max-width: 1024px) {
              img{
              width:100%;
              height:100%;
              }
            }

  .app-width-container--wide {

        padding: 0 govuk-spacing(0);
        margin-left: 0px;
        text-align: center;
        display: block;
        background-color: #fff;

      }

      .container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: 100%;
}

.container .btn {
  position: absolute;
  top:60%;
  left: 0.3%;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
  border:none;
}

.container .btn:focus {
    border: none;
}

.container .btn:hover {
  transform: translateY(1px);
  opacity:0.6;
  border: none;
}


.container .conductbtn {
position: absolute;
top:6.5%;
left: 0.9%;
background-color: transparent;
cursor: pointer;
text-align: center;
outline: none;
border:none;
}

.container .conductbtn:hover {
  transform: translateY(1px);
  opacity: 0.6;
  outline: none;
  border:none; }




/* Modal styling */

/* Add padding and align text to the container */
.modal-container {
  padding:0 0 32px 30px;
  text-align: left;
}

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 3px solid #0b0c0c;
  width: 500px; /* Could be more or less, depending on screen size */

}


.govuk-modal-dialog-header {
  margin-bottom: 0px;
  background-color: #0b0c0c;
  height: 45px;
}


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

.modal-close {
  display: block;
  width: auto;
  min-width: 44px;
  margin: 0;
  padding: 2px 5px;
  float: right;
  color: #ffffff;
  background-color: #0b0c0c;
  box-shadow: none !important;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;

}

.modal-close:hover {
  background-color: #ffdd00;
  color: #0b0c0c;
}

/* width < 1025px */
@media screen and (max-width: 1024px) {
  .small-and-medium-screen--no-display {
    display: none;
  }

  /* space around video removed for small & medium devices */
  .govuk-main-wrapper {
    padding-bottom: 0;
    padding-top: 0;
  }
}

/* width > 1024px */
@media screen and (min-width: 1025px) {
  .desktop-screen--no-display {
    display: none;
  }
}

/* width < 480px or width > 1024px */
@media screen and (min-width: 1025px), (max-width: 479px) {
  .medium-screen--only {
    display: none;
  }
}

/* width > 480px */
@media screen and (min-width: 480px) {
  .small-screen--only {
    display: none;
  }
}

.participants-container {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  display: block;
  padding: 15px 0px 5px 0px;
  position:relative;
  height: 50px;
}

.participants-header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 960px;
  align-items: center;

  @media screen and (max-width: 1024px) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.flex-responsive-container {
  position: relative;
  margin: 0;
  line-height: 0;
}


.flex-selfie-container {
  width: 25%;
  height: 25%;
  position: absolute !important;
  bottom: 0;
  right: 0;
  border: 2px solid #0b0c0c;
  object-fit: contain;


  video {
    height: 100%;
    width: 100%;
  }
}

.flex-responsive-container-waiting {
  position: relative;
  margin: 0;
  line-height: 0;
  border: 2px solid #0b0c0c;

  @media screen and (max-width: 1024px) {
    display: none;
}
}

.flex-selfie-container-waiting {
  width: 25%;
  height: 25%;
  position: absolute !important;
  bottom: 0;
  right: 0;
  border-top: 2px solid #0b0c0c;
  border-left: 2px solid #0b0c0c;
  object-fit: contain;


  video {
    height: 100%;
    width: 100%;
  }
}

/* Video and status bar container */
.flex-container {
  margin: 0 auto;
  min-height: 320px;
  min-width: 320px;

  @media screen and (max-width: 1024px) {
    max-width: 1024px; //For smaller devices remove white spaces around it.
    height: calc(var(--vh, 1vh) * 100); //Use vh as a fallback for browsers that do not support Custom Properties.
  }

  @media screen and (min-width : 1025px) {
    max-width: 960px; //Keep all the top banner, status bar and video aligned on desktop screen.
    margin: 0 auto;
  }
}

/* Container item */
.flex-item {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Video element */
.flex-item:nth-child(1) {
  @media screen and (max-width: 479px) {
    border-top: 5px solid #00728F !important;
    height: calc(80% - 5px);
  }

  @media screen and (min-width: 480px) and (max-width: 1024px) {
    height: calc(85% - 10px);
  }

  video {
    @media screen and (max-width: 1024px) {
      object-fit: cover;
    }
  }
}

/* Status bar */
.flex-item:nth-child(2) {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  text-align: center;
  justify-content: space-evenly;

  button {
    background: transparent;
    background-color: #ffffff !important;
    border-color: #0b0c0c;
    border: #0b0c0c 1px solid;
    color: #0b0c0c !important;
    box-shadow: 0 1px 0 #0b0c0c;
    font-size: 19px;
  }

  @media screen and (max-width: 479px) {
    height: 10%;
    flex-direction: column;

    button {
      width: 90%;
      height: 30%;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 1024px) {
    height: 15%;
    flex-direction: row;
  }

  @media screen and (min-width: 1025px) {
    display: none;
  }
}

/* Refresh design Begins */

/* Variables for height & width calculations. */

$border-top: 10px;
$main-wrapper-padding: 20px;
$full-height: calc(var(--vh) * 100);
$full-width: calc(var(--vw) * 100);
$header-height: var(--header-height);
$footer-height: var(--footer-height);
$mobile-height: calc(#{$full-height} - calc(#{$header-height} + #{$footer-height}));
$adjusted-desktop-height: calc(#{$full-height} - calc(var(--header-height) + (#{$main-wrapper-padding} * 2) + #{$footer-height}));
$adjusted-desktop-width: calc(#{$adjusted-desktop-height} * 1.333);

/* ************** */

.tile-area {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  line-height: 0;
  margin: auto;
  background: #f1f2f3;

  @include for-breakpoint (desktop-screen) {
    height: $adjusted-desktop-height;
    width: $adjusted-desktop-width;
  }

  @include for-breakpoint (small-to-medium-screen) {
    height: 100vh;
    width: 100vw;
    height: $mobile-height;
    width: $full-width;
    margin: 0;
    padding: 0;
  }
}

.tile-primary {
  z-index: 1;
  grid-column: 1 / span 10;
  grid-row: 1 / span 10;

  video {
    height: 100%;
    width: 100%;

    @include for-breakpoint (small-to-medium-screen) {
      object-fit: cover;
    }
  }
}

.tile-secondary {
  z-index: 2;
  grid-column: 8 / span 10;
  grid-row: 8 / span 10;

  video {
    height: 100%;
    width: 100%;

    @include for-breakpoint (small-to-medium-screen) {
      object-fit: cover;
    }
  }
}

.govuk-main-wrapper {
  @include for-breakpoint (desktop-screen) {
    padding-top: $main-wrapper-padding;
    padding-bottom: $main-wrapper-padding;
  }

  @include for-breakpoint (small-to-medium-screen) {
    margin: 0;
    padding: 0;
  }
}

.custom-header-width {
  @include for-breakpoint (desktop-screen) {
    max-width: $adjusted-desktop-width !important;
  }
}

.custom-max-width {
  @include for-breakpoint (desktop-screen) {
    max-width: $adjusted-desktop-width;
  }
}

.small-to-medium-screen--show {
  @include for-breakpoint (desktop-screen) {
    display: none;
  }
}

.large-screen--hide {
  @include for-breakpoint (small-to-medium-screen) {
    display: none;
  }
}

.small-to-medium-screen--top-border {
  @include for-breakpoint (small-to-medium-screen) {
    border-top: $border-top solid #00728F !important;
    width: $full-width;
  }
}

.portrait-mode--no-display {
  @include for-breakpoint (portrait-mode) {
    display: none;
  }
}

.landscape-mode--no-display {
  @include for-breakpoint (landscape-mode) {
    display: none;
  }
}

.status-bar-background {
  font-family: Arial, sans-serif, "GDS Transport";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  text-align: center;
  justify-content: space-evenly;
}

.refresh-button-container--header {
  display: flex;
  justify-content: flex-end;
  width: auto;
  margin: 0 auto;

  @include for-breakpoint (desktop-screen) {
    max-width: $adjusted-desktop-width;
  }

  @include for-breakpoint (small-to-medium-screen) {
    max-width: $full-width;
    padding-right: 5px;
  }

  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.refresh-button-container--footer {
  display: flex;
  justify-content: center;

  @include for-breakpoint (small-to-medium-screen) {
    max-width: $full-width;
  }

  button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
}

/*** Resizable conduct page begin ****/
.custom-header-width--conduct {
  max-width: var(--conduct-custom-max-width);
}

.custom-status-bar-width--conduct {
  max-width: var(--conduct-custom-max-width);
}

.base-container--conduct {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  justify: center;
  height: var(--conduct-base-container-height);
  width: var(--conduct-base-container-width);

}

.tile-container--conduct {
  position: relative;
  height: var(--conduct-tile-container-height);
  width: var(--conduct-tile-container-width);
  background: #f1f2f3;
}

.participants-list--conduct {
  height: var(--participants-list-height);
  width: var(--participants-list-width);
  background: #ffffff;
  margin-left: 20px;
}

.tile-primary--conduct {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;

  video {
    height: 100%;
    width: 100%;
    object-fit: contain;

    @include for-breakpoint (small-to-medium-screen) {
      object-fit: cover;
    }
  }
}

.tile-secondary--conduct {
  position: absolute;
  right: 0;
  bottom: 0;
  height: var(--selfie-height);
  width: var(--selfie-width);
  z-index: 2;

  video {
    height: 100%;
    width: 100%;
    object-fit: contain;

    @include for-breakpoint (small-to-medium-screen) {
      object-fit: cover;
    }
  }
}
/*** Resizable conduct page end ****/


/*** Translation help page start ***/


.translation-nav {
  float: right;
  font-size: 16px;
  font-weight: 400;
  font-family: "GDS Transport", Arial, sans-serif;
}

.translation-nav_list {
  list-style: none;

}

.translation-nav_list-item {
  float: left;
  border-right: 1px solid #b1b4b6;
  height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;

}

.translation-nav_list-item-2 {
  float: left;
  height: 16px;
  padding-left: 0px;
  padding-right: 10px;
  margin-bottom: 0px;
}



.conductbtn {
position: absolute;
margin-top: 540px;
margin-left: 150px;
}


.govuk-notification-banner {
  margin-bottom: 50px;
  padding: 20px 20px 0;
  border: 5px solid #1d70b8;
  font-family: "GDS Transport",Arial,sans-serif;
}

// Camera and settings //

.camera-select {
  width: 70%;
  text-align: left !important;
  float: left !important;
  margin-bottom: 20px;
}

.camera-select-header {
  width: 100%;
  text-align: right !important;
  float: right !important;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.govuk-header-settings {
  display: block;
  float: right;
  clear: both;
  width: 50%;
}
