
.video-frame {
  position: relative;
  height: 0;
  padding-top: 90%;
  margin-bottom: 20px;
  background: #0b0b0c;
}

.selfie-multiple {
  position: absolute;
  width: 50%;
  height: 50%;
  float: right;
  right: 0;
  bottom: 0;
  border-top: 1px solid #505a5f;
  border-left: 1px solid #505a5f;

}

.attendee-multiple-1 {
  position: absolute;
  width: 50%;
  height: 50%;
  float: right;
  right: 0;
  top: 0;
  border-left: 1px solid #505a5f;
}

.attendee-multiple-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  float: right;
  left: 0;
  top: 0;
}

.mobile-multiple-top {
  position: absolute;
  width: 100%;
  height: 50%;
  float: right;
  left: 0;
  top: 0;
}

.mobile-multiple-left {
  position: absolute;
  width: 50%;
  height: 50%;
  float: right;
  left: 0;
  bottom: 0;
  border-top: 1px solid #505a5f;
}

.landscape-left-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  float: right;
  left: 0;
  bottom: 0;
  border-right: 1px solid #505a5f;
}
.landscape-right-2 {
  position: absolute;
  width: 50%;
  height: 100%;
  float: right;
  right: 0;
  bottom: 0;
}

.attendee-multiple-3 {
  position: absolute;
  width: 50%;
  height: 50%;
  float: right;
  left: 0;
  bottom: 0;
  border-top: 1px solid #505a5f;
}

.attendee-multiple-4 {
  position: absolute;
  width: 50%;
  height: 50%;
  float: right;
  left: 0;
  top: 0;
}


.video-participant {
  object-fit: contain;
  margin: 0;
  position: absolute;
  top: 50%;
  width: 99%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.video-participant-2 {
  object-fit: contain;
  margin: 0;
  position: absolute;
  left: 50%;
  height: 99%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}



.video-frame-attendee {
  position: relative;
  height: 0;
  padding-top: 70%;
  margin-bottom: 20px;
  background: #0b0b0c;
}
