{% extends "layout-citizen.html" %}

{% block pageTitle %}
  How to prepare for a video appointment - Attend a video appointment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
        <span class="govuk-caption-xl" style="margin-top:40px">Guidance</span>
          <h1 class="govuk-heading-xl">How to prepare for a video appointment</h1>
          <h2 class="govuk-heading-m">Equipment you need</h2>
          <p>You'll need the following:<p>

            <ul class="govuk-list govuk-list--bullet">
              <li>a computer, laptop, smartphone or tablet with a camera and microphone</li>
              <li>Google Chrome or Safari web browser</li>
              <li>internet access – we suggest you use WiFi to avoid mobile data charges</li>
            </ul>
              <h2 class="govuk-heading-m">Before your appointment</h2>
                <p>To get ready:<p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>make sure the device you’ll use is fully charged or plugged in</li>
                  <li>dress as if you were coming into a jobcentre</li>
                  <li>decide where you’ll sit, it should be a space that's quiet, private and well lit</li>

                </ul>
              <h2 class="govuk-heading-m">During your appointment</h2>
                <p>When your camera is on, you’ll be seen at all times, whether you’re speaking or not.
                  This includes if you change to another tab, or on some devices, even if you lock your screen.</p>

                <p>If you experience any issues with the picture or sound during the appointment, try the 'Refresh' button.
                  In most cases this will fix the problem.</p>

                <p> If you close your browser or lose connection before the end of your appointment, you can use the 'Attend your video appointment' link again to rejoin.</p>

                <div class="warning-panel"><div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>You are not allowed to record a video appointment without our consent. If we suspect you are making a recording, we will end the appointment immediately.<br><br>Any criminal behaviour will be reported.</span></strong></div></div>
              <h2 class="govuk-heading-m">How to join a video appointment</h2>
              <ol class="govuk-list govuk-list--number">
                <li>Select the ‘Attend your video appointment’ link within 10 minutes of your appointment start time.</li>
                <li>You will be asked for use of your camera and microphone. You must choose 'Allow' to take part in the video appointment.</li>
                <li>You should then see the other person and a small window showing yourself. If you do not see the other person, please wait for them to join.</li>


          </div>
    </div>
<button class="govuk-button" style="margin-top:30px" onclick="closeWin()">Close</button>
  </div>

  <script>
    function closeWin() {
      var myWindow = window.close("help")
      myWindow.close();
    }
</script>

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
