{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Remote consultation - staff facing prototype
      </h1>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>

      <p><a class="govuk-button" role="button" href="version_2/create-video-start">Latest version</a></p>

      <h2><a href="version_2/create-video-start" target="_blank">Version 2</a> </h2>

      <p>  Assumption: Users only need to copy and save the code and link in a place where the host and attendee can access the appointment. </p>
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Hypotheses
      </span>
      </summary>
      <div class="govuk-details__text">
      <p class="govuk-body"> <strong> Because:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>within the UC service, the user is given individual boxes for the required information to be copied in to</li>
      <li>the help link is a static link and can be saved elsewhere</li>
      <li>we have observed confusion around where the help link should be copied to once separated out</li>
      </ul>
      <strong> We believe that:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>removing the content around the links </li>
      <li> removing the help link from this page and giving it in a more appropriate way</li>
      </ul>
      <strong> Will result in:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>a smoother and quicker flow between our create service and the use case</li>
      </ul>
      <strong> We'll know this is true:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>when observations show users copying the correct information into the correct place</li>
      </ul> </p>
      </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Version details: 2.0, 2.1
  </span>
</summary>
<div class="govuk-details__text">
<h3 class="govuk-heading-m">2.0</h3>
<ul class="govuk-list govuk-list--bullet">
  <li> Removal of the help link from the video confirmation page.</li>
  <li> Finish button content updated to 'Create another appointment'.</li>
  <li> 'Create another appointment' now takes the user to the 'Enter appointment details' page.</li>
  <li> 'Close' button added if create service opened in new tab.</li>
  <li> Link removed from inset text, as it has the same function as the main call to action. </li>
  <li>Content updated to be use case agnostic on video confirmation page.</li>
  <li>Long URL wraps around within container on smaller screen sizes.</li>
</ul>
<h3 class="govuk-heading-m">2.1</h3>
<ul class="govuk-list govuk-list--bullet">
  <li> Removed 'Cancel' from the 'Enter appointment details'page as there is no current need for it. </li>
</ul>
</div>
</details>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Issues this addresses 2.0
</span>
</summary>
<div class="govuk-details__text">
<h3 class="govuk-heading-m">2.0</h3>
<ul class="govuk-list govuk-list--bullet">
<li>Confusion over where to put the help link. This is no longer required and is not individual to each appointment.</li>
<li>We assume the close button will encourage some tabs to be closed once done, returning them to the next part of the journey.</li>
<li>Finish button content updated to be more representative of its function. Going straight to the 'Enter appointment details' page reduces the number of clicks.</li>


</ul>
</div>
</details>

      <h2><a href="version_1/create-video-start">Version 1</a> </h2>

      <p> Proof of concept - start of trial </p>

      <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Version details: 1.1
  </span>
</summary>
<div class="govuk-details__text">
<h3 class="govuk-heading-m">1.1</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Updated form labels to match form inputs on 'Enter video details' for multiple accessibility requirements. When you select an input label, automatic focus on input box</li>
  <li>Updated prototype code for 'Create video appointment', 'Change details' and 'Finish' to be read out as a button using a screenreader</li>
</ul>
</div>
</details>

      <h2><a href="WIP/create-video-start">Design WIP</a> </h2>


      <p> Proposed design iterations </p>


            <h2><a href="welsh-create-appointment/version_1/create-video-start">Welsh version</a> </h2>
            <p>Create service with welsh translation</p>
<hr>
<br>
<h2> <a href="research/link/create-video-start.html">Testing version 1a - DOI and UC journey (link) </a> </h2>
<h2> <a href="research/code/create-video-start.html">Testing version 1b - DOI and UC journey (code)</a> </h2>
<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Version details
</span>
</summary>
<div class="govuk-details__text">
<ul class="govuk-list govuk-list--bullet">
<li>Third section added to video confirmation page with the separate help link, with additional copy button.</li>
<li>Order of information given on video confirmation page updated to: code/link for conduct, link for attend, help link. The help link may not be required for every use case.</li>
<li>Content updated to be use case agnostic on video confirmation page.</li>

</ul>
</div>
</details>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Assumptions
</span>
</summary>
<div class="govuk-details__text">
  <h3 class="govuk-heading-s">Code</h3>
<ul class="govuk-list govuk-list--bullet">
<li>A code is easier to copy and paste manually than a URL.</li></ul>
  </details>

        <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        Research findings
        </span>
        </summary>
        <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
        <!--<li>Majority of work coaches spoke of 2 devices being a major pain point and it being much better on one device and being one journey, 'all in one place'.</li>
        <li>Majority of work coaches spoke of benefits of video being better interaction with customers, and saving the claimants time but many struggled with the time given for and between appointments.</li> -->
        <li>Majority of work coaches flicked between tabs to copy information between UC build and our services. One split the screen and two made a physical note of appointment details.</li>
        <li>5/6 work coaches understood how and where to copy and paste the code/link and attendee link between the two services. One needed guidance as had not scrolled down on UC to-do to see inputs.</li>
        <li>5/6 workcoaches used the 'copy' buttons.</li>
        <li>Confusion over where to copy the help link. Some copied in to the attendee link box on the UC prototype. 2 others spoke of putting it into the claimants journal.</li>
        <li>A few workcoaches pulled the tab out in to a new window and worked split screen whilst on the video appointment.</li>
        <!--<li>Majority of work coaches agreed that the one to-do with clear instructions for the claimant would cause less confusion.</li> -->
        <li>Often workcoaches had multiple tabs open and did not close our services once finished. One work coach got particularly lost in them.</li>
        <li>'Finish' button caused confusion over whether the user had done something wrong when it took them back to the start.</li>
        <li>'The quicker we can make the booking process the better'.</li>


        </ul>
          </details>


{% endblock %}
