// global styles for <a> and <p> tags
$govuk-global-styles: true;


// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';
$govuk-header-border-color: #00728F !important;
// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "jkeyboard";
//.govuk-template__body {
  //background-color: #444 !important;
//}

.govuk-video-end-box {
  text-align: left;
  width: 310px;
  height: 180px;
  background-color: #fff;
  padding: 30px 20px 30px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: #000 2px solid;
}

.red-paused {
  color: #d4351c;
  display: inline-block;
  font-weight: bold;
}

#touch-body-text {
  font-size: 21px;
}

.govuk-main-wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
}

.app-width-container--wide {
  height: 760px;
  padding: 0 govuk-spacing(0);
  margin: 0;
  text-align: center;
  display: block;
  background-color: #fff;

}

#paused {
  padding: 0 govuk-spacing(0);
  margin: 0;
  text-align: center;
  display: none;
}

.preview {
  position:absolute !important;
  bottom:0!important;
  right:0!important;
}

.govuk-header__container {
  border-bottom-color: #00728F !important;
}

/*.govuk-header__link {
  color: #0b0c0c !important;
  cursor:default;
}*/

.govuk-back-link {
  margin-top: 0px !important;
}

.dwp-video-header {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  display: block;
  padding: 15px 0px 5px 0px;
  position:relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

@media (max-width: 640px) {
.dwp-video-header {
  display: none;
  }
}

.dwp-video-header_touch {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #000000;
  background: #f3f2f1;
  display: block;
  padding: 10px 0px 10px 0px;
  position:relative;
  width: 100%;
  height: 50px;
  text-align: center;
}

.dwp-video-header__container {
  width: 1280px;
  text-align: center;
}

.govuk-video-image {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}



.video-image {
  text-align: center;
  width: 1680px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .video-image {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

/* Top and bottom button divs */

.btn-video-top {
  width: 100%;
  text-align: center;
  height: auto;
  background-color: transparent;
  margin-bottom: 0;
  display: inline-block !important;
}


.btn-bottom {
  width: 1280px;
  display: inline-block !important;
  margin: 10px 0 30px 0;
  padding: 0;
}

.btn-top--right {
  margin: 0 !important;
  float: right;
}

.btn-video-top--right {
  margin: 0 !important;
  float: right;
}
.btn-top--right a {
  border-bottom: 0;
}

.btn-top--left {
  float: left;
}

.btn-bottom--right {
  margin-right: 2px !important;
  float: right;
}

.btn-bottom--left {
  float: left;
  margin-left: 3px !important;
}

.nav-link {
  float: right;
}

/* Style for status text on DWP-video-header */
.participants-names {
  display: inline-block;
  font-size: 19px;
  padding-top: 7.5px;
  color: #000000;
  width: 50%;
  text-align: left !important;
  float: left !important;
}

@media (max-width: 640px) {
  .participants-names {
    font-size: 14px;
    padding-left: 30px;
    display: none;
  }
}



.participants-names_touch {
  display: inline-block;
  font-size: 19px;
  padding-top: 15px;
  color: #000000;
  width: 50%;
  text-align: left !important;
  float: left !important;
}
/* Quiet warning button */

.govuk-button--quiet-warning {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #d4351c;
  border: #d4351c 1px solid;
  color: #d4351c !important;
  box-shadow: 0 1px 0 #d4351c;
  margin-bottom: 15px !important;
}

.govuk-button--quiet-warning, .govuk-button--quiet-warning:link, .govuk-button--quiet-warning:visited, .govuk-button--quiet-warning:active, .govuk-button--quiet-warning:hover {
  color: #0b0c0c;
}

.govuk-button--quiet-warning:hover {
  background-color: #FFF0ED !important;
}

.govuk-button--quiet-warning:hover[disabled] {
  background-color: #f3f2f1;
}

/* Home office secondary button */

.button-secondary {
	background-color: #DEE0E2;
  box-shadow: 0 1px 0 #0b0c0c;
	color: #0b0c0c;
  border: #0b0c0c 1px solid;
  &[disabled]:active {
		background-color: #cbcbcb;
    box-shadow: 0 0px 0 #0b0c0c;
  }
}

.button-secondary:hover {
	background-color: darken(#DEE0E2, 5%);
	color: #0b0c0c;
}

/* Frames for video waiting and leave screens */

.govuk-video-frame {
  text-align: center;
  width: 1271px;
  height: 712px;
  border-color: #0b0c0c;
  border: #0b0c0c 2px solid;
  padding: 0;
  position:relative;

  display: inline-block;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .govuk-video-frame  {
    width: 100%;
    height: 100%;
  }
}

.govuk-name-frame {
  text-align: center !important;
  width: 1200px;
  height: auto;
  padding: 0;
  display: inline-block;
  background: transparent;
}

.govuk-video-inside-frame {
  text-align: left !important;
  padding-top: 80px;
  padding-left: 90px;
  position:relative;
}

.govuk-video-leave-frame {
  text-align: center;
  width: 1271px;
  height: 716px;
  border-color: #d4351c;
  border: #d4351c 5px solid;
  padding: 0;

  margin-top: 4px;
  display: inline-block;
}

/* Sign out link for staff */

.sign-out-top--right {
  margin: 0 !important;
  float: right;
  text-align: right;
  padding-top: 5px;
  padding-right: 0px;
}

/* Pause button */

.govuk-button--quiet-navigation {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #0b0c0c;
  border: #0b0c0c  1px solid;
  color: #0b0c0c !important;
  box-shadow: 0 1px 0 #0b0c0c;
  margin-bottom: 15px !important;
}

.govuk-button--quiet-navigation, .govuk-button--quiet-navigation:link, .govuk-button--quiet-navigation:visited, .govuk-button--quiet-navigation:active, .govuk-button--quiet-navigation:hover {
  color: #0b0c0c;
}

.govuk-button--quiet-navigation:hover {
  background-color: darken(#FFF, 10%) !important;
  color: #0b0c0c;
}

.govuk-button--quiet-navigation:hover[disabled] {
  background-color: #f3f2f1;
}

/* Horizontal line */

.bottom-btns-line {
  width: 100%;
  height: 10px;
  background-color: #1d70b8;

}

.fit {
  max-width: 99%;
  max-height: 99%;
}

/* Touch buttons */

.secondary-touch {
  padding: 15px;
  font-size: 24px;
  border-radius: 10px;
}

/* Pause touch */

.touch {
  background: transparent;
  background-color: #ffffff !important;
  border-color: #0b0c0c;
  border: #0b0c0c  1px solid;
  color: #0b0c0c !important;
  box-shadow: 0 1px 0 #0b0c0c;
  margin-bottom: 30px !important;
  padding: 15px;
  border-radius: 10px;
  font-size: 19px;

}


.code-box {
  background-color: #f3f2f1;
  height: 45px;
  width: 97%;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-top: 12px;
  font-size: 24px;
}

.text-box {
  background-color: #f3f2f1;
  height: 560px;
  width: 97%;
  padding: 30px 0 30px 30px;
  margin: 0;
}

.code {
  font-weight: 400;
  font-size: 24px;
  font-family: "GDS Transport";
  letter-spacing: 0.5rem;
}

.email {
  width: 80%;
}

.copy-email-btn {
  width: 20%;
  float: right;
  position:relative;
  top: -590px;

}

.copy-code-btn {
  width: 20%;
  float: right;
  position:relative;
  top: -35px;

}

input {
background-color: #fff;
border: 0;
height: 38px;
width: auto;
padding-left: 30px;
font-size: 19px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.app-copy-button {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  top: 10px;
  right: 10px;
  min-width: 110px;
  padding: 3px 10px;
  background: transparent;
  background-color: #ffffff !important;
  border: 1px solid #00823b;
  color: #00823b !important;
  box-shadow: 0 2px 0 0 #00703c;
  margin-bottom: 15px !important;
}

.app-copy-button, .app-copy-button:link, .app-copy-button:visited, .app-copy-button:active, .app-copy-button:hover {
  color: #0b0c0c;
}

.app-copy-button:hover {
  background-color: #FFF0ED !important;
}

.app-copy-button:hover[disabled] {
  background-color: #f3f2f1;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  font-family: "GDS Transport";
  width: 100px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete-items2 {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  font-family: "GDS Transport";
  width: 180px;
}

.autocomplete-items2 div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items2 div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}



.img-container {
        text-align: center;
        display: inline-block;
      }

      @media (max-width: 1024px) {
              img{
              width:100%;
              height:100%;
              }
            }

  .app-width-container--wide {

        padding: 0 govuk-spacing(0);
        margin-left: 0px;
        text-align: center;
        display: block;
        background-color: #fff;

      }

      .container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: 100%;
}

.container .btn {
  position: absolute;
  top:60%;
  left: 0.3%;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
  border:none;
}

.container .btn:focus {
    border: none;
}

.container .btn:hover {
  transform: translateY(1px);
  opacity:0.6;
  border: none;
}


.container .conductbtn {
position: absolute;
top:6.5%;
left: 0.9%;
background-color: transparent;
cursor: pointer;
text-align: center;
outline: none;
border:none;
}

.container .conductbtn:hover {
  transform: translateY(1px);
  opacity: 0.6;
  outline: none;
  border:none; }


  @import "components/video";

/* Modal styling */

/* Add padding and align text to the container */
.modal-container {
  padding:0 0 32px 30px;
  text-align: left;
}

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 3px solid #0b0c0c;
  width: 500px; /* Could be more or less, depending on screen size */

}


.govuk-modal-dialog-header {
  margin-bottom: 0px;
  background-color: #0b0c0c;
  height: 45px;
}


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

.modal-close {
  display: block;
  width: auto;
  min-width: 44px;
  margin: 0;
  padding: 2px 5px;
  float: right;
  color: #ffffff;
  background-color: #0b0c0c;
  box-shadow: none !important;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;

}

.modal-close:hover {
  background-color: #ffdd00;
  color: #0b0c0c;
}

/* Desktop (width > 1024px) */
@media screen and (max-width: 1024px){
  .device-desktop-screen{
    display: none;
  }
}

/* small and Medium sized devices (width < 1024px) */
@media screen and (min-width: 1025px){
  .device-small-and-medium-screen{
    display: none;
  }
}

.main-content-container--full-width{
  height: calc(100vh - 220px);
  width: 100vw;
  padding: 0 govuk-spacing(0);
  margin: 0;
  text-align: center;
  display: block;
  background-color: #fff;
}