{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Apwyntiad fideo - Mynychu apwyntiad fideo
{% endblock %}

{% block header %}

{% include "includes/header-conduct-welsh.html" %}
<div class="dwp-video-header">
  <div class="govuk-width-container" style="margin: 0, text-align: center>
    {% include "includes/top-btn-citizen-welsh.html" %}
      </div>
</div>
{% endblock %}

{% block content %}

<div class="app-width-container--wide" id="one" style="display:block">
  <div class="govuk-video-image">
 <img src="/public/images/workcoach8.png">

  </div>

</div>


<div style="float: right; margin:50px 0 0 0">
<a href="end-complete-citizen">Appointment finished</a></div>



{% endblock %}
