{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Sorry, there's a problem with the service - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Sorry, there's a problem with the service
            </h1>

          <p>Try to rejoin the appointment.</p>
          <p> If that does not work, you do not need to do anything. We will contact you to reschedule the appointment. </p>



            <a href="conduct-video-citizen" style="margin-top:30px" class="govuk-button">Rejoin appointment</a>


    </div>
  </div>
</div>
{% endblock %}
