{% extends "layout-create-WIP.html" %}

{% block pageTitle %}
  Sorry, there is a problem with the service – Create a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Sorry, there is a problem with the service
            </h1>

          <p>Try again later.</p>
          <ul class="govuk-list govuk-list--bullet">

    </div>
    </div>

{% endblock %}
