{% extends "layout-staff.html" %}

{% block pageTitle %}
  This appointment has ended - Conduct a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
            The appointment has ended
            </h1>

          <p>Check you have the correct code and try again. </p>
          <a href="enter-code" style="margin-top: 30px" class="govuk-button">Try again</a>

        </div>
    </div>

{% endblock %}
