{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Video appointment - Conduct a video appointment
{% endblock %}
{% block header %}
<header class="govuk-header" role="banner" data-module="dwp-header">
  <div class="govuk-header__container">
    <div class="govuk-width-container custom-header-width--conduct" >

        <a href="/" class="govuk-header__link govuk-header__link--service-name">

      <div class="govuk-header__contents">Conduct a video appointment</div></a>

<!--  Radio buttons -->
<div class="govuk-width-container custom-header-width--conduct" style="float:right; margin-right:0px;">
<label class="govuk-label" for="blur" style="color:#fff; margin-right:20px; margin-top: 5px; display:inline; float:left;">
  Hide background
</label>
  <div class="govuk-radios govuk-radios--inline govuk-radios--small" style="margin-bottom: 5px; display:inline;" id="blur" name="blur">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" checked>
      <label class="govuk-label govuk-radios__label" for="changed-name" style="color:#fff">
        On
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" onclick="location.href='blur-opt-2.html';">
      <label class="govuk-label govuk-radios__label" for="changed-name-2" style="color:#fff">
        Off
      </label>
    </div>
  </div>

</div> </div>

        </div>

</header>

<div id="header-area" class="dwp-video-header-conduct">
  <div class="govuk-width-container custom-header-width--conduct" style="margin: 0, text-align: center;">
    {% include "includes/top-btn-conduct-staff.html" %}
  </div>
</div>

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="video-frame">
          <div class="attendee-main">
          <img class="video-participant" style="height:100%" src="/public/images/attendee_1.png">
        </div>
          <div class="selfie-multiple-small">
  <img class="video-participant" style="object-fit:cover; height:100%" src="/public/images/whitebackground.png">
</div>
    </div>
    </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Participants</h2>
        <dl class="govuk-summary-list" style="font-size:16px">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Host (me)
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                   <span class="govuk-visually-hidden"> No action available</span>
                 </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Attendee
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                   <span class="govuk-visually-hidden"> No action available</span>
                 </a>
            </dd>
          </div>
          </div>


    <script>
      var video = document.querySelector("#videoElement");

      if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
          .then(function (stream) {
            video.srcObject = stream;
          })
          .catch(function (err0r) {
            console.log("Something went wrong!");
          });
      }
    </script>

{% endblock %}

{% block footer %}

<div class="govuk-width-container">
  <a class="govuk-link" style="float:left" href="blur-opt-2">Back</a> <a class="govuk-link" style="float:right" href="replace-background">Next</a></div>

{% endblock %}
