{% extends "layout_unbranded.html" %}

{% block headIcons %}

{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block header %}

{% include "includes/header-video.html" %}
<div class="dwp-video-header">
    {% include "includes/top-btn-conduct-staff.html" %}
</div>
{% endblock %}

{% block content %}
<div class="app-width-container--wide">
  <div class="govuk-video-image">
    <img src="/public/images/staffview.png">
    {% include "includes/bottom-btns-staff.html" %}
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
