{% extends "layout_video-staff.html" %}

{% block pageTitle %}
  Remote consultation
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-video-frame">
    <div class="govuk-video-inside-frame">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Are you sure you want to end the appointment?</h1>
      <p>If you end the appointment now, the session will be closed and the other person will be disconnected.</p>

<a href="end-staff" class="govuk-button" style="margin: 25px 15px 0px 0px">Yes, confirm</a>
<a href="conduct-video-staff" class="govuk-button govuk-button--secondary " style="margin-top: 25px">No, resume</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}
