{% extends "layout-staff.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <form method="post" action="manage-centre">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your video appointment has ended
            </h1>
          </legend>
          </fieldset>

<p>You can now finish this session and return to the start.</p>

<a href="join-appointment/start" style="margin: 30px 15px 0px 0px" class="govuk-button">Finish</a>


      </form>
    </div>
    </div>
    </div>
  </div>


  <script>
    function closeWin() {
  myWindow.close();   // Closes the new window
}

</script>

{% endblock %}
