{% extends "layout-staff.html" %}

{% block pageTitle %}
  Confirm appointment ended
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Your video appointment has ended
      </h1>


        <p>You can now finish and return to the start.</p>

        <a href="join-appointment/start" style="margin: 30px 15px 0px 0px" class="govuk-button">Finish</a>


      </div>
    </div>
  </div>



{% endblock %}
