{% extends "layout.html" %}

{% block pageTitle %}
  Remote Consultation
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <form method="post" action="join-appts-staff">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-xl">
              Sign in
            </h1>
          </legend>
          <p>This service allows you to manage and conduct your video appointments.
          </p>
          </fieldset>
{{ govukInput({
  label: {
    text: "User name"
  },
  id: "user-name",
  name: "user-name",
  classes: 'govuk-!-width-two-thirds'
}) }}

{{ govukInput({
  label: {
    text: "Password"
  },
  id: "password",
  name: "password",
  classes: 'govuk-!-width-two-thirds'
}) }}
{{ govukButton({
      text: "Continue",
      classes: 'govuk-!-margin-top-6'
  }) }}
      </form>
    </div>
    </div>
    </div>
{% endblock %}
