{% extends "layout.html" %}

{% block pageTitle %}
  Active appointments - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="margin-top: 40px">
            Active appointments
        </h1>
          <h2 class="govuk-body-l">11 February 2020</h2>
          <p>You have no active appointments. <br>Appointment details will show here when a claimant joins.</p>
<a href="join-start-staff" style="margin: 30px 15px 0px 0px" class="govuk-button">Finish</a>
    </div>
  </div>
</div>
{% endblock %}
