{% extends "layout_appt-staff.html" %}

{% block pageTitle %}
  Remote Consultation
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l">
            Active appointments
          </h1>

          <h2 class="govuk-body-l">11 February, 2020</h2>

<p> You have no active appointments at this time. <br>
  Once a scheduled appointment is joined, it will be displayed here.</p>

    </div>

    </div>

{% endblock %}
