{% extends "layout.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Start a video appointment
            </h1>

          <p>This service lets you view and start your video appointments.</p>

          <a href="join-appts-staff.html" role="button" draggable="false" style="margin-top:30px" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>
    </div>
    </div>
</div>
{% endblock %}
