{% extends "layout-staff.html" %}

{% block pageTitle %}
  Sorry, there is a problem with the service - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Sorry, there is a problem with the service
      </h1>


        <p class="govuk-body">Try again later.</p>

        <p class="govuk-body">Contact any participants if you need to reschedule the appointment.</p>


      </div>
    </div>
  </div>



{% endblock %}
