{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Checking your internet connection - Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

        <h1 class="govuk-heading-xl" style="margin-top: 40px; text-align: center;">
              Checking your internet connection
            </h1>

        <div class="lds-spinner" style="text-align:center;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<!-- <div class="govuk-width-container"> <a class="govuk-link" href="connection-results" style="float:right">Next</a> </div> -->

<script>
  var timer = setTimeout(function() {
              window.location='/citizen/research/in-journey/connection-results'
          }, 5000);
</script>
{% endblock %}
