{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl" style="margin-top: 40px; text-align: center;">
              Checking your internet connection, please wait
            </h1>

        <div class="lds-spinner" style="text-align:center;"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>


{% endblock %}
