{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Sorry, your browser is not supported - Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Sorry, your browser is not supported
            </h1>
<p class="govuk-body"> This service does not work on your current web browser (the software you use to access the internet).</p>
  <p>To continue, use <a href="https://www.google.com/chrome">Google Chrome</a> or <a href="https://support.apple.com/en_GB/downloads/safari">Safari</a>.</p>




</div>
</div>
<div class="govuk-width-container"> <a class="govuk-link" href="upgrade" style="float:right">Next option</a> </div>

<script>
function copyClipboard() {
var elm = document.getElementById("divText");
// for Internet Explorer

if(document.body.createTextRange) {
  var range = document.body.createTextRange();
  range.moveToElementText(elm);
  range.select();
  document.execCommand("Copy");
}
else if(window.getSelection) {
  // other browsers

  var selection = window.getSelection();
  var range = document.createRange();
  range.selectNodeContents(elm);
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand("Copy");
  document.getElementById("btext2").innerHTML = 'Link copied';
  var originalContent2 = document.getElementById("btext2").innerHTML;
        setTimeout(function() {
                    document.getElementById('btext2').innerHTML = 'Copy link'
                 }, 3000);

}
}
</script>


{% endblock %}
