{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Sorry, your browser is not supported
            </h1>
<p class="govuk-body"> This service does not work on your current web browser (the software you use to access the internet).</p>
  <p>To continue, copy the following link and paste it into Google Chrome or Safari.</p>

<div class="govuk-panel" style="border: 1px solid #bfc1c3; text-align:left; padding-bottom:0;">
<p class="govuk-body" id="divText"><a href="start-2" class="longURL">https://jobcentre.dwp.gov.uk/attend-video-appointment/start-yrumze?ajsvc_token=st=1593095400~exp=1595691000~acl=/attend-video-appointment/start-yrumze!/attend-video-appointment/ ended-yrumze!/attend-video-appointment/end!/attend-video-appointment/yrumze!/attend-video-appointment/join!/attend-video-appointment/leave~hmac=af81326e524c4b88585ee972cdd3a52885c0667cb22e058047f42dc87096fdda</a></p>
<button class="govuk-button" id="btext2" onclick="copyClipboard()" role="button" tabindex="0">Copy link</button></div>

</div>
</div>

<div class="govuk-width-container" style="float:right"> <a class="govuk-link" href="start-3">Next</a> </div>

<script>
function copyClipboard() {
var elm = document.getElementById("divText");
// for Internet Explorer

if(document.body.createTextRange) {
  var range = document.body.createTextRange();
  range.moveToElementText(elm);
  range.select();
  document.execCommand("Copy");
}
else if(window.getSelection) {
  // other browsers

  var selection = window.getSelection();
  var range = document.createRange();
  range.selectNodeContents(elm);
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand("Copy");
  document.getElementById("btext2").innerHTML = 'Link copied';
  var originalContent2 = document.getElementById("btext2").innerHTML;
        setTimeout(function() {
                    document.getElementById('btext2').innerHTML = 'Copy link'
                 }, 3000);

}
}
</script>


{% endblock %}
