{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Sorry. your browser may not be supported - Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your browser is not currently supported
            </h1>
<p class="govuk-body"> You may experience issues if you continue on your current web browser (the software you use to access the internet).</p>

  <p>For a better experience use:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://www.google.com/chrome">Google Chrome</a> on Windows, Apple or Android devices</li>
  <li><a href="https://support.apple.com/en_GB/downloads/safari">Safari</a> on Apple devices</li>
</ul>



<a href="start" role="button" draggable="false" class="govuk-button" data-module="govuk-button" style="margin-top:20px">
  Continue
</a>

</div>
</div>




{% endblock %}
