{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Options
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<a href="UC" class="govuk-link">Journey option 1</a> <br>
<a href="UC-2" class="govuk-link">Journey option 2a</a> <br>
<a href="start-2" class="govuk-link">Journey option 2b</a> <br>
<a href="UC-3" class="govuk-link">Journey option 3</a> <br>
<a href="start-5" class="govuk-link">Journey option 4</a> <br>

</div>
</div>

{% endblock %}
