{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Options
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl govuk-!-margin-top-7">Prototype design options </h1>


<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="UC">Journey option 1</a>
  </li>
  <li>
    <a class="govuk-link" href="UC-2">Journey option 2a</a>
  </li>
  <li>
    <a class="govuk-link" href="start-2">Journey option 2b</a>
  </li>
  <li>
    <a class="govuk-link" href="UC-3">Journey option 3</a>
  </li>
  <li>
    <a class="govuk-link" href="start-5">Journey option 4</a>
  </li>
</ul>
</div>
</div>

{% endblock %}
