
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Video appointment - Attend a video appointment
{% endblock %}

{% block header %}

{% include "includes/header-claimant-uc.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">To do</span>
    <h1 class="govuk-heading-l">Take part in your work search review by video</h1>

    <div class="govuk-inset-text">
You must attend on   <h2 class="govuk-heading-m" style="display:inline;">Tuesday 24 June 2021 at 10:00am </h2> <br><br>
<h3 class="govuk-heading-s"> Your appointment is with: App ointment </h3>
</div>

<a href="not-supported" role="button" draggable="false" class="govuk-button" data-module="govuk-button" target="_blank">
  Join the meeting
</a>


    </div>
  </div>


{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}
{% endblock %}
