
{% extends "layout-staff-UC.html" %}

{% block pageTitle %}
  Universal Credit - Attend a video appointment
{% endblock %}

{% block header %}

{% include "includes/header-claimant-uc.html" %}

{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third govuk-!-display-inline" style="padding-left:5px; padding-right:5px;">
    <div style="background-color: #f3f2f1; text-align:center; padding: 10px;">
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0">Home</p> </div>
</div>
<div class="govuk-grid-column-one-third govuk-!-display-inline" style="padding-left:5px; padding-right:5px;">
  <div style="background-color: #1d70b8; text-align:center; padding: 10px;">
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0" style="color: #fff;">To-do list</p> </div>
</div>
<div class="govuk-grid-column-one-third govuk-!-display-inline" style="padding-left:5px; padding-right:5px;">
  <div style="background-color: #f3f2f1; text-align:center; padding: 10px;">
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0">Journal</p> </div>
</div>


    <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l govuk-!-margin-top-7">To do</span>
    <h1 class="govuk-heading-l">Take part in your work search review by video</h1>
    <p class="govuk-body">This is to check what you're doing to meet your commitments and agree next steps to increase your chances of getting work or earning more. </p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        If you miss this mandatory Universal Credit appointment without what we believe to be good reason,
        your payment  could be reduced. This is called a sanction.
      </strong>
    </div>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        If you are unable to keep this appointment, tell us as soon as possible. You can use your journal or call
        0800 328 5644 (Textphone: 0800 328 1344). Calls to 0800 numbers are free from landlines and mobiles.
      </strong>
    </div>


    <div class="govuk-inset-text">
You must attend on   <h2 class="govuk-heading-m" style="display:inline;">Tuesday 29 June 2021 at 10:00am </h2> <br><br>
<h3 class="govuk-heading-s"> Your appointment is with: Danny Kang </h3>
</div>

<a href="not-supported" role="button" draggable="false" class="govuk-button" data-module="govuk-button" target="_blank">
  Join the meeting
</a>
<h3 class="govuk-heading-s">Prepare for your video appointment </h3>
<a class="govuk-link" href="help" target="_blank"> Find out how to prepare for your video appointment (opens in a new tab)</a> <br><br>
<p class="govuk-body"> <strong>You should:</strong></p>
  <ul class="govuk-list govuk-list--bullet">
  <li>make sure your device has a camera, microphone and is fully charged</li>
  <li>use Chrome or Safari web browser</li>
  <li>use wifi where you can</li>
</ul>
<p class="govuk-body">If your appointment does not start, you should wait for your work coach to call you.</p>
    </div>
  </div>


{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }

      ]
    }
  }) }}
{% endblock %}
