{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              You need to upgrade your browser
            </h1>
<p class="govuk-body"> This service does not work on your current web browser version (the software you use to access the internet).</p>
<p>Choose a browser from the list below and follow the instructions for installing the latest version.</p>
<p>You can use:</p>
<ul class="govuk-list govuk-list--bullet">
<li><a href="https://www.google.com/chrome">Google Chrome</a> on Windows, Apple or Android devices</li>
<li><a href="https://support.apple.com/en_GB/downloads/safari">Safari</a> on Apple devices</li>
</ul>


</div>
</div>

<div class="govuk-width-container"> <a class="govuk-link" href="start-2">Next option</a> </div>

{% endblock %}
