{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Video appointment - Attend a video appointment
{% endblock %}

{% block header %}

<div class="portrait-no-display">
{% include "includes/header-attend-video.html" %}
<div class="dwp-video-header-conduct">
  <div class="govuk-width-container" style="margin: 0, text-align: center;">
    {% include "includes/top-btn-conduct-citizen-trial.html" %}
      </div>
</div>
</div>

<!-- Portrait -->
<div class="portrait-screen-only">

  <header class="govuk-header" role="banner" data-module="dwp-header">

      <div class="govuk-header__container govuk-header__container--full-width">
          <div class="govuk-header__contents">
              <a href="/" class="govuk-header__link govuk-header__link--service-name"style="margin-top:10px;">
                Attend a video appointment
              </a>
              <div class="govuk-header__contents" style="float:right;">
    <div class="dropdown">
    <button onclick="myFunction()" class="govuk-button govuk-button_drop dropbtn" style="font-size:16px; display:inline;">Settings</button> </div>

    <div id="myPortrait" class="dropdown-content" style="min-width:100%; margin-top:40px;">

  <a class="govuk-link govuk-link--no-visited-state" href="attend-video-replace-example" style="color:#0b0c0c">Turn on replace background</a>




    </div>
  </div>
          </div>
          </div>
          </header>

  <main style="margin:0; padding:0;">
  <div class="flex-container">
    <div class="flex-item flex-responsive-container" style="height: calc(100vh - 200px);">
      <div class="selfie-single">
        <img class="video-participant" style="object-fit:cover;  width: 100%;" src="/public/images/workcoach9.png">
        </div>
      <div class="selfie-multiple-small">
          <video autoplay="true" id="videoElement" style="object-fit:cover;"></video>
      </div>
  </div>
  <div class="bottom-buttons">
      <button class="govuk-button govuk-button--secondary govuk-button--panel" style="margin:0px 5px 0px 5px;">Refresh</button>
  </div>

  </div>
  </main>
  </div>

  <!-- Medium -->
  <div class="medium-screen-only">
    <main style="margin:0; padding:0;">
    <div class="flex-container">
      <div class="flex-item flex-responsive-container" style="height: calc(100% - 200px); background-color: #0b0c0c;">
        <div class="landscape-main">
          <img class="video-participant" style="object-fit:cover;  width: 100%;"  src="/public/images/workcoach9.png">
        </div>
        <div class="landscape-medium" style="background-color: #0b0c0c;">
            <video autoplay="true" id="videoMedium" style="object-fit:cover;"></video>
        </div>
    </div>
    </div>
    </main>
    </div>

{% endblock %}

{% block content %}

<!-- Desktop -->

<div class="desktop-screen-only">
      <div class="video-frame-attendee">
        <div class="attendee-main">
        <img class="video-participant-cov" width="100%" src="/public/images/workcoach9.png">
      </div>
        <div class="selfie-multiple-small">
            <video autoplay="true" id="videoDesktop" style="object-fit:cover;"></video>
        </div>
  </div>
  </div>
  <div class="govuk-width-container"> <a class="govuk-link" style="float:left" href="attend-video-blur-example">Back</a> <a class="govuk-link" style="float:right" href="attend-video-replace-example">Next</a></div>


 <script>
      // Grab elements, create settings, etc.
      var video = document.getElementById('videoElement');
      var desktopVideo = document.getElementById('videoDesktop');
        var selfieVideo = document.getElementById('videoMedium');

      // Get access to the camera!
      if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          // Not adding `{ audio: true }` since we only want video now
          navigator
              .mediaDevices
              .getUserMedia({video: true})
              .then(function (stream) {
                  //video.src = window.URL.createObjectURL(stream);
                  video.srcObject = stream;
                  video.play();

                  selfieVideo.srcObject = stream;
                  selfieVideo.play();

                  desktopVideo.srcObject = stream;
                  desktopVideo.play();
              });
      }
  </script>

  <script>
          /* When the user clicks on the button,
          toggle between hiding and showing the dropdown content */
          function myFunction() {
            document.getElementById("myPortrait").classList.toggle("show");
          }

          // Close the dropdown menu if the user clicks outside of it
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }

          </script>

{% endblock %}
