{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Video appointment - Conduct a video appointment
{% endblock %}

{% block header %}
{% include "includes/header-staff-vid-responsive.html" %}
<div id="header-area" class="dwp-video-header-background">

  <div class="govuk-width-container custom-header-width--conduct" style="margin: 0, text-align: center;">


    <div class="btn-video-top">


    <div class="background-banner">
      <div class="govuk-form-group" style="margin-bottom:0px;">
        <fieldset class="govuk-fieldset" aria-describedby="blur-my-background">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"  style="display:inline;">
            <h1 class="govuk-fieldset__heading">
              Hide my background
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline govuk-radios--small govuk-radios-respond">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="background-1" name="background" type="radio" value="on">
              <label class="govuk-label govuk-radios__label" for="background-1">
                On
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="background-2" name="background" type="radio" value="off" checked>
              <label class="govuk-label govuk-radios__label" for="background-2">
                Off
              </label>
            </div>
          </div>

        </fieldset>
      </div>
     </div>

    <div class="btn-video-top--right" style="margin-top:10px;">

        <button id="refresh" class="govuk-button govuk-button--secondary govuk-button--panel govuk-button-respond" style="margin: 0px 20px 15px 0px;" onClick="window.location.reload();">Refresh</button>
        <button class= "govuk-button govuk-button--warning govuk-button-respond" onclick="document.getElementById('id01').style.display='block'">End</button> </div>

    <dialog id="id01" class="modal" aria-labelledby="end-appointment" aria-describedby="end-confirmation" aria-modal="true" role="dialog" tabindex="-1" open>
      <form class="modal-content">
        <div class="govuk-modal-dialog-header">

          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="govuk-button modal-close" title="Cancel">×</button></div>
        <div class="modal-container">
          <h1>End the video appointment?</h1>
          <p> You will not be able to rejoin and the session will be closed.</p>

          <div class="clearfix">
              <a href="end-staff" role="button" class="govuk-button govuk-button--warning govuk-!-margin-right-2 govuk-button-respond" data-module="govuk-button" style="margin-bottom: 0">End appointment </a>
              <button onClick="document.getElementById('id01').style.display='none'" class="govuk-button govuk-button--secondary govuk-button-respond" data-module="govuk-button" style="margin-bottom: 0px;">Cancel</button>

          </div>
        </div>
      </form>
    </dialog> </div>


  </div>
</div>

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="video-frame">
          <div class="attendee-main">
          <img class="video-participant" style="height:100%" src="/public/images/attendee_1.png">
        </div>
        <div class="selfie-multiple-small">
<img class="video-participant-cov" style="width:100%" src="/public/images/workcoach9.png">
</div>

<!--
<div id="header-area" class="dwp-video-header-conduct">
  <div class="govuk-width-container custom-header-width--conduct" style="float:right; margin-right:0px;">
  <label class="govuk-label" for="blur" style="margin-right:20px; margin-top: 7px; display:inline; float:left;">
    Hide my background
  </label>
    <div class="govuk-radios govuk-radios--inline govuk-radios--small govuk-radios-respond" style="margin-bottom: 5px; display:inline;" id="blur" name="blur">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          On
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" checked>
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          Off
        </label>
      </div>
    </div>
</div>
 </div> -->
    </div>
    </div>
      <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Participants</h2>
        <dl class="govuk-summary-list" style="font-size:16px">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Host (me)
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                   <span class="govuk-visually-hidden"> No action available</span>
                 </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Attendee
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                   <span class="govuk-visually-hidden"> No action available</span>
                 </a>
            </dd>
          </div>
          </div>



{% endblock %}
