{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl" style="margin-top: 40px">
      🦄 One at a time, try these 🦄
    </h1>
    <p>This is for testing only, do not rely on it if you want something real to happen.</p>

    <p><a href="./one.html">Take One</a></p>
    <p><a href="./two.html">Take two</a></p>
    <p><a href="./three.html">Take threes</a></p>
  </div>
</div>

{% endblock %}