{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-top: 40px">
            Lets two
        </h1>

        <a id="start">Click me Enis 🚀 (and wait)</a>
        <a href="./one.html">reset</a>
        <a href="./index.html">Back</a>

        <hr />

        <div id="content-message" class="govuk-grid-column-three-quarters content-container govuk-!-display-none">
            <div class="content-message">
                <div id="content-inner-message" class="content-text govuk-!-padding-top-9 govuk-!-padding-left-9 govuk-!-padding-right-9" role="alert" aria-atomic="true">
                    
                </div>
                <div id="tile-5" class="content-tile">
                    <video id="video-5"></video>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script>
    //Remove display none
    //Add role alert

    $('#start').click(function () {
        setTimeout(function () {
            $('#content-message').removeClass('govuk-!-display-none');
            $('#content-inner-message').append("<h2 class='govuk-heading-l'>Your attendee has lost connection</h2><p>This could be because they have a problem with their internet or their web browser has closed.</p><p>You can wait for them to rejoin or end the appointment.</p>")
        }, 1000);
    });

    $('#hide').click(function () {
        setTimeout(function () {
            $('#content-message').addClass('govuk-!-display-none');
            $("#conent-inner-message").remove();
        }, 1000);
    });
</script>

{% endblock %}