{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Remote consultation - staff facing prototype
      </h1>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>

      <p><a class="govuk-button" href="version_1/create-video-start">Latest version</a></p>

      <h2><a href="version_1/create-video-start">Version 1</a> </h2>

      <p> Proof of concept - start of trial </p>

      <details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    Version details: 1.1
  </span>
</summary>
<div class="govuk-details__text">
<h3 class="govuk-heading-m">1.1</h3>
<ul class="govuk-list govuk-list--bullet">
  <li>Updated form labels to match form inputs on 'Enter video details' for multiple accessibility requirements. When you select an input label, automatic focus on input box</li>
</ul>
</div>
</details>

      <h2><a href="WIP/create-video-start">Design WIP</a> </h2>

      <p> Proposed design iterations </p>

      <h2><a href="welsh-create-appointment/version_1">Welsh version</a> </h2>

{% endblock %}
