{% extends "layout-staff.html" %}

  {% block pageTitle %}
    Sorry, there is a problem connecting to the video appointment  - Conduct a video appointment
  {% endblock %}

  {% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl govuk-!-margin-top-7">
                Sorry, there is a problem connecting to the video appointment
              </h1>

            <p class="govuk-body">Try again.</p>
            <p class="govuk-body">If you still have problems connecting, contact other participants to let them know. You will also need to raise an incident using an <a class="govuk-link" href="https://intranet.dwp.gov.uk/webform/agent-contact-template-act"> Agent Contact Template (ACT)</a> or through your usual incident reporting route.</p>
      </div>
      </div>
  </div>
  {% endblock %}
