{% extends "layout-staff.html" %}

{% block pageTitle %}
  Your video appointment has ended - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Your video appointment has ended
      </h1>


        <p>You can now close this page.</p>

        <button class="govuk-button" style="margin-top:30px" onclick="closeWin()">Close</button>

          </div>
        </div>
        </div>

        <script>
        function closeWin() {
        var myWindow = window.close("help")
        myWindow.close();
        }
        </script>

{% endblock %}
