{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Video appointment - Attend a video appointment
{% endblock %}

{% block header %}

{% include "includes/headers/header-attend.html" %}

  <div class="dwp-video-header-conduct">
    <div class="govuk-width-container" style="margin: 0, text-align: center;">
      <div class="btn-video-top">

      <div class="btn-video-top--right">

          <button id="refresh" class="govuk-button govuk-button--secondary govuk-button--panel" style="margin: 0px 0px 15px 0px;">Refresh</button>

          </div>
      </div>
        </div>
  </div>

  <!-- Portrait -->
  <div class="portrait-screen-only">

    <main style="margin:0; padding:0;">
    <div class="flex-container">
      <div class="flex-item flex-responsive-container" style="height: calc(100vh - 230px); background-color: #0b0c0c;">
        <div class="selfie-single">
          <img class="video-participant-con" style="width: 100%;" src="/public/images/workcoach9.png">
          <!--  <div class="mute-tag"> <strong class="govuk-tag govuk-tag--green">Host is muted</strong> </div> -->
          </div>
        <div class="selfie-multiple-small" style="border: 1px solid #b1b4b6;">
            <img class="video-participant-cov" id="myImage3" style="object-fit:cover;  width: 100%;" src="/public/images/Citizen.png">
        </div>
    </div>
    <div style="padding: 20px;">
      <h1 class="govuk-heading-s" style="color:#1d70b8;">Video settings</h1>
      <div class="switch-container5">

    <label for="microphone" class="govuk-body govuk-!-font-size-16 govuk-!-margin-right-2">Microphone </label>
           <button role="switch" aria-checked="true" id="microphone"  class="switch5 govuk-button govuk-button--secondary govuk-!-margin-right-5">
              <span class="govuk-body govuk-!-font-size-14">Off</span>
              <span class="govuk-body govuk-!-font-size-14">On</span>
            </button>

            <label for="camera" class="govuk-body govuk-!-font-size-16 govuk-!-margin-right-2">Camera </label>
                  <button role="switch" aria-checked="true" id="camera" onclick="hideImage3()" class="switch5 govuk-button govuk-button--secondary">
                    <span class="govuk-body govuk-!-font-size-14">Off</span>
                    <span class="govuk-body govuk-!-font-size-14">On</span>
                  </button>
    </div> </div>


    </div>
    </main>
    </div>


    <!-- Medium -->


  <div class="medium-screen-only">
    <main style="margin:0; padding:0;">
      <div class="govuk-grid-column-full" style="padding: 0px;">
    <div class="flex-container">
      <div class="flex-item flex-responsive-container" style="height: calc(100vh - 250px);background-color: #0b0c0c;">
        <div class="landscape-main">
        <img class="video-participant-2" src="/public/images/workcoach9.png">
        <div class="name-tag" style="background-color: #0b0c0c;"> <h2 class="govuk-heading-s" style="color: #fff; margin-bottom: 0px; display: inline;">Host</h2>
        </div>
      </div>
      <div class="landscape-medium" style="background-color: #0b0c0c; border: 1px solid #b1b4b6;">
            <img class="video-participant" id="cameraOnMed" style="object-fit:cover;  width: 100%;" src="/public/images/Citizen.png">
            <div class="name-tag" style="background-color: #0b0c0c; margin: 2px;">
              <p class="govuk-heading-s" style="color: #fff; display:inline;">You</p>
            <img src="/public/images/mic-icon.png" style="display: none; height: 20px; width: auto; margin-left: 5px;" id="muteTagMed">
            </div> </div>

            <div class="landscape-medium" id="cameraOffMed" style="display:none; background: #0b0c0c; border: 2px solid #f3f2f1;">
              <img class="video-participant-cov" id="cameraOn" style="object-fit:contain;  width: 100%; height: 100px; margin-top: 10px;" src="/public/images/camera-off-person.png">


        </div>

    </div>
  <div style="padding: 20px;">
    <h1 class="govuk-heading-s" style="color:#1d70b8;">Your settings</h1>
    <div class="switch-container5">

  <label for="microphone" class="govuk-body govuk-!-font-size-16 govuk-!-margin-right-3">Microphone </label>
         <button role="switch" aria-checked="true" id="microphone" onclick="myFunctionMed()" class="switch5 govuk-button govuk-button--secondary govuk-!-margin-right-7">
            <span class="govuk-body govuk-!-font-size-14">Off</span>
            <span class="govuk-body govuk-!-font-size-14">On</span>
          </button>

          <label for="camera" class="govuk-body govuk-!-font-size-16 govuk-!-margin-right-3">Camera </label>
                <button role="switch" aria-checked="true" id="camera" onclick="cameraOffMed()" class="switch5 govuk-button govuk-button--secondary">
                  <span class="govuk-body govuk-!-font-size-14">Off</span>
                  <span class="govuk-body govuk-!-font-size-14">On</span>
                </button>
  </div> </div>


    </div>

    </main> </div>

  {% endblock %}


{% block content %}

<!-- Desktop -->

<div class="desktop-screen-only">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="video-frame">
          <div class="attendee-main">
          <img class="video-participant-con" width="100%" style="aspect-ratio: 4/3;" src="/public/images/workcoach9.png">
          <div class="name-tag" style="background-color: #0b0c0c;"> <h2 class="govuk-heading-s" style="color: #fff; margin-bottom: 0px; display: inline;">Host</h2>
          </div>
        </div>
        <div class="selfie-multiple-small">
            <img class="video-participant-cov" id="cameraOn" style="object-fit:cover;  width: 100%; border: 1px solid #b1b4b6;" src="/public/images/Citizen.png">
            <div class="name-tag" style="background-color: #0b0c0c; margin: 2px;">
              <p class="govuk-heading-s" style="color: #fff; display:inline;">You</p>
            <img src="/public/images/mic-icon.png" style="display: none; height: 20px; margin-left: 5px;" id="muteTag">
            </div> </div>

            <div class="selfie-multiple-small" id="cameraOff" style="display:none; background: #0b0c0c; border: 2px solid #f3f2f1;">
              <img class="video-participant-cov" id="cameraOn" style="object-fit:contain;  width: 100%; height: 100px; margin-top: 10px;" src="/public/images/camera-off-person.png">


        </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h1 class="govuk-heading-s" style="color: #1d70b8;"> Your settings </h1>
      <div class="govuk-!-margin-bottom-4">
            <dl class="govuk-summary-list" style="font-size:16px">
                <div class="govuk-summary-list__row" style="height:60px;">
                  <dd class="govuk-summary-list__value">
                    Microphone
                  </dd>
                  <dd class="govuk-summary-list__actions" style="width:45%">
                    <div class="switch-container5">
                    <button role="switch" aria-checked="true" id="microphone"  onclick="myFunction()" class="switch5 govuk-button govuk-button--secondary" style="margin-right:0;">
                      <span class="govuk-body govuk-!-font-size-14">Off</span>
                      <span class="govuk-body govuk-!-font-size-14">On</span>
                    </button> </div></div>

                    <div class="govuk-summary-list__row" style="height:60px;">
                      <dd class="govuk-summary-list__value">
                        Camera
                      </dd>
                      <dd class="govuk-summary-list__actions" style="width:45%; padding-top: 15px;">
                        <div class="switch-container5">
                        <button role="switch" aria-checked="true" onclick="cameraOff()" id="camera"  class="switch5 govuk-button govuk-button--secondary" style="margin-right:0;">
                          <span class="govuk-body govuk-!-font-size-14">Off</span>
                          <span class="govuk-body govuk-!-font-size-14">On</span>
                        </button> </div>
                  </dd>
                </div> </div>
        </div>
        </div> </div>

        <a href="#" class="govuk-link">Mobile views</a> |  <a href="#" class="govuk-link">Tablet views</a>   <div style="float:right;"> <a href="option-1" class="govuk-link">Back</a>    |<a href="host-mic-off" class="govuk-link">Next</a> </div>

        <script>      document.querySelectorAll(".switch5").forEach(function(theSwitch) {
        theSwitch.addEventListener("click", handleClickEvent, false);
      });

      function handleClickEvent(evt) {
        let el = evt.target;

        if (el.getAttribute("aria-checked") == "true") {
            el.setAttribute("aria-checked", "false");
        } else {
            el.setAttribute("aria-checked", "true");
        }
      } </script>




        <script>

          function hideImage3() {
                      var image = document.getElementById('myImage3');
                      if (image.src.match("/public/images/Citizen.png")) {
                          image.src = "/public/images/camera-off.png";
                      }
                      else {
                          image.src = "/public/images/Citizen.png";
                      }
                  }
          </script>


                  <script>

                    function hideImage2() {
                                var image = document.getElementById('myImage2');
                                if (image.src.match("/public/images/Citizen.png")) {
                                    image.src = "/public/images/camera-off.png";
                                }
                                else {
                                    image.src = "/public/images/Citizen.png";
                                }
                            }
                    </script>

          <script>

            function hideImage() {
                        var image = document.getElementById('myImage');
                        if (image.src.match("/public/images/Citizen.png")) {
                            image.src = "/public/images/camera-off.png";
                        }
                        else {
                            image.src = "/public/images/Citizen.png";
                        }
                    }
            </script>



                                <script>

                                  function cameraOff() {
                                              var x = document.getElementById('cameraOn');
                                              var y = document.getElementById('cameraOff');
                                              var z = document.getElementById('cameraSetting');

                                              if (x.style.display === "none") {
                                                x.style.display = "block";
                                              } else {
                                                x.style.display = "none";
                                              }
                                              if (y.style.display === "none") {
                                                y.style.display = "block";
                                              } else {
                                                y.style.display = "none";
                                              }
                                              if (z.style.display === "none") {
                                                z.style.display = "inline-block";
                                              } else {
                                                z.style.display = "none";
                                              }
                                                            }


                                  </script>

                                  <script>

                                    function cameraOffMed() {
                                                var x = document.getElementById('cameraOnMed');
                                                var y = document.getElementById('cameraOffMed');


                                                if (x.style.display === "none") {
                                                  x.style.display = "block";
                                                } else {
                                                  x.style.display = "none";
                                                }
                                                if (y.style.display === "none") {
                                                  y.style.display = "block";
                                                } else {
                                                  y.style.display = "none";
                                                }

                                                              }


                                    </script>


                        <script>
                          function myFunction() {
                            var x = document.getElementById("muteTag");
                            var y = document.getElementById("muteSetting");
            if (x.style.display === "none") {
              x.style.display = "inline-block";
            } else {
              x.style.display = "none";
            }

            if (y.style.display === "none") {
              y.style.display = "inline-block";
            } else {
              y.style.display = "none";
            }
                          }
                          </script>



  <script>
function myFunctionMed() {
var x = document.getElementById("muteTagMed");
  if (x.style.display === "none") {
    x.style.display = "inline-block";
    } else {
      x.style.display = "none";
    }

          }
                                </script>
{% endblock %}
