{% extends "layout-citizen.html" %}

{% block pageTitle %}
Preview your video - Attend a video appointment
{% endblock %}



{% block content %}

<div class="desktop-screen-only">
<div class="popup2"><a href="preview-2"><img src="/public/images/edge-allow.png" style="width:300px;"></a></div></div>

<div class="portrait-screen-only">
<div class="popup-mobile"><a href="preview-2"><img src="/public/images/mobile-allow.png"></a> </div> </div>

<div class="medium-screen-only">
<div class="popup-tablet"><a href="preview-2"><img src="/public/images/mobile-allow.png"></a> </div> </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-7">
        Preview your video
      </h1>

      <p class="govuk-body">You can check your camera is
        working before you join your video appointment.</p>

<div class="govuk-!-width-one-half">
  <div class="preview-frame"></div>
</div>



<a href="start-citizen-permissions" role="button" class="govuk-button govuk-!-margin-top-7">
  Join appointment
</a>
    </div>
  </div>





{% endblock %}
