{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Tablet views - Attend a video appointment
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="option-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">
              Tablet options
            </h1>
<p class="govuk-body"> Option 1 </p>
<img style="border: 1px solid #0b0c0c; width: 100%;" src="/public/images/tablet-option-1.png">
<p class="govuk-body"> Option 2 </p>
<img style="border: 1px solid #0b0c0c; width: 100%;" src="/public/images/tablet-option-2.png">
    </div>

  </div>


{% endblock %}
