<div class="btn-bottom">
  <div class="btn-bottom--left">
    <a href="end-unexpected-citizen" class="govuk-button button-secondary secondary-touch" style="margin: 10px 30px 0 0; color: #000;">Volume down</a>
    <a href="paused-citizen" class="govuk-button button-secondary secondary-touch" style="margin-top:10px; color: #000">Volume up</a>
  </div>
  <div class="btn-bottom--right">
    <a href="end-complete-citizen" class="govuk-button button-secondary secondary-touch" style="margin-top:10px; color: #000">Send message</a>
  </div>
</div>
