<header class="govuk-header" role="banner" data-module="dwp-header">
  <div class="govuk-header__container govuk-header__container--full-width">
    <div class="govuk-width-container govuk-header__contents" style="max-width: 1200px">
      <a href="../" class="govuk-header__link govuk-header__link--service-name" style="text-align:left"
    <div class="govuk-width-container govuk-header__contents"> Video appointment service</div></a>
</div>
</div>
</header>

<div class="dwp-video-header">
  <div class="govuk-width-container" style="margin: 0, text-align: center; max-width: 1280px">
    {% include "touch/top-btn--conduct-citizen.html" %}
      </div>
</div>
<div class="govuk-header__container govuk-header__container--full-width" style="border: 0px; text-align: center; margin-top: 5px">
<a href="end-complete-citizen"><img src="/public/images/workcoach6.png"></a>
{% include "touch/bottom-btns-citizen.html" %}
</div>
