{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Accessibility statement - Attend a video appointment
{% endblock %}

{% block beforeContent %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}

{% block content %}
          <h1 class="govuk-heading-xl">Accessibility statement for Attend a video appointment</h1>

            <p>This accessibility statement applies to content published on the 'Attend a video appointment' service.<p>
            <p>This website is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>change colours, contrast levels and fonts</li>
              <li>zoom in up to 300% without the text spilling off the screen</li>
              <li>navigate most of the website using just a keyboard</li>
              <li>navigate most of the website using speech recognition software</li>
              <li>listen to most of the website using a screen reader (including the most recent versions of JAWS and VoiceOver)</li>
            </ul>
            <p>We’ve also made the website text as simple as possible to understand.</p>
            <p><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

            <h2 class="govuk-heading-m" style="font-size: 27px">How accessible this website is</h2>

            <p>We know some parts of this website are not fully accessible:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>live video streams do not have captions</li>
              </ul>

              <h2 class="govuk-heading-m" style="font-size: 27px">Feedback and contact information</h2>
                <p>If you need information on this service in a different format like accessible PDF, large print, easy read, audio recording or braille, you can <a href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact">contact us</a>.</p>

              <!--  <p>We’ll consider your request and get back to you in [number] days.</p>-->


                <h2 class="govuk-heading-m" style="font-size: 27px">Reporting accessibility problems with this website</h2>
                <p>We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements,
                  <a href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact">contact us</a>.</p>

              <h2 class="govuk-heading-m" style="font-size: 27px">Enforcement procedure</h2>
                <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.

              <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
                <p>DWP is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

              <h2 class="govuk-heading-m" style="font-size: 27px">Compliance status</h2>
                <p>This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to ‘the non-compliances’ listed below.</p>

                <h2 class="govuk-heading-m" style="font-size: 27px">Non-accessible content</h2>

                <p>The content listed below is non-accessible for the following reasons.</p>

              <h2 class="govuk-heading-m" style="font-size: 27px">Non-compliance with the accessibility regulations</h2>

              <p>On the page where the video appointment is displayed, the page title is incorrect. This fails WCAG 2.4.6 Headings and labels (A).</p>
              <p>We aim to fix this by April 2021.</p>




              <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
                <p>This statement was prepared on 5th March 2021.</p>
                <p>This website was last tested on 5th March 2021 and was checked for compliance with WCAG 2.1 AA. These tests were carried out internally and included a comprehensive assessment of all the web content and functionality of the website with one or more assistive technologies such as JAWS and VoiceOver software.</p>

                <p>We tested the service based on a user’s ability to complete all key journeys. All parts of those journeys were tested.</p>
          <!-- <p>We used this approach to deciding on a sample of pages to test [add link to explanation of how you decided which pages to test].</p> -->

          <!-- <p>You can read the full accessibility test report [add link to report].</p> -->


          </div>
    </div>
  </div>


<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
