{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Attend a video appointment
{% endblock %}

{% block content %}


<!--
<noscript>
    <div class="govuk-warning-text" style="position:relative">
   <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
   <strong class="govuk-warning-text__text">
   <span class="govuk-warning-text__assistive">Warning</span>
    Please enable javascript to attend your video appointment.
   </strong>
    </div>
  </noscript> -->
    

<noscript>
  <meta http-equiv="refresh" content="0;url=noscript.html">
</noscript>


<script type="text/javascript">

  var SUPPORTED_URL = 'join-start-citizen.html';
  var UNSUPPORTED_URL = 'not-supported.html';
  window.location = getURL();
  function getURL() {
  	if (isSupported()) {
    	return SUPPORTED_URL;
    }
    return UNSUPPORTED_URL;
  }


  function isSupported() {
    if (navigator.userAgent.indexOf('MSIE') != -1
      || navigator.userAgent.indexOf('Samsung') != -1
      || navigator.userAgent.indexOf('Firefox') != -1
      || navigator.userAgent.indexOf('SamsungBrowser') != -1) {
      return false;
    }
    return true;
  }
</script>

<!-- <script type="text/javascript">
    var SUPPORTED_URL = "supported.html";
    var UNSUPPORTED_URL = "not-supported.html";

    function selectTechnologyLocation() {
        var isWebRTCSupported = navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia ||
        window.RTCPeerConnection;


        if (isWebRTCSupported) {
            return SUPPORTED_URL;
        }
        else {
            return UNSUPPORTED_URL;
        }
    }
    window.location = selectTechnologyLocation();

</script> -->


{% endblock %}
