{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Cookies - Attend a video appointment
{% endblock %}


{% block beforeContent %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <a class="govuk-back-link" href="#" onclick="goBack()">Back</a>
{% endblock %}
{% block content %}
    <!--<a href="static-trial/join-start-citizen" class="govuk-back-link">Back</a> -->

            <h1 class="govuk-heading-xl">  Cookies</h1>

            <p>A cookie is a small file which is stored on your device for a short time to make this service work.</p>

            <p>We use cookies that are essential for the service to work, like remembering where you are in the website.</p>
            <p> We will not:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>use any essential cookies until you use the service</li>
              <li>be able identify you through using cookies</li>
            </ul>

        <h2 class="govuk-heading-l" style="margin-top: 40px">  Details about cookies on this service</h2>
                    <p>We need to use some essential cookies to make the 'Attend a video appointment' website work.</p>

                    <!--<div class="govuk-inset-text"> <p>You can <a href="cookie_policy.html">change which cookies you’re happy for us to use</a>.</p></div> -->
                    <h2 class="govuk-heading-m">If your cookies are switched off</h2>
                    <p>You will see an error message when you try to use the website if your cookies are disabled.</p>
                    <p>How to turn cookies on depends on the <a href="https://www.whatsmybrowser.org/" class="govuk-link">browser you are using</a> and how up to date it is.</p>
                    <p>Find out how to change your settings for the most popular browsers, including:</p>
                    <ul class="govuk-list govuk-list--bullet">
            			<li><a href="https://support.google.com/accounts/answer/61416?hl=en" class="govuk-link">Google Chrome</a></li>
                        <li><a href="https://www.apple.com" class="govuk-link">Safari</a>, commonly used on iPads, iPhones and other Apple computers</li>
            		</ul>

                    <h2 class="govuk-heading-m">Session cookies</h2>
                    <p>We use session cookies to remember where you are as you move back and forward through the website.</p>
                    <p>These cookies are automatically removed from your computer, if you:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>do not do anything for 30 minutes</li>
                      <li>close your browser</li>
                      <li>switch off your computer</li>
                    </ul>

                  <table class="govuk-table">

                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col">Name</th>
                          <th class="govuk-table__header" scope="col">Purpose</th>
                          <th class="govuk-table__header" scope="col">Expires</th>
                        </tr>
                      </thead>

                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">ajsvc_token</td>
                          <td class="govuk-table__cell">To remember where you are in the service, so you can move back and forward through the website.</td>
                          <td class="govuk-table__cell">When you close your browser</td>
                        </tr>
                      </tbody>

                  </table>

                  <h2 class="govuk-heading-m">Language selection</h2>

                  <p>A cookie is stored to ensure the website displays text in your chosen language.</p>

                  <table class="govuk-table">

                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Name</th>
                        <th class="govuk-table__header" scope="col">Purpose</th>
                        <th class="govuk-table__header" scope="col">Expires</th>
                      </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <tr class="govuk-table__row">
                        <td class="govuk-table__cell">lang</td>
                        <td class="govuk-table__cell">This stores whether you have chosen to see content in English or Welsh</td>
                        <td class="govuk-table__cell">When you close your browser</td>
                      </tr>
                    </tbody>

                  </table>

                </div>
              </div>

              <script>
              function goBack() {
                window.history.back();
              }
              </script>

{% endblock %}
