{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Your video appointment is finished - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your video appointment is finished
            </h1>
   <p class="govuk-body"> What did you think of the service? (takes approximately 3 minutes) </p>
  <a href="https://getinvolved.dwp.gov.uk/++preview++/digital/e86ff17a/consultation/subpage.2020-09-23.0601311615/" class="govuk-button" role="button" style="margin-top:30px">Help us improve the service</a>

</div>
</div>


{% endblock %}
