{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Your video appointment is finished - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your video appointment is finished
            </h1>

            <form action="/quality-answer" method="post" novalidate>
              <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="quality">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                 <h1 class="govuk-fieldset__heading">
                  How was the quality of the video?
                 </h1>
               </legend>
               <div class="govuk-radios govuk-radios--conditional" id="quality" data-module="govuk-radios">
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="good" name="quality" type="radio" value="good" data-aria-controls="conditional-quality">
                   <label class="govuk-label govuk-radios__label" for="good">
                     Good
                   </label>
                 </div>
                 <div class="govuk-radios__item">
                   <input class="govuk-radios__input" id="bad" name="quality" type="radio" value="bad" data-aria-controls="conditional-quality-2">
                   <label class="govuk-label govuk-radios__label" for="bad">
                     Bad
                   </label>
                 </div>
                 <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-quality-2">
                   <div class="govuk-form-group">
                     <fieldset class="govuk-fieldset" aria-describedby="wrong-hint">
     <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
       <h1 class="govuk-fieldset__heading">
         What went wrong?
       </h1>
     </legend>
     <div id="wrong-hint" class="govuk-hint">
       Select all that apply.
     </div>
     <div class="govuk-checkboxes">
       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong" name="wrong" type="checkbox" value="poor-video">
         <label class="govuk-label govuk-checkboxes__label" for="wrong">
           Poor picture quality
         </label>
       </div>

       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-3" name="wrong" type="checkbox" value="see-other">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-3">
           I could not see the other person
         </label>
       </div>

       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-4" name="wrong" type="checkbox" value="hear-other">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-4">
           The other person could not see me
         </label>
       </div>

       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-2" name="wrong" type="checkbox" value="poor-audio">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-2">
           Poor sound quality
         </label>
       </div>

       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-5" name="wrong" type="checkbox" value="see-me">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-5">
          I could not hear any sound
         </label>
       </div>

       <div class="govuk-checkboxes__item">
         <input class="govuk-checkboxes__input" id="wrong-6" name="wrong" type="checkbox" value="hear-me">
         <label class="govuk-label govuk-checkboxes__label" for="wrong-6">
          The other person could not hear any sound
         </label>
       </div>

     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="wrong-7" name="wrong" type="checkbox" value="hear-me">
       <label class="govuk-label govuk-checkboxes__label" for="wrong-7">
        Other
       </label>
     </div>
   </div>

   </fieldset>

 </div>
                 </div>
               </div>
              </fieldset>
              </div>
<!--
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                      Overall, how did you feel about the video service today?
                    </h1>
                  </legend>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                        Very satisfied
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                        Satisfied
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                        Neither satisfied or dissatisfied
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                        Dissatisfied
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
                      <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                      Very dissatisfied
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>


                 </div>
               </div>
              </fieldset>
              </div>


        <!--                    <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="improvements">
                             <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                               <h1 class="govuk-fieldset__heading">
                                Are there any improvements you would like to see to the service?
                               </h1>
                             </legend>
                             <div class="govuk-radios govuk-radios--conditional" id="happy" data-module="govuk-radios">
                               <div class="govuk-radios__item">
                                 <input class="govuk-radios__input" id="yes" name="improve" type="radio" value="yes" data-aria-controls="conditional-improve">
                                 <label class="govuk-label govuk-radios__label" for="yes">
                                   Yes
                                 </label>
                               </div>
                               <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-improve">
                                 <div class="govuk-form-group">
                                   <fieldset class="govuk-fieldset" aria-describedby="why-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                        Please tell us what you would like to see.
                        </h1>
                        </legend>
                        <div id="wrong-hint" class="govuk-hint">
                        Select all that apply.
                        </div>
                        <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="why" name="why" type="checkbox" value="poor-vide">
                        <label class="govuk-label govuk-checkboxes__label" for="why">
                         More control over the appointment
                        </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="why-2" name="why" type="checkbox" value="poor-audi">
                        <label class="govuk-label govuk-checkboxes__label" for="why-2">
                         Increased functionality when in the appointment
                        </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="why-3" name="why" type="checkbox" value="see-othe">
                        <label class="govuk-label govuk-checkboxes__label" for="why-3">
                         Clearer guidance
                        </label>
                        </div>

                        </div>

                        </fieldset>

                        </div>
                               </div>
                               <div class="govuk-radios__item">
                                 <input class="govuk-radios__input" id="no" name="improve" type="radio" value="no" data-aria-controls="conditional-improve-2">
                                 <label class="govuk-label govuk-radios__label" for="no">
                                   No
                                 </label>
                               </div>

                             </div>
                            </fieldset>
                            </div> -->


           <button class="govuk-button" id="send-feedback" data-module="govuk-button" onclick="javascript:SwapDivsWithClick('feedback','thankyou')">
                       Send feedback
                     </button>
                   </form>
         </div>

</div>
</div>




{% endblock %}
