{% extends "layout-citizen.html" %}

{% block pageTitle %}
  You've left the video appointment - Attend a video appointment
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              You've left the video appointment
            </h1>

          <p>You can now close this page.</p>

          <!--  <a href="conduct-video-citizen" class="govuk-button">Rejoin appointment</a> -->
    </div>
</div>
{% endblock %}
