{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Feedback - Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--<a href="#" class="govuk-back-link" onclick="goBack()">Back</a> -->

  <h1 class="govuk-heading-xl" style="margin-top:40px" id="header" data-page="submitFeedback">Feedback</h1>


  <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="feedback-message">
      How could we improve this service?
    </label>

  </h1>
  <span id="feedback-hint" class="govuk-hint">
    Do not include any personal or financial information
  </span>
</div>
 <form action="submit-feedback">
  <div class="govuk-form-group">
<textarea class="govuk-textarea govuk-!-width-three-quarters" id="feedback-message"
name="feedback-message" rows="7" aria-required="true"></textarea>
      </div>
  <!--<div class="govuk-hint hmpo-chars-left" aria-live="polite" data-module="hmpo-chars-left" data-chars-left-input="feedback-message" data-chars-left-template="{count} character{s} remaining"
    data-chars-left-default="{max} characters maximum">1200 characters remaining</div> -->

  <button class="govuk-button button" data-module="govuk-button">
        Submit feedback
      </button> </form>
  </div>



<script>
function goBack() {
  window.history.back();
}
</script>

<script>
  function closeWin() {
    var myWindow = window.close("help")
    myWindow.close();
  }
</script>

{% endblock %}
