{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  How to prepare for a video appointment - Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <!--    <a href="#" class="govuk-back-link" onclick="goBack()">Back</a> -->

        <span class="govuk-caption-xl" style="margin-top:40px">Guidance</span>
          <h1 class="govuk-heading-xl">How to prepare for your video appointment</h1> </div>


          <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Before your appointment</h2>
          <p>You'll need:<p>

            <ul class="govuk-list govuk-list--bullet">
              <li>a computer, laptop, smartphone or tablet with a camera and microphone</li>
              <li>internet access - we suggest you use wifi to avoid mobile data charges</li>
              <li>a supported web browser (the software you use to access the internet)</li>
            </ul>
            <h2 class="govuk-heading-s">Supported web browsers</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>Google Chrome (version 79 or later)</li>
              <li>Safari (version 12 or later)</li>
            </ul>

            <p>You can <a href="https://www.whatsmybrowser.org/" class="govuk-link">check your browser</a> and how up to date it is.</p>


              <h2 class="govuk-heading-m">Joining your appointment</h2>

                <p>Be ready to join the appointment 5 minutes before your scheduled start time.</p>
                <p>You will be asked for use of your camera and microphone. You must choose 'Allow' to take part in the video appointment.</p>


                <h2 class="govuk-heading-m">During your appointment</h2>

                <p>If you experience any issues with the picture or sound during the appointment, try the 'Refresh' button.
                  In most cases this will fix the problem.</p>


                <div class="warning-panel"><div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>You are not allowed to record or take pictures of a video appointment without our consent. If we suspect you are making a recording, we will end the appointment immediately.<br><br>Any criminal behaviour will be reported.</strong></div></div>


          </div>
    </div>

    <button class="govuk-button" style="margin-top:30px" id="close3" onclick="closeWin()">Close</button>


      <script>
        function closeWin() {
          var myWindow = window.close("help")
          myWindow.close();
        }
    </script>

    <noscript>
    <style>
        #close3 {display:none;}
    </style>
    </noscript>

    <script>
    function goBack() {
      window.history.back();
    }
    </script>


{% endblock %}
