{% extends "layout-citizen-3.html" %}

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/titlecase.js"></script>

{% block pageTitle %}
  What is your name? - Attend a video appointment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="start-citizen-permissions" method="post" class="form" name="theForm" id="check-in_form" style="margin-top: 40px" onsubmit="fixit()">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl" style="margin-bottom: 15px">What is your name?</h1>
          </legend>
          <p> This will only be visible to the host and will be deleted when the appointment ends.</p>


        </fieldset>
          <fieldset class="govuk-fieldset">
            <div class="govuk-form-group">
            <label class="govuk-label" for="first-name">
                First name
              </label>              <input type="text" id="first-name" name="first-name" class="govuk-input" style="width:50%"  spellcheck="false">
              </div>
              <div class="govuk-form-group">

              <label class="govuk-label" for="last-name">
                  Last name (optional)
                </label>  <input type="text" id="last-name" name="last-name" class="govuk-input" style="width:50%" spellcheck="false">
</div>
            </fieldset>
      <button class="govuk-button" data-module="govuk-button" style="margin-top: 30px">Continue</button>
</form>
    </div>

  </div>

<script>

var special_words = new Array('and',
				'the',
				'to',
				'for',
				'is',
				'in',
				'a',
				'at',
				'an',
				'from',
				'by',
				'if',
				'of');

function ie_has_no_indexOf(input) {
  for (var i=0;i<special_words.length;i++) {
    if (special_words[i]==input) {
      return 1;
    }
  }
  return -1;
}

function fixit() {
  var original = document.theForm.fullName.value.toLowerCase();
  var o_split = original.split(" ");


  for (i=0;i<o_split.length;i++) {
    if (i == 0) {
      //always capitalize the first word
      o_split[i] = (o_split[i].substring(0,1)).toUpperCase() + o_split[i].substring(1);
    }
    else if(ie_has_no_indexOf(o_split[i]) < 0) {
      o_split[i] = (o_split[i].substring(0,1)).toUpperCase() + o_split[i].substring(1);
    }
  }
  retval = o_split.join(' ');
  document.theForm.fullName.value = retval;
}
</script>
<!--
<script type="text/javascript">
    var SUPPORTED_URL = "https://dwp-video-app.herokuapp.com/citizen/WIP/join-name-citizen";
    var UNSUPPORTED_URL = "https://dwp-video-app.herokuapp.com/citizen/WIP/not-supported";

    function selectTechnologyLocation() {
        var isWebRTCSupported = navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia ||
        navigator.msGetUserMedia ||
        window.RTCPeerConnection;

        if (window.navigator.userAgent.indexOf("Edge") > -1) {
            return UNSUPPORTED_URL;
        }

        if (isWebRTCSupported) {
            return SUPPORTED_URL;
        }
        else {
            return UNSUPPORTED_URL;
        }
    }
    window.location = selectTechnologyLocation();
</script> -->


    {% endblock %}







          <!-- <h1 class="govuk-heading-xl" style="margin-top: 20px">
              What is your full name?
            </h1>

          <div class="govuk-form-group">
        <label class="govuk-label" for="cust-name">
        </label>
        <span id="event-name-hint" class="govuk-hint">
          Enter your first and last names, don't include middle names.
        </span>
        <input class="govuk-input" id="cust-name" name="cust-name" type="text" aria-describedby="event-name-hint">
      </div>

    <a href="join-name-confirm.html" role="button" draggable="false" style="margin-top:30px" class="govuk-button" data-module="govuk-button">
            Continue

          </a>

    </div>
    </div>-->
