{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Attend a video appointment
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Sorry, your browser is not supported
            </h1>
<p class="govuk-body"> Your current web browser (the software you use to access the internet) cannot run your video appointment.
  Check if you already have Google Chrome or Safari on your device and try to join your appointment again. <br><br>
  You can download or update a supported browser for free:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="#">Google Chrome</a>,</li>
  <li><a href="#">Safari</a>, commonly used on iPads, iPhones and other Apple computers.</li>
</ul>

<p class="govuk-body"> If this does not work, you will need to use a newer device. </p>


</div>
</div>
</div>




{% endblock %}
