{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Unblock your camera and microphone  - Attend a video appointment
{% endblock %}

{% block content %}
<!-- <div class="popup" style="display:none"><a href="conduct-video-citizen"><img src="/public/images/popup.png"></a></div> -->
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your camera or microphone is blocked
            </h1>
              <p class="govuk-body">You must unblock access to your camera and microphone to take part in the video appointment. Follow the instructions for your device and browser.</p>
              <ul class="govuk-list">
              <li>– &nbsp<a href="permission-denied2">Chrome on Android</a></li>
              <li>– &nbsp<a href="permission-denied2a">Safari on iPhone or iPad</a></li>
              <li>– &nbsp<a href="permission-denied2b">Chrome on Desktop</a></li>
              <li>– &nbspSafari on Desktop</li>
              </ul>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


              <h3 class="govuk-heading-s" id="Safari on desktop">Safari on desktop</h3>

                <ol class="govuk-list govuk-list--number">
                  <li>Select 'Safari' on your menu bar.</li>
                  <li>Select 'Settings for this website'.</li>
                  <li>Select 'Allow' for 'Camera' or 'Microphone'.</li>
                  <li>Exit the settings and reload the page.</li>
                </ol>
                <a href="responsive-video-full-screen" class="govuk-button" style="margin-top: 30px">Continue</a>
      </div>
  </div>
</div>
        <div style="float: right; margin-bottom: 0; padding: 0">
        <a href="conduct-video-citizen">Next</a></div>

{% endblock %}
