{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Unblock your camera and microphone  - Attend a video appointment
{% endblock %}

{% block content %}
<!-- <div class="popup" style="display:none"><a href="conduct-video-citizen"><img src="/public/images/popup.png"></a></div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your camera or microphone is blocked
            </h1>
              <p class="govuk-body">You will need to unblock access to your camera and microphone to take part in the video appointment. Follow the instructions for your device and browser.</p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Chrome on Android
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ol class="govuk-list govuk-list--number">
                    <li>Select the 3 dots in the browser toolbar.</li>
                    <li>Select 'Settings' then 'Site settings'.</li>
                    <li>Select 'Site settings'.</li>
                    <li>Select 'Camera' or 'Microphone'.</li>
                    <li>Make sure this website is in the 'Allowed' list.</li>
                    <li>If it is in 'Blocked', select it and set the camera or microphone to 'Allow'.</li>
                    <li>Exit the settings and continue from this page.</li>
                  </ol>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Safari on iPhone or iPad
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ol class="govuk-list govuk-list--number">
                    <li>Select the 3 dots in the browser toolbar.</li>
                    <li>Select 'Settings' then 'Site settings'.</li>
                    <li>Select 'Site settings'.</li>
                    <li>Select 'Camera' or 'Microphone'.</li>
                    <li>Make sure this website is in the 'Allowed' list.</li>
                    <li>If it is in 'Blocked', select it and set the camera or microphone to 'Allow'.</li>
                    <li>Exit the settings and continue from this page.</li>
                  </ol>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Chrome on Desktop
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ol class="govuk-list govuk-list--number">
                    <li>Select the 3 dots in the browser toolbar.</li>
                    <li>Select 'Settings' then 'Site settings'.</li>
                    <li>Select 'Site settings'.</li>
                    <li>Select 'Camera' or 'Microphone'.</li>
                    <li>Make sure this website is in the 'Allowed' list.</li>
                    <li>If it is in 'Blocked', select it and set the camera or microphone to 'Allow'.</li>
                    <li>Exit the settings and continue from this page.</li>
                  </ol>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Safari on Desktop
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ol class="govuk-list govuk-list--number">
                    <li>Select the 3 dots in the browser toolbar.</li>
                    <li>Select 'Settings' then 'Site settings'.</li>
                    <li>Select 'Site settings'.</li>
                    <li>Select 'Camera' or 'Microphone'.</li>
                    <li>Make sure this website is in the 'Allowed' list.</li>
                    <li>If it is in 'Blocked', select it and set the camera or microphone to 'Allow'.</li>
                    <li>Exit the settings and continue from this page.</li>
                  </ol>
              </details>


<a href="responsive-video-waiting" role="button" class="govuk-button" data-module="govuk-button" style="margin-top: 10px">Continue</a>
      </div>
  </div>


{% endblock %}
