{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  Unblock your camera and microphone  - Attend a video appointment
{% endblock %}

{% block content %}
<!-- <div class="popup" style="display:none"><a href="conduct-video-citizen"><img src="/public/images/popup.png"></a></div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your camera or microphone is blocked
            </h1>
              <p class="govuk-body">You must unblock access to your camera and microphone to take part in the video appointment. Follow the instructions for your device and browser.</p>

              <h2 class="govuk-heading-m">Mobile</h2>

                <h3 class="govuk-heading-s">Chrome on Android</h3>

                <ol class="govuk-list govuk-list--number">
                  <li>Select the 3 dots in the browser toolbar.</li>
                  <li>Select 'Settings'.</li>
                  <li>Select 'Site settings'.</li>
                  <li>Select 'Camera' or 'Microphone'.</li>
                  <li>Make sure this website is in the 'Allowed' list.</li>
                  <li>If it is in 'Blocked', select it and set the camera or microphone to 'Allow'.</li>
                  <li>Exit the settings and continue from this page.</li>
                </ol>

                <h3 class="govuk-heading-s">Safari on iPhone or iPad</h3>

                <ol class="govuk-list govuk-list--number">
                  <li>Select the 'A<span class="large-font">A</span>' icon in the address bar.</li>
                  <li>Select 'Website settings'.
                  <li>Select 'Camera' or 'Microphone' and select 'Allow'.</li>
                  <li>Select 'Done' and continue from this page.</li>
                </ol>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <h2 class="govuk-heading-m">Desktop</h2>

                <h3 class="govuk-heading-s">Safari</h3>

                <ol class="govuk-list govuk-list--number">
                  <li>Select 'Safari' on your menu bar.</li>
                  <li>Select 'Settings for this website'.</li>
                  <li>Select 'Allow' for 'Camera' or 'Microphone'.</li>
                  <li>Exit the settings and continue from this page.</li>
                </ol>

                <h3 class="govuk-heading-s">Chrome</h3>

                <ol class="govuk-list govuk-list--number">
                  <li>Select the lock icon in the address bar.</li>
                  <li>Select 'Allow' for 'Camera' or 'Microphone'.</li>
                  <li>Exit the settings and continue from this page.</li>
                </ol>
<a href="responsive-video-waiting" role="button" class="govuk-button" data-module="govuk-button" style="margin-top: 10px">Continue</a>
      </div>
  </div>


{% endblock %}
