{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Video appointment - Attend a video appointment
{% endblock %}

{% block header %}

{% include "includes/header-attend-video.html" %}
<div class="dwp-video-header">
  <div class="govuk-width-container" style="margin: 0, text-align: center; max-width: 960px">
    {% include "includes/top-btn--conduct-citizen.html" %}
      </div>
</div>

{% endblock %}

{% block content %}

    <div class="flex-container">

        <div class="flex-item flex-responsive-container">

            <video id="video" autoplay=""></video>

            <div class="flex-selfie-container-waiting">
                <video id="selfie-video" autoplay="" style="object-fit: cover;"></video>
            </div>

        </div>
        <div style="float: right; margin:50px">
      <a href="end-complete-citizen">Appointment finished</a>   <a href="removed-citizen">Removed by host</a>

        </div>

    </div>

    <script>
        // Grab elements, create settings, etc.
        var video = document.getElementById('video');
        var selfieVideo = document.getElementById('selfie-video');

        // Get access to the camera!
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            // Not adding `{ audio: true }` since we only want video now
            navigator
                .mediaDevices
                .getUserMedia({video: true})
                .then(function (stream) {
                    //video.src = window.URL.createObjectURL(stream);
                    video.srcObject = stream;
                    video.play();

                    selfieVideo.srcObject = stream;
                    selfieVideo.play();
                });
        }
    </script>

    <script>

        function configureViewportHeight() {
            const vh = window.innerHeight * 0.01; // Get inner height of the window and multiply it by 1% to get one unit of vh.
            document.documentElement.style.setProperty('--vh', `${vh}px`); // Set the value in the "--vh" custom property to the root of the document
        }

        configureViewportHeight(); // Configure the custome viewport property.
        window.addEventListener('resize', configureViewportHeight); // Listen to resize event and fire the above function.

    </script>


    <script>
      const selfie-video = document.getElementById('video');
      const togglePipButton = document.getElementById('togglePipButton');

      // Hide button if Picture-in-Picture is not supported or disabled.
      togglePipButton.hidden = !document.pictureInPictureEnabled ||
        video.disablePictureInPicture;

      togglePipButton.addEventListener('click', function() {
        // If there is no element in Picture-in-Picture yet, let’s request
        // Picture-in-Picture for the video, otherwise leave it.
        if (!document.pictureInPictureElement) {
          video.requestPictureInPicture()
          .catch(error => {
            // Video failed to enter Picture-in-Picture mode.
          });
        } else {
          document.exitPictureInPicture()
          .catch(error => {
            // Video failed to leave Picture-in-Picture mode.
          });
        }
      });
    </script>


<script>
  const video = document.getElementById('video');

  video.addEventListener('enterpictureinpicture', function(event) {
    // Video entered Picture-in-Picture mode.
    const pipWindow = event.pictureInPictureWindow;
    console.log('Picture-in-Picture window width: ' + pipWindow.width);
    console.log('Picture-in-Picture window height: ' + pipWindow.height);
  });

  video.addEventListener('leavepictureinpicture', function() {
    // Video left Picture-in-Picture mode.
  });
</script>
{% endblock %}
