{% extends "layout-staff.html" %}

{% block pageTitle %}
  Your video appointment has ended - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Mae eich apwyntiad fideo wedi gorffen
      </h1>


        <p>Gallwch ddechrau apwyntiad newydd neu adael y dudalen hon os ydych wedi gorffen.</p>

<a href="enter-code" role="button" style="margin-top: 30px;" class="govuk-button" data-module="govuk-button">Dechrau apwyntiad newydd</a>


      </div>
    </div>
  </div>



{% endblock %}
