{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Video appointment - Attend a video appointment
{% endblock %}

{% block header %}

{% include "includes/headers/header-attend.html" %}

  <div class="dwp-video-header-conduct">
    <div class="govuk-width-container" style="margin: 0, text-align: center;">
      <div class="btn-video-top">

      <div class="btn-video-top--right">

          <button id="refresh" class="govuk-button govuk-button--secondary govuk-button--panel" style="margin: 0px 0px 15px 0px;">Refresh</button>

          </div>
      </div>
        </div>
  </div>

  <!-- Portrait -->
  <div class="portrait-screen-only">

    <main style="margin:0; padding:0;">
    <div class="flex-container">
      <div class="flex-item flex-responsive-container" style="height: calc(100vh - 280px); background-color: #0b0c0c;">
        <div class="selfie-single">
          <img class="video-participant-con" style="width: 100%;" src="/public/images/workcoach9.png">
          <div class="mute-tag"> <h2 class="govuk-heading-s" style="color: #fff; margin-bottom: 0px; display: inline;">Host</h2>
          </div>
          </div>
        <div class="selfie-multiple-small"  style="border: 1px solid #b1b4b6;">
            <img class="video-participant"  id="cameraOnSml" style="object-fit:cover;  width: 100%;" src="/public/images/Citizen.png">
            <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTagSml">
            <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Microphone off</p>
            </div>

        </div>


    </div>
    <div class="bottom-toggles">
      <h1 class="govuk-heading-s">Your settings</h1>
      <div class="switch-container5">
    <label for="microphone" class="govuk-body govuk-!-margin-right-5">Microphone </label>
           <button role="switch" aria-checked="true" id="microphone" onclick="myFunctionSml()" class="switch5 govuk-button govuk-button--secondary">
              <span class="govuk-body govuk-!-font-size-14">Off</span>
              <span class="govuk-body govuk-!-font-size-14">On</span>
            </button>
          </div> </div>


          </div>
          </main>
          </div>


    <!-- Medium -->


  <div class="medium-screen-only">
    <main style="margin:0; padding:0;">
      <div class="govuk-grid-column-full" style="padding: 0px;">
    <div class="flex-container">
      <div class="flex-item flex-responsive-container" style="height: calc(100vh - 280px);background-color: #0b0c0c;">
        <div class="landscape-main">
        <img class="video-participant-2" src="/public/images/workcoach9.png">
        <div class="mute-tag"> <h2 class="govuk-heading-s" style="color: #fff; margin-bottom: 0px; display: inline;">Host</h2>
        </div>
      </div>
      <div class="landscape-medium" style="background-color: #0b0c0c; border: 1px solid #b1b4b6; min-height: 100px;">
            <img class="video-participant" id="cameraOnMed" style="object-fit:cover;  width: 100%;" src="/public/images/Citizen.png">
            <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTagMed">
            <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Microphone off</p>
            </div>  </div>

    </div>
    <div class="govuk-!-padding-top-4 govuk-!-padding-left-7 govuk-!-padding-bottom-9" style="background-color: #fff;">
      <h1 class="govuk-heading-s">Your settings</h1>
      <div class="switch-container5">

    <label for="microphone" class="govuk-body govuk-!-font-size-16 govuk-!-margin-right-3">Microphone </label>
           <button role="switch" aria-checked="true" id="microphone" onclick="myFunctionMed()" class="switch5 govuk-button govuk-button--secondary govuk-!-margin-right-7">
              <span class="govuk-body govuk-!-font-size-14">Off</span>
              <span class="govuk-body govuk-!-font-size-14">On</span>
            </button>
          </div> </div>


            </div>

            </main>
   </div>

  {% endblock %}


{% block content %}

<!-- Desktop -->

<div class="desktop-screen-only">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="video-frame">
          <div class="attendee-main">
          <img class="video-participant-con" width="100%" style="aspect-ratio: 4/3;" src="/public/images/workcoach9.png">
          <div class="mute-tag" style="background-color: #0b0c0c; border-radius: 5px;"> <h2 class="govuk-heading-s" style="color: #fff; margin-bottom: 0px; display: inline;">Host</h2>
          </div>
        </div>
        <div class="selfie-multiple-small">
            <img class="video-participant-cov"  style="object-fit:cover;  width: 100%; border: 1px solid #b1b4b6;" src="/public/images/Citizen.png">
            <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTag">
            <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Microphone off</p>
            </div> </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Your settings</h2>
        <div class="switch-container5">
        <div class="govuk-!-margin-bottom-1">
        <label for="background" class="govuk-body-s govuk-!-margin-right-7 govuk-!-margin-bottom-2" style="display:inline-block">Microphone </label>
             <button role="switch" aria-checked="true" id="microphone" onclick="myFunction()" class="switch5 govuk-button govuk-button--secondary">
                <span class="govuk-body govuk-!-font-size-14">Off</span>
                <span class="govuk-body govuk-!-font-size-14">On</span>
              </button>
              </div> </div> </div> </div>

<a href="host-drops" class="govuk-link">Host drops</a> <br> <a href="host-mic-off" class="govuk-link">Host turns off mic</a> <a href="end-complete-citizen" class="govuk-link" style="float:right;">Host ends</a> </div>

        <script>      document.querySelectorAll(".switch5").forEach(function(theSwitch) {
        theSwitch.addEventListener("click", handleClickEvent, false);
      });

      function handleClickEvent(evt) {
        let el = evt.target;

        if (el.getAttribute("aria-checked") == "true") {
            el.setAttribute("aria-checked", "false");
        } else {
            el.setAttribute("aria-checked", "true");
        }
      } </script>


            <script>
              function myFunction() {
                var x = document.getElementById("muteTag");
      if (x.style.display === "none") {
      x.style.display = "block";
      } else {
      x.style.display = "none";
      }
              }
              </script>


                    <script>
                      function myFunctionMed() {
                        var x = document.getElementById("muteTagMed");
              if (x.style.display === "none") {
              x.style.display = "block";
              } else {
              x.style.display = "none";
              }
                      }
                      </script>

                      <script>
                        function myFunctionSml() {
                          var x = document.getElementById("muteTagSml");
                if (x.style.display === "none") {
                x.style.display = "block";
                } else {
                x.style.display = "none";
                }
                        }
                        </script>



{% endblock %}
