{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Mae eich gwe-letywr wedi colli cyswllt - Mynychu apwyntiad fideo
{% endblock %}

{% block header %}

{% include "includes/header-conduct-welsh.html" %}

<div class="dwp-video-header-conduct">
  <div class="govuk-width-container" style="margin: 0, text-align: center;">
    <div class="btn-video-top">
    <div class="btn-video-top--right">

        <button id="refresh" class="govuk-button govuk-button--secondary govuk-button--panel" style="margin: 0px 0px 15px 0px;">Adnewyddu</button>

        </div>
      </div>
</div>
</div>



  <!-- Portrait -->

    <div class="portrait-screen-only">

      <main style="margin:0; padding:0;">
      <div class="flex-container">
        <div class="flex-item flex-responsive-container" style="height: calc(100vh - 250px); border-bottom: 2px solid #0b0c0c;">
          <div class="selfie-single">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9 govuk-!-padding-left-6" style="display: inline-block; text-align: left;">

            <h1 class="govuk-heading-l">
              Mae eich gwe-letywr wedi colli cyswllt
            </h1>

            <p class="govuk-body">
              Gallai hyn fod oherwydd bod ganddynt broblem gyda'u rhyngrwyd neu fod eu porwr gwe wedi cau.
              </p>
              <p class="govuk-body"> Gallwch ddisgwyl iddynt ailymuno neu gau’r dudalen.</p>
    </div>

            </div>
          <div class="selfie-multiple-small" style="border: 1px solid #b1b4b6;">
              <img class="video-participant-cov" id="myImage3" style="object-fit:cover;  width: 100%;" src="/public/images/Citizen.png">
              <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTagSml">
              <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Microphone off</p>
              </div>
          </div>
      </div>
      <div class="bottom-toggles">
        <h1 class="govuk-heading-s">Your settings</h1>
        <div class="switch-container5">
      <label for="microphone" class="govuk-body govuk-!-margin-right-5">Microphone </label>
             <button role="switch" aria-checked="true" id="microphone" onclick="myFunctionSml()" class="switch5 govuk-button govuk-button--secondary">
                <span class="govuk-body govuk-!-font-size-14">Off</span>
                <span class="govuk-body govuk-!-font-size-14">On</span>
              </button>
            </div> </div>


            </div>
            </main>
            </div>

    <!-- Medium -->


    <div class="medium-screen-only">
      <main style="margin:0; padding:0;">
        <div class="govuk-grid-column-full" style="padding: 0px;">
      <div class="flex-container" >
        <div class="flex-item flex-responsive-container" style="height: calc(100vh - 280px); background-color: #fff;">
            <div class="selfie-single" style="border-bottom: 2px solid #0b0c0c;">
              <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9 govuk-!-padding-left-7" style="display: inline-block; text-align: left;">

                <h1 class="govuk-heading-l">
                  Mae eich gwe-letywr wedi colli cyswllt
                </h1>

                <p class="govuk-body">
                  Gallai hyn fod oherwydd bod ganddynt broblem gyda'u rhyngrwyd neu fod eu porwr gwe wedi cau.
                  </p>
                  <p class="govuk-body"> Gallwch ddisgwyl iddynt ailymuno neu gau’r dudalen.</p>
              </div>
            <div class="selfie-multiple-small">
                <img class="video-participant-cov" style="width:100%;" src="/public/images/Citizen.png">
                <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTagMed">
                <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Microphone off</p>
                </div>
            </div>
      </div> </div>
    <div class="govuk-!-padding-top-4 govuk-!-padding-left-7 govuk-!-padding-bottom-9" style="background-color: #fff;">
      <h1 class="govuk-heading-s">Your settings</h1>
      <div class="switch-container5">

    <label for="microphone" class="govuk-body govuk-!-font-size-16 govuk-!-margin-right-3">Microphone </label>
           <button role="switch" aria-checked="true" id="microphone" onclick="myFunctionMed()" class="switch5 govuk-button govuk-button--secondary govuk-!-margin-right-7">
              <span class="govuk-body govuk-!-font-size-14">Off</span>
              <span class="govuk-body govuk-!-font-size-14">On</span>
            </button>
          </div> </div>


            </div>

            </main>
   </div>

  {% endblock %}

  {% block content %}

  <!-- Desktop -->

  <div class="desktop-screen-only">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="video-frame-attendee">
          <div class="attendee-main" style="background-color:#fff; border: 3px solid #0b0c0c;">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9 govuk-!-padding-left-9" style="display: inline-block; text-align: left;">

              <h1 class="govuk-heading-l">
                Mae eich gwe-letywr wedi colli cyswllt
              </h1>

              <p class="govuk-body">
                Gallai hyn fod oherwydd bod ganddynt broblem gyda'u rhyngrwyd neu fod eu porwr gwe wedi cau.
                </p>
                <p class="govuk-body"> Gallwch ddisgwyl iddynt ailymuno neu gau’r dudalen.</p>
            </div>
        </div>
          <div class="selfie-multiple-small">
              <img class="video-participant-cov" id="myImage" style="width:100%" src="/public/images/Citizen.png">
              <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTag">
              <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Microphone off</p>
              </div>
          </div>
    </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-s">Your settings</h2>
      <div class="switch-container5">
      <div class="govuk-!-margin-bottom-1">
      <label for="background" class="govuk-body-s govuk-!-margin-right-7 govuk-!-margin-bottom-2" style="display:inline-block">Microphone </label>
           <button role="switch" aria-checked="true" id="microphone" onclick="myFunction()" class="switch5 govuk-button govuk-button--secondary">
              <span class="govuk-body govuk-!-font-size-14">Off</span>
              <span class="govuk-body govuk-!-font-size-14">On</span>
            </button>
            </div> </div> </div> </div>

    <a class="govuk-link" href="conduct-video-citizen" style="float:right;">Host joins </a>

    <script>      document.querySelectorAll(".switch5").forEach(function(theSwitch) {
    theSwitch.addEventListener("click", handleClickEvent, false);
  });

  function handleClickEvent(evt) {
    let el = evt.target;

    if (el.getAttribute("aria-checked") == "true") {
        el.setAttribute("aria-checked", "false");
    } else {
        el.setAttribute("aria-checked", "true");
    }
  } </script>



        <script>
          function myFunction() {
            var x = document.getElementById("muteTag");
  if (x.style.display === "none") {
  x.style.display = "block";
  } else {
  x.style.display = "none";
  }
          }
          </script>


                <script>
                  function myFunctionMed() {
                    var x = document.getElementById("muteTagMed");
          if (x.style.display === "none") {
          x.style.display = "block";
          } else {
          x.style.display = "none";
          }
                  }
                  </script>

                  <script>
                    function myFunctionSml() {
                      var x = document.getElementById("muteTagSml");
            if (x.style.display === "none") {
            x.style.display = "block";
            } else {
            x.style.display = "none";
            }
                    }
                    </script>

  {% endblock %}
