{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Help using this service
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <a href="join-start-citizen" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Help using this service
            </h1>

          <p>Find out about browser settings, video and audio troubleshooting and accessibility.</p>

          <a href="€" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Allowing access to your camera and microphone</a>
          <p class="govuk-body govuk-!-margin-top-1">Information about how to allow access to your camera and microphone, so you can take part in a video appointment.</p>
          <a href="€" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Video problems</a>
          <p class="govuk-body govuk-!-margin-top-1">Information about what to do if you're having problems with the picture during your video appointment.</p>
          <a href="€" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Audio problems</a>
          <p class="govuk-body govuk-!-margin-top-1">Information about what to do if you're having problems with the sound during the video appointment.</p>
          <a href="€" class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold">Accessibility</a>
          <p class="govuk-body govuk-!-margin-top-1">Details of accessibility and this service.</p>





{% endblock %}
