{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Attend a video appointment
            </h1>

        <p>Use this service to attend a scheduled video appointment.</p>

          <a href="conduct-video-citizen.html" class="govuk-button" style="margin-top:40px">
            Start video appointment</a>
<!--
          <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">If you have any questions about attending a video appointment, you can <a href="help">get help using this service</a>.</p>

        <!--<p class="govuk-body">If you're not prompted, you may have to change your browser settings manually. You can get help with <a href="#">changing your browser settings.</a></p>

        </div>-->
    </div>
<div style="float: right; margin-top: 450px">
<a href="start-citizen-too-early">Early</a> | <a href="start-citizen-too-late">Late</a></div>


{% endblock %}
