{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Thank you for your feedback - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Thank you for your feedback
            </h1>


  <p class="govuk-body">You can close this page or <a class="govuk-link govuk-link--no-visited-state" href="https://getinvolved.dwp.gov.uk/++preview++/digital/e86ff17a/consultation/subpage.2020-09-23.0601311615/">get involved in future research</a>.
        </div>



{% endblock %}
