{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Thank you for your feedback - Attend a video appointment
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Thank you for your feedback
            </h1>


  <p class="govuk-body">You can close this page or <a class="govuk-link govuk-link--no-visited-state" href="https://getinvolved.dwp.gov.uk/digital/35912ea7/">get involved in future research</a>.
    </div>
  </div>




{% endblock %}
