.video-banner {
    @media (max-height: 500px) { 
      display: none;
     }
  }
  
  .video-container {
    position: relative;
    height: calc(100vh - 200px);
    max-height: 712px;
    max-width: 1280px;
    margin: auto;
  }
  
  video {
    height: 100%;
    width: 100%;
  }
  
  .video-preview{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25%;
    width: 25%;

    img{
      border: 2px solid #0b0c0c;
      width: auto;
      height: 100%;
      @media (orientation: landscape) { 
        width: auto;
        height: 100%;
       }

      @media (orientation: portrait) { 
        width: 100%;
        height: auto;
      }
    }
  }