{% extends "layout-staff.html" %}

{% block pageTitle %}
Enter the appointment code - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There's a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#appointmentCode">Appointment code must be 6 letters</a>
            </li>
            <li>

            </li>
          </ul>
        </div>
      </div>


      <form action="/appointment-code-answer" method="post" class="govuk-form-group--error" id="appointmentCode" style="margin-top: 10px">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-heading-xl">
                Enter the appointment code </h1>
                <p>This is the 6 letter code you generated when you created the appointment.</p>
            </legend>
            </fieldset>
            <fieldset class="govuk-fieldset">

  <label class="govuk-label" for="address-line-1">
Appointment code </label>

<span id="appointmentCode" class="govuk-error-message">
<span class="govuk-visually-hidden">Error:</span> Appointment code must be 6 letters
</span>
      <input type="text" id="appointmentCode" name="appointmentCode" class="govuk-input govuk-input--error" style="width:50%">
      </fieldset>

      </form>
        <button class="govuk-button" data-module="govuk-button" style="margin-top: 30px">Continue</button>
      <br>


      <h2 class="govuk-heading-m">If you do not have your code</h2>

      <p>If you've lost or forgotten your code, you'll need to create a new video appointment. </p>

    </div>
    <a href="code-error-not-alpha" style="float: right">Not alpha</a>
  </div>

  </div>

{% endblock %}
