{% extends "layout-staff-vid.html" %}

{% block pageTitle %}
  Video appointment - Conduct a video appointment
{% endblock %}


{% block beforeContent %}
<div class="dwp-video-header">
    <div class="govuk-width-container" style="margin: 0, text-align: center; max-width: 1280px">
        {% include "includes/top-btn-conduct-staff-trial.html" %}
    </div>
</div>
{% endblock %}

{% block content %}

<div class="app-width-container--wide" id="one" style="display:block; z-index: 1;">
  <div class="govuk-video-image">
 <img src="/public/images/Portraitmobile.png">
   </div>
</div>

<!-- hidden pause content -->
<div class="app-width-container--wide" id="two" style="display:none">
<div class="govuk-video-frame">
  <div class="govuk-video-inside-frame">
    <div class="govuk-grid-column-two-thirds" style="display: inline-block; text-align: left;">
      <h1 class="govuk-heading-xl">
        You've paused the video appointment
      </h1>

      <p>
        Resume the appointment when you're ready.
        </p>

<a href="#one" id="resume" class="govuk-button" style="margin: 25px 15px 0px 0px" onclick="javascript:SwapDivsWithClick('one','two'); myPauseEnabled(pause)">Resume</a>

    </div>
  </div>
</div>
</div>

<div style="float: right; margin:50px 200px">
<!--<a href="other-paused">Claimant paused</a> <a href="technical-error">Technical error</a> -->
</div>

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="public/javascripts/staff-timer.js"></script>
<script type="text/javascript">

function SwapDivsWithClick(div1,div2)
{
   d1 = document.getElementById(div1);
   d2 = document.getElementById(div2);
  document.getElementById("pause").disabled = true;

   if( d2.style.display == "none" )
   {
      d1.style.display = "none";
      d2.style.display = "block";
   }
   else
   {
      d1.style.display = "block";
      d2.style.display = "none";
   }
}

function SwapDivsFinish(div1,div3)
{
   d1 = document.getElementById(div1);
   d3 = document.getElementById(div3);

   if( d3.style.display == "none" )
   {

      d3.style.display = "block";
       document.getElementById("three").focus();
   }
   else
   {
      d1.style.display = "block";
      d3.style.display = "none";
   }
}

function CheckPauseOn(div1,div2)
{
  if(d2.style.display == "block")
  {
    d2.style.display == "block";
    d1.style.display = "none";
    document.getElementById("pause").disabled = true;
  }
}

</script>

<script>
  function myPauseEnabled(el)
  {
    el.disabled = false;
  }

  function myFinishEnabled(el)
  {
    el.disabled = false;
  }
</script>

<script>
  function startTimer() {
    stopTimer(); //make sure timer is not already running
    a = setInterval(setTime, 1000); //start new timer
  }
document.getElementById("resume").addEventListener("click", startTimer);
</script>

<script>
    $(document).ready(function() {

      $("#resume").click(function() {

      $("div").remove(txt,txt2);
    });
  });
</script>

{% endblock %}
