{% extends "layout-staff.html" %}

{% block pageTitle %}
  This appointment has expired - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
            This appointment has expired
            </h1>

          <p>You need to create another appointment code and try again.</p>
          <a href="enter-code" style="margin: 30px 15px 0px 0px" class="govuk-button">Try again</a>

        </div>
    </div>
</div>
{% endblock %}
