{% extends "layout-staff.html" %}

{% block pageTitle %}
  You're too early to join the appointment - Conduct a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
            You’re too early to start the appointment
            </h1>

          <p>Try again within 30 minutes of the appointment start time.</p>

          <a href="enter-code" style="margin-top: 30px" class="govuk-button">Try again</a>

        </div>
    </div>
</div>
{% endblock %}
