{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Your video appointment is finished - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              Your video appointment is finished
            </h1>

          <p>
            You can now leave this page.
          </p>

    </div>
    </div>
</div>
{% endblock %}
