{% extends "layout-create.html" %}

{% block pageTitle %}
  Video appointment created - Create a video appointment
{% endblock %}


{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation" style="margin-bottom:40px">
          <h1 class="govuk-panel__title">
            Video appointment created
          </h1>
        </div>

<h2 class="govuk-heading-m">What to do next</h2>
<p>1. Copy this appointment code and save it in your diary. You’ll need it to join the video appointment.</p>

      <div class="code-box-2">
        <div class="copy-code-btn"><button class="app-copy-button" id="btext" onclick="copyCode()" role="button" tabindex="0">Copy code</button>
        </div>
        <div class="code" id="divCode">ljwnms</div>

</div>

<p>2. Copy these joining instructions and send them to the claimant.</p>

<div class="text-box-2">

<div class="copy-email-btn"><button class="app-copy-button" id="btext2" onclick="copyClipboard()" role="button" tabindex="0">Copy text</button>
</div>

<div class="email" id="divText">


  <h2 class="govuk-heading-m">Appointment details:</h2>

<ol class="govuk-list govuk-list--bullet">


<strong>Your appointment is with:</strong>  [First Name]
<br><br>
<strong>On this date:</strong>  22 June 2020
<br><br>
<strong>At this time:</strong>  {{ data['startTime'] }}
<br><br>
<strong>It will last:</strong>  {{ data['myDuration'] }}
<br><br>
</ol>

<h2 class="govuk-heading-m" style="padding-bottom:5px">How to attend your appointment:</h2>
<ol class="govuk-list govuk-list--number">
<h3 class="govuk-heading-s" style="font-size: 19px">
<li>Check you're ready for a video appointment</li></h3>
<p>You need to make sure you have the right equipment and know what to expect before you attend your appointment.</p>
<a href="https://dwp-video-app.herokuapp.com/citizen/version-3/help" target="_blank"> Prepare for your video appointment (opens in new window or tab)</a>
<br><br>

<h3 class="govuk-heading-s" style="font-size: 19px"><li>Attend your video appointment</li></h3>
<p>You should be ready to attend your appointment from 10 minutes before the start time.</p>
<a href="#" target="_blank"> Attend your video appointment (opens in new window or tab)</a>
</ol>
</div>


  </div>

<div class="govuk-inset-text">
If you need to reschedule the appointment, you must <a href="enter-video-details">enter the video appointment details</a> again to create a new appointment.
    </div>

    <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Make sure you’ve copied the code and text before you finish. You will not be able to view this page again.
  </strong>
</div>

<a href="create-video-start" button class="govuk-button">Finish</a>
  </div>
</div>
</div>



<script>
function copyCode() {
var elm = document.getElementById("divCode");
// for Internet Explorer

if(document.body.createTextRange) {
  var range = document.body.createTextRange();
  range.moveToElementText(elm);
  range.select();
  document.execCommand("Copy");
}
else if(window.getSelection) {
  // other browsers

  var selection = window.getSelection();
  var range = document.createRange();
  range.selectNodeContents(elm);
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand("Copy");
  document.getElementById("btext").innerHTML = 'Code copied';
  var originalContent = document.getElementById("btext").innerHTML;
        setTimeout(function() {
                    document.getElementById('btext').innerHTML = 'Copy code'
                 }, 3000);

}
}
</script>

  <script>
function copyClipboard() {
  var elm = document.getElementById("divText");
  // for Internet Explorer

  if(document.body.createTextRange) {
    var range = document.body.createTextRange();
    range.moveToElementText(elm);
    range.select();
    document.execCommand("Copy");
  }
  else if(window.getSelection) {
    // other browsers

    var selection = window.getSelection();
    var range = document.createRange();
    range.selectNodeContents(elm);
    selection.removeAllRanges();
    selection.addRange(range);
    document.execCommand("Copy");
    document.getElementById("btext2").innerHTML = 'Text copied';
    var originalContent2 = document.getElementById("btext").innerHTML;
          setTimeout(function() {
                      document.getElementById('btext2').innerHTML = 'Copy text'
                   }, 3000);

  }
}
</script>


{% endblock %}
