{% extends "layout-citizen-welsh.html" %}

{% block pageTitle %}
  Gweld rhagolwg o’ch fideo - Attend a video appointment
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-top-7">
        Gweld rhagolwg o’ch fideo
      </h1>

      <p class="govuk-body">Gallwch edrych i weld bod eich camera'n gweithio cyn i chi ymuno â'ch apwyntiad fideo.</p>

<div class="govuk-!-width-one-half">
  <img class="video-participant-cov" id="picture" style="aspect-ratio: 4/3; width:100%;" src="/public/images/Citizen.png">
</div>



<a href="wait-message" role="button" class="govuk-button govuk-!-margin-top-7">
  Ymuno â'r apwyntiad
</a>
    </div>
  </div>

<a class="govuk-link" href="start-citizen-permissions" style="float:right;"> Don't allow permissions </a>
<script>
  function changeSrc() {
      if (document.getElementById("background-on").checked) {
      document.getElementById("picture").src = "/public/images/gradient.png";
    } else if (document.getElementById("background-off").checked) {
      document.getElementById("picture").src ="/public/images/original.png";
      }
  }
  </script>

{% endblock %}
