{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Rydych wedi ymuno gyda’r apwyntiad fideo - Mynychu apwyntiad fideo
{% endblock %}

{% block header %}

{% include "includes/header-conduct-welsh.html" %}

<div class="dwp-video-header-conduct">
  <div class="govuk-width-container" style="margin: 0, text-align: center;">
    <div class="btn-video-top">
    <div class="btn-video-top--right">

        <button id="refresh" class="govuk-button govuk-button--secondary govuk-button--panel" style="margin: 0px 0px 15px 0px;">Adnewyddu</button>

        </div>
      </div>
</div>
</div>



  <!-- Portrait -->

    <div class="portrait-screen-only">

      <main style="margin:0; padding:0;">
      <div class="flex-container">
        <div class="flex-item flex-responsive-container" style="height: calc(100vh - 250px); border-bottom: 2px solid #0b0c0c;">
          <div class="selfie-single">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9 govuk-!-padding-left-6" style="display: inline-block; text-align: left;">

            <h1 class="govuk-heading-l">
              Rydych wedi ymuno gyda’r apwyntiad fideo
            </h1>

            <p class="govuk-body">
              Dylech ddisgwyl i’r person sy’n ei arwain i ymuno.
              </p>
              <p class="govuk-body"> Nid oes angen i chi wneud dim. Bydd yr apwyntiad yn dechrau yn awtomatig.</p>
    </div>

            </div>
          <div class="selfie-multiple-small" style="border: 1px solid #b1b4b6;">
              <img class="video-participant-cov" id="myImage3" style="object-fit:cover;  width: 100%;" src="/public/images/Citizen.png">
              <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTagSml">
              <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Cau microffon</p>
              </div>
          </div>
      </div>
      <div class="bottom-toggles">
        <h1 class="govuk-heading-s">Eich gosodiadau</h1>
        <div class="switch-container5">
      <label for="microphone" class="govuk-body govuk-!-margin-right-1">Microffon </label>
             <button role="switch" aria-checked="true" id="microphone" onclick="myFunctionSml()" class="switch5 govuk-button govuk-button--secondary govuk-!-margin-right-1">
                <span class="govuk-body govuk-!-font-size-14">Cau</span>
                <span class="govuk-body govuk-!-font-size-14">Agor</span>
              </button>
              <label for="camera" class="govuk-body govuk-!-margin-right-1">Camera </label>
                     <button role="switch" aria-checked="true" id="camera" onclick="cameraOffSml()" class="switch5 govuk-button govuk-button--secondary">
                        <span class="govuk-body govuk-!-font-size-14">Cau</span>
                        <span class="govuk-body govuk-!-font-size-14">Agor</span>
                      </button>
            </div> </div>


            </div>
            </main>
            </div>

    <!-- Medium -->


    <div class="medium-screen-only">
      <main style="margin:0; padding:0;">
        <div class="govuk-grid-column-full" style="padding: 0px;">
      <div class="flex-container" >
        <div class="flex-item flex-responsive-container" style="height: calc(100vh - 280px); background-color: #fff;">
            <div class="selfie-single" style="border-bottom: 2px solid #0b0c0c;">
              <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9 govuk-!-padding-left-7" style="display: inline-block; text-align: left;">

                <h1 class="govuk-heading-l">
                  Rydych wedi ymuno gyda’r apwyntiad fideo
                </h1>

                <p class="govuk-body">
                  Dylech ddisgwyl i’r person sy’n ei arwain i ymuno.
                  </p>
                  <p class="govuk-body"> Nid oes angen i chi wneud dim. Bydd yr apwyntiad yn dechrau yn awtomatig.</p>
              </div>
            <div class="selfie-multiple-small">
                <img class="video-participant-cov" style="width:100%;" id="myImage2" src="/public/images/Citizen.png">
                <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTagMed">
                <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Cau microffon</p>
                </div>
            </div>
      </div> </div>
      <div class="govuk-!-padding-top-4 govuk-!-padding-left-7 govuk-!-padding-bottom-9" style="background-color: #fff;">
        <h1 class="govuk-heading-s"> Eich gosodiadau</h1>
        <div class="switch-container5">

      <label for="microphone" class="govuk-body govuk-!-margin-right-3">Microffon </label>
             <button role="switch" aria-checked="true" id="microphone" onclick="myFunctionMed()" class="switch5 govuk-button govuk-button--secondary govuk-!-margin-right-7">
                <span class="govuk-body govuk-!-font-size-14">Cau</span>
                <span class="govuk-body govuk-!-font-size-14">Agor</span>
              </button>

              <label for="camera" class="govuk-body govuk-!-margin-right-1">Camera </label>
                     <button role="switch" aria-checked="true" id="camera" onclick="cameraOffMed()" class="switch5 govuk-button govuk-button--secondary">
                        <span class="govuk-body govuk-!-font-size-14">Cau</span>
                        <span class="govuk-body govuk-!-font-size-14">Agor</span>
                      </button>
            </div> </div>


              </div>

              </main>
      </div>

  {% endblock %}

  {% block content %}

  <!-- Desktop -->

  <div class="desktop-screen-only">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <div class="video-frame-attendee">
          <div class="attendee-main" style="background-color:#fff; border: 3px solid #0b0c0c;">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9 govuk-!-padding-left-9" style="display: inline-block; text-align: left;">

              <h1 class="govuk-heading-l">
                Rydych wedi ymuno gyda’r apwyntiad fideo
              </h1>

              <p class="govuk-body">
                Dylech ddisgwyl i’r person sy’n ei arwain i ymuno.
                </p>
                <p class="govuk-body"> Nid oes angen i chi wneud dim. Bydd yr apwyntiad yn dechrau yn awtomatig.</p>
            </div>
        </div>
          <div class="selfie-multiple-small">
              <img class="video-participant-cov" id="myImage" style="width:100%" src="/public/images/Citizen.png">
              <div class="name-tag" style="background-color: #0b0c0c; display:none; margin: 2px; border-radius:3px;"  id="muteTag">
              <p class="govuk-body-s" style="color:#fff; margin-bottom: 0px;">Cau microffon</p>
              </div>
          </div>
    </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-s">Eich gosodiadau</h2>
      <div class="switch-container5">
      <div class="govuk-!-margin-bottom-1">
      <label for="background" class="govuk-body-s govuk-!-margin-right-7 govuk-!-margin-bottom-2" style="display:inline-block">Microffon </label>
           <button role="switch" aria-checked="true" id="microphone" onclick="myFunction()" class="switch5 govuk-button govuk-button--secondary">
              <span class="govuk-body govuk-!-font-size-14">Cau</span>
              <span class="govuk-body govuk-!-font-size-14">Agor</span>
            </button>
            </div> </div> <hr>

            <div class="switch-container5">
            <div class="govuk-!-margin-bottom-1 govuk-!-margin-top-4">
            <label for="camera" class="govuk-body-s govuk-!-margin-right-7 govuk-!-margin-bottom-2" style="display:inline-block">Camera </label>
                 <button role="switch" aria-checked="true" id="camera" onclick="cameraOff()" class="switch5 govuk-button govuk-button--secondary govuk-!-margin-left-2">
                    <span class="govuk-body govuk-!-font-size-14">Cau</span>
                    <span class="govuk-body govuk-!-font-size-14">Agor</span>
                  </button>
                  </div> </div>

          <!--      <div class="govuk-summary-list__row" style="height:60px;">
                  <dd class="govuk-summary-list__value">
                    Microffon
                  </dd>
                  <dd class="govuk-summary-list__actions" style="width:45%">
                    <div class="switch-container5">
                    <button role="switch" aria-checked="true" id="microphone"  onclick="myFunction()" class="switch5 govuk-button govuk-button--secondary" style="margin-right:0;">
                      <span class="govuk-body govuk-!-font-size-14">Ymlaen</span>
                      <span class="govuk-body govuk-!-font-size-14">I&nbspffwrdd</span>
                    </button> </div></div>

                    <div class="govuk-summary-list__row" style="height:60px;">
                      <dd class="govuk-summary-list__value">
                        Camera
                      </dd>
                      <dd class="govuk-summary-list__actions" style="width:45%; padding-top: 15px;">
                        <div class="switch-container5">
                        <button role="switch" aria-checked="true" onclick="cameraOff()" id="camera"  class="switch5 govuk-button govuk-button--secondary" style="margin-right:0;">
                          <span class="govuk-body govuk-!-font-size-14">Off</span>
                          <span class="govuk-body govuk-!-font-size-14">On</span>
                        </button> </div> -->

                </div> </div>
  </div>



    <a class="govuk-link" href="conduct-video-citizen" style="float:right;">Host joins </a>


      <script>      document.querySelectorAll(".switch5").forEach(function(theSwitch) {
      theSwitch.addEventListener("click", handleClickEvent, false);
    });

    function handleClickEvent(evt) {
      let el = evt.target;

      if (el.getAttribute("aria-checked") == "true") {
          el.setAttribute("aria-checked", "false");
      } else {
          el.setAttribute("aria-checked", "true");
      }
    } </script>



          <script>
            function myFunction() {
              var x = document.getElementById("muteTag");
    if (x.style.display === "none") {
    x.style.display = "block";
    } else {
    x.style.display = "none";
    }
            }
            </script>


                  <script>
                    function myFunctionMed() {
                      var x = document.getElementById("muteTagMed");
            if (x.style.display === "none") {
            x.style.display = "block";
            } else {
            x.style.display = "none";
            }
                    }
                    </script>

                    <script>
                      function myFunctionSml() {
                        var x = document.getElementById("muteTagSml");
              if (x.style.display === "none") {
              x.style.display = "block";
              } else {
              x.style.display = "none";
              }
                      }
                      </script>


                      <script>

                        function cameraOffSml() {
                                    var image = document.getElementById('myImage3');
                                    if (image.src.match("/public/images/Citizen.png")) {
                                        image.src = "/public/images/camera-off-person.png";
                                    }
                                    else {
                                        image.src = "/public/images/Citizen.png";
                                    }
                                }
                        </script>

                        <script>

                          function cameraOffMed() {
                                      var image = document.getElementById('myImage2');
                                      if (image.src.match("/public/images/Citizen.png")) {
                                          image.src = "/public/images/camera-off-person.png";
                                      }
                                      else {
                                          image.src = "/public/images/Citizen.png";
                                      }
                                  }
                          </script>

                          <script>

                            function cameraOff() {
                                        var image = document.getElementById('myImage');
                                        if (image.src.match("/public/images/Citizen.png")) {
                                            image.src = "/public/images/camera-off-person.png";
                                        }
                                        else {
                                            image.src = "/public/images/Citizen.png";
                                        }
                                    }
                            </script>

  {% endblock %}
