{% extends "layout-citizen.html" %}

{% block pageTitle %}
    Conduct a video appopintment
{% endblock %}



{% block content %}
<div class="govuk-width-container">
 <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds" style="display: inline-block; text-align: left;">
            <h1 class="govuk-heading-xl" style="margin-top: 40px">
              You're the only person in the appointment
            </h1>

            <h2 class="govuk-heading-m">
              Please wait for the other person to join.
              </h2>

              <p>Your appointment is expected to start at 2:00pm.

            <!--<div class="govuk-inset-text">Please do not leave without talking to a member of staff. You may be paid less in your benefits if you miss an appointment.
            </div>-->
          </div>
          <div style="float: right; margin-bottom: 0; padding: 0">
          <a href="start-citizen-permissions">Next</a></div>
          </div>

</div>



{% endblock %}
