{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Feedback - Attend a video appointment
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<a href="#" class="govuk-back-link" onclick="goBack()">Back</a>

  <h1 class="govuk-heading-l" style="margin-top:40px" id="header" data-page="submitFeedback">Feedback</h1>

          <form action="submit-feedback" method="POST" autocomplete="off" novalidate="true" spellcheck="false">
              <p>Don’t include any personal or financial information.</p>

              <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" id="feedback-message-label" for="feedback-message">
          Tell us what you think of the online service
        </label>


        <textarea class="govuk-textarea govuk-!-width-three-quarters" id="feedback-message" name="feedback-message" rows="7" aria-required="true" maxlength="500"></textarea>
      </div>

          <div class="govuk-hint hmpo-chars-left" aria-live="polite" data-module="hmpo-chars-left" data-chars-left-input="feedback-message" data-chars-left-template="{count} character{s} remaining" data-chars-left-default="{max} characters maximum">500 characters remaining</div>
            <button class="govuk-button button" data-module="govuk-button">
        Submit feedback
      </button>
          </form>
                  </div>



<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}
