{% extends "layout-citizen.html" %}

{% block pageTitle %}
  Video appointment at job centre
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
            You’re too early to join your appointment
            </h1>

          <p>Try the link again within 10 minutes of your appointment start time.</p>

          <p>You can now leave this page. </p>

        </div>
    </div>
</div>
{% endblock %}
