{% extends "layout-citizen-3.html" %}

{% block pageTitle %}
  You're appointment has finished - Attend a video appointment
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-top: 40px">
            You’re appointment has finished
            </h1>

          <p>Check you have the correct link and try again.</p>

          <p>You can now leave this page. </p>

          <button class="govuk-button" style="margin-top:30px" id="close3" onclick="closeWin()">Close</button>

            </div>
        </div>
    </div>

    <script>
      function closeWin() {
0        var myWindow = window.close("help")
        myWindow.close();
      }
    </script>

    <noscript>
    <style>
        #close3 {display:none;}

    </style>
</noscript>

{% endblock %}
