{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include "includes/header-citizen-versions.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Remote consultation - visitor facing prototype
      </h1>

      <h2 class="govuk-heading-m">
        Developed/ In development
      </h2>
      <p>This is for testing only, do not rely on it if you want something real to happen.<br>
      Citizen journey that is as close as possible to developed/currently in development.</p>

      <p><a class="govuk-button" href="citizen/version_2/join-start-citizen">Latest version</a></p>

      <h2> <a href="citizen/version_2/join-start-citizen"> Version 2 </a> </h2>

      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version details: 2.0, 2.1, 2.2, 2.3

      </span>
      </summary>
      <div class="govuk-details__text">
      <h3 class="govuk-heading-m">2.0</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Welsh toggle added to start page. This takes the user to the welsh version of the service.</li>
      <li>Welsh toggle added to header of screens not accessed via service start page.</li>
      <li>Short feedback survey added to the end page for the claimant. If they hit 'Send feedback' they are taken to the thank you screen.</li>
<li>Thank you screen has a link to a citizen space survey where they can give their details to be involved in further research.</li>
            </ul>
      </div>
      <div class="govuk-details__text">
      <h3 class="govuk-heading-m">2.1</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Content of help and guidance page updated to include more specific information about which browsers and versions are supported.</li>
  <li>Link out to whatsmybrowser.org to tell the user which browser and version they are currently on to see if it is supported.</li>
            </ul>
      </div>

      <div class="govuk-details__text">
      <h3 class="govuk-heading-m">2.2</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Cookies page opens in same tab from the footer</li>
      <li>'Back' link added to cookies page to ensure they stay on the journey</li>
      <li>Cookies content updated to include language cookie information</li>
            </ul>
      </div>

      <div class="govuk-details__text">
      <h3 class="govuk-heading-m">2.3</h3>
      <h4 class="govuk-heading-s">  5 March 2021 </h4>
      <ul class="govuk-list govuk-list--bullet">
      <li>Accessibility statement added in both English and Welsh</li>
      <li>Accessibility statement link added to footer in Attend service and Help and guidance</li>

            </ul>
      </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Hypotheses
      </span>
      </summary>

      <div class="govuk-details__text">
      <p class="govuk-body"> <strong> Because:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>research shows some users do not know which browser they're using and whether it's supported</li>
      </ul>
      <strong> We believe that:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>giving information about supported browsers with links to download them and allowing the user to check which one they're currently using</li>
      </ul>
      <strong> Will result in:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>the user understanding whether they have a supported browser and be able to download one if they don't</li>
      </ul>
      <strong> We'll know this is true:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>when we have less users unable to join the meeting because they're on the wrong browser</li>
      </ul> </p>
      </div>
      <div class="govuk-details__text">
      <p class="govuk-body"> <strong> Because:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>we want feedback about the quality of the service to improve it</li>
      <li>we know the best time to capture feedback is straight after using the service</li>

      </ul>
      <strong> We believe that:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>providing a short survey on the end page</li>
      </ul>
      <strong> Will result in:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>feedback about the quality of the service from the majority of users</li>
      </ul>
      <strong> We'll know this is true:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>when a high percentage of users complete the survey</li>
      </ul> </p>
      </div>
      <div class="govuk-details__text">
      <p class="govuk-body"> <strong> Because:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>we may have Welsh speakers using our service</li>
      </ul>
      <strong> We believe that:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>giving the option to switch to Welsh on the start page and keeping it throughout the journey</li>
      </ul>
      <strong> Will result in:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>the citizen using the service in the langauge they prefer</li>
      </ul>
      <strong> We'll know this is true:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>if Welsh speakers are able to use the service in their preferred language</li>
      </ul>
     </p>
      </div>
      </details>

      <h2> <a href="citizen/v1-static-trial/join-start-citizen"> Version 1 </a> </h2>
      <p>Proof of concept - start of trial</p>
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version details: 1.1
      </span>
      </summary>
      <div class="govuk-details__text">
      <h3 class="govuk-heading-m">1.1</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Removed 'Close' button from help and guidance if javascript is disabled</li>
      </ul>
      </div>
      </details>



{% endblock %}
