{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include "includes/header-citizen-versions.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Remote consultation - visitor facing prototype
      </h1>

      <h2 class="govuk-heading-m">
        Design WIP
      </h2>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>

      <h2><a href="citizen/WIP/browser_script">Design WIP journey</a> </h2>
      <p>Proposed design iterations</p>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Privacy controls
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list">
            <li>  <a class='govuk-link' href="citizen/WIP/privacy/mute-and-camera">Camera and microphone toggles list with side panel - Nov 2021</a> </li>
              <li>  <a class='govuk-link' href="citizen/WIP/privacy/mute-and-camera-2">Camera and microphone toggles in line - Nov 2021</a> </li>
                  <li>  <a class='govuk-link' href="citizen/WIP/privacy/host-mic-off">Host's camera and mic off - Nov 2021</a> </li>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Multiple attendees
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <ul class="govuk-list">
            <li>  <a class='govuk-link' href="citizen/WIP/multiple/attend-3-participants">3 participants layout (desktop) - Feb 2021</a> </li>
            <li>  <a class='govuk-link' href="citizen/WIP/multiple/attend-4-participants">4 participants layout (desktop) - Feb 2021</a> </li>
            <li>  <a class='govuk-link' href="citizen/WIP/multiple/attend-2-landscape">2 participants layout (landscape - mobile and tablet) - Feb 2021</a> </li>
            <li>  <a class='govuk-link' href="citizen/WIP/multiple/attend-mobile-3">3 participants layout (portrait mobile) - Feb 2021</a> </li>
            <li>  <a class='govuk-link' href="citizen/WIP/multiple/attend-mobile-4">4 participants layout (portrait mobile) - Feb 2021</a> </li>
          </div>
        </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Blurred background
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
<p class="govuk-body"> <strong>As a </strong>citizen <strong>I need</strong> to hide my background <strong>so that</strong> I can protect my privacy.</p>
    <ul class="govuk-list">
      <li>  <a class='govuk-link' href="citizen/WIP/attend-video-citizen">Dropdown settings menu - Feb 2021</a> </li>
            <li>  <a class='govuk-link' href="citizen/WIP/attend-video-citizen-mobile">Dropdown settings menu portrait- Feb 2021</a> </li> </ul>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Waiting room
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class="govuk-body"> <strong>As a </strong>citizen <strong>I need</strong> to know I am in the right place at the right time <strong>so that</strong> I can attend my video appointment.</p>
          <ul class="govuk-list">
<li><a class='govuk-link' href="citizen/WIP/responsive-video-waiting">Messages while you wait - with selfie view</a> </li>
<li><a class='govuk-link' href="citizen/WIP/join-name-citizen">What is your full name?</a> </li>

    </div>
  </div>
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          In-journey checks
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
  <p class="govuk-body"> <strong>As a </strong>citizen <strong>I need</strong> the end-to-end journey to be intuitive <strong>so that</strong> I can participate in an appointment without needing any help, even if I have low digital skills.</p>
<br>    <p class="govuk-body"> <strong>As a </strong>citizen <strong>I need</strong> to have an uninterrupted meeting <strong>so that</strong> I can meet the appointment objectives.</p>
<br>    <p class="govuk-body"> <strong>As a </strong>citizen <strong>I need</strong> to see the workcoach clearly <strong>so that</strong> I can meet the appointment objectives.</p>
<br>    <p class="govuk-body"> <strong>As a </strong>citizen <strong>I need</strong> to hear the workcoach clearly <strong>so that</strong> I can meet the appointment objectives.</p>
<ul class='govuk-list'>
      <li> <a class='govuk-link' href="citizen/WIP/not-supported">Unsupported browser</a> </li>
      <li> <a class='govuk-link' href="citizen/WIP/noscript">Javascript 1</a> </li>
      <li> <a class='govuk-link' href="citizen/WIP/noscript2">Javascript 2</a> </li>
      <li> <a class='govuk-link' href="citizen/WIP/permission-denied">Blocked camera and microphone </a> </li>
      <li> <a class='govuk-link' href="citizen/WIP/permission-denied2">Blocked camera and microphone 2</a> </li>
      <li> <a class='govuk-link' href="citizen/WIP/permission-denied-acc">Blocked camera and microphone 3 - accordion</a> </li>
      <li> <a class='govuk-link' href="citizen/WIP/permission-denied-det">Blocked camera and microphone 4 - details</a> </li>


      </ul>
    </div>
  </div>
</div>
      <h2><a href="citizen/welsh-attend/v1-static-trial/join-start-citizen">Welsh version</a> </h2>
      <p>Attend service with welsh translation</p>

  <a class='govuk-link' href="citizen/WIP/refresh-trial">Refresh trial - June 2021</a>


{% endblock %}
