{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Remote consultation - visitor facing prototype
      </h1>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>

      <p><a class="govuk-button" href="citizen/version_2/join-start-citizen">Latest version</a></p>

      <h2> <a href="citizen/version_2/join-start-citizen"> Version 2 </a> </h2>
      <p>Assumptions: Users will need to use the service in Welsh, <br>
        users will want to give feedback as soon as their video appointment is finished.
                        </p>
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version details: 2.0

      </span>
      </summary>
      <div class="govuk-details__text">
      <h3 class="govuk-heading-m">2.0</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Welsh toggle added to start page. This takes the user to the welsh version of the service.</li>
      <li>Welsh toggle added to header of screens not accessed via service start page.</li>
      <li>Short feedback survey added to the end page for the claimant. If they hit 'Send feedback' they are taken to the thank you screen.</li>
<li>Thank you screen has a link to a citizen space survey where they can give their details to be involved in further research.</li>
            </ul>
      </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Hypotheses
      </span>
      </summary>
      <div class="govuk-details__text">
      <p class="govuk-body"> <strong> Because:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>we need attendee feedback about the service</li>
      <li>we know the best time to capture that feedback is as soon as possible</li>
      <li>we know that this feedback is not mandatory to the user using the service</li>
      </ul>
      <strong> We believe that:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>giving a short survey on the current end page of the service</li>
      </ul>
      <strong> Will result in:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>a high number of attendees giving their feedback</li>
      <li>genuine feedback</li>
      </ul>
      <strong> We'll know this is true:</strong>
      <ul class="govuk-list govuk-list--bullet">
      <li>when we have a high percentage of users reaching the 'thank you' page</li>
      </ul> </p>
      </div>
      </details>

      <h2> <a href="citizen/v1-static-trial/join-start-citizen"> Version 1 </a> </h2>
      <p>Proof of concept - start of trial</p>
      <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Version details: 1.1
      </span>
      </summary>
      <div class="govuk-details__text">
      <h3 class="govuk-heading-m">1.1</h3>
      <ul class="govuk-list govuk-list--bullet">
      <li>Removed 'Close' button from help and guidance if javascript is disabled</li>
      </ul>
      </div>
      </details>

      <h2><a href="citizen/WIP/browser_script">Design WIP</a> </h2>
      <p>Proposed design iterations</p>
      <br>
      <h2><a href="citizen/welsh-attend/v1-static-trial/join-start-citizen">Welsh version</a> </h2>
      <p>Attend service with welsh translation</p>



{% endblock %}
