{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-citizen-versions.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Remote consultation - citizen facing prototype
      </h1>
      <h2 class="govuk-heading-m">
        User research
      </h2>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>

          <h3 class="govuk-heading-s"> Preview screen | Additional functionality and layout (Privacy focus) </h3>
<a href="https://www.sketch.com/s/9fc14c65-77f1-468a-86ed-8fc370fb3fa5">Sketch file - August 2021</a> <br> <br><hr>


      <h3 class="govuk-heading-s"> Joining an appointment | Browser check | Waiting message </h3>

      <a href="citizen/research/in-journey/options.html">Testing link 1 - June 2021</a> <br>
      <details class="govuk-details" data-module="govuk-details" style="margin-top:10px;">
      <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
      Assumptions
      </span>
      </summary>

      <div class="govuk-details__text">
      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li> Users will want to know as soon as possible (before the start page) if they are on an unsupported browser. </li>
        <li> If accessing from UC, showing the start page before/at the same time as the browser error will help the user to understand it is the video service that is unsupported. </li>
        <li> We should not completely stop the users journey if we don’t know that they will have a bad experience.</li>
  <li>For when the browser is Chime supported but not tested internally, or an outdated version, a banner on the start page will be sufficient to warn the user. </li>
    <li>If the browser may be unsupported, users may have ‘banner blindness’ and therefore need a specific page. </li>
    <li>For browsers we know are unsupported the user should not be allowed to continue to the video service.  </li>
    <li>Providing a ‘copy link’ button will allow the user to quickly switch to a supported browser, rather than having to go back into UC on the new browser.  </li> </ol>
    </div> </details>



    <details class="govuk-details" data-module="govuk-details" style="margin-top:10px;">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    Hypotheses
    </span>
    </summary>

    <div class="govuk-details__text">
      <h2 class="govuk-heading-s"> Browser check </h2>
    <p class="govuk-body"> <strong> Because:</strong> we know some attendees try to join video appointments on unsupported browsers <br>
    <strong> We believe that:</strong> warning users they may have issues on their current browser, before they enter the appointment<br>
    <strong> Will result in:</strong> a better user experience and more successful appointments<br>
    <strong> We'll know this is true:</strong> when we see users are attending on supported browsers, and a reduction in failed appointments. </p>

    <h2 class="govuk-heading-s"> Waiting message </h2>
  <p class="govuk-body"> <strong> Because:</strong>
    <ul class="govuk-list govuk-list--bullet">
      <li>we know when some users join the meeting first, they use the refresh button multiple times before
    the other person joins </li>
    <li>we know some users do not like seeing the large view of themselves as it makes them uncomfortable.</li></ul>
  <strong> We believe that:</strong>
  <ul class="govuk-list govuk-list--bullet">
    <li> by explaining they have joined the appointment, but the other person hasn't</li>
  <li>by making the large view of themselves a smaller 'selfie' view</li></ul>
  <strong> Will result in:</strong>
  <ul class="govuk-list govuk-list--bullet">
    <li>users understanding what is happening and that they do not need to do anything</li>
<li>users feeling more comfortable</li></ul>
  <strong> We'll know this is true:</strong>
  <ul class="govuk-list govuk-list--bullet">
    <li>when users give us feedback that they understand what is happening </li>
  <li>when users give us feedback that they feel more comfortable with a smaller 'selfie' view </li>
  <li>if there is a reduction in the use of the refresh button prior to the second person joining.</li></ul> </p>
  </div>

   </details>

      <hr>
<h3 class="govuk-heading-s"> Multiple attendees | Replace background </h3>

<a href="citizen/research/blur/test1/join-start-citizen.html">Combined testing link 1 - March 2021</a>

<details class="govuk-details" data-module="govuk-details" style="margin-top:10px;">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Hypotheses
</span>
</summary>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Small selfie </h2>
<p class="govuk-body"> <strong> Because:</strong> we know not all users feel comfortable seeing themselves on
  screen <em> and </em> need a clear view of other participants <br>
<strong> We believe that:</strong> showing a small view of themselves in the corner of the screen<br>
<strong> Will result in:</strong> users feeling at ease and able to focus on the other participants in the appointment<br>
<strong> We'll know this is true:</strong> when users state this in user testing. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Equal selfie </h2>
<p class="govuk-body"> <strong> Because:</strong> users need to ensure they can be seen clearly <br>
<strong> We believe that:</strong> showing all feeds, including themselves, in a grid format<br>
<strong> Will result in:</strong> users being seen clearly throughout the appointment <br>
<strong> We'll know this is true:</strong> when users choose this option in user testing over the alternatives. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Fill frame </h2>
<p class="govuk-body"> <strong> Because:</strong> we know people value seeing facial expressions <br>
<strong> We believe that:</strong> showing a cropped, zoomed in view of other participants<br>
<strong> Will result in:</strong> attendees being able to read facial expressions <em>and</em> an efficient use of screen space <br>
<strong> We'll know this is true:</strong> when users choose this option in user testing over the alternatives. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Fit-to-frame</h2>
<p class="govuk-body"> <strong> Because:</strong> we know users sometimes need to see the whole frame<br>
<strong> We believe that:</strong> keeping the whole frame of other participants in view <br>
<strong> Will result in:</strong> users being able to see everything they need to see<br>
<strong> We'll know this is true:</strong> when users choose this option in research over the alternatives. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Blur background</h2>
<p class="govuk-body"> <strong> Because:</strong> there is a need for users to hide their background<br>
<strong> We believe that:</strong> blurring the background<br>
<strong> Will result in:</strong> sufficient privacy for the user<br>
<strong> We'll know this is true:</strong> when users state this in user testing. </p>
</div>


<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Cover background</h2>
<p class="govuk-body"> <strong> Because:</strong> there is a need for users to hide their background<br>
<strong> We believe that:</strong> fully replacing the background with a pre-selected image<br>
<strong> Will result in:</strong> greater privacy for the user<br>
<strong> We'll know this is true:</strong> when users choose this option in research. </p>
</div>


<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Radio buttons</h2>
<p class="govuk-body"> <strong> Because:</strong> there is a need for users to hide their background <em>and</em> we assume this will be at the beginning of the appointment <br>
<strong> We believe that:</strong> providing radio buttons once in the appointment<br>
<strong> Will result in:</strong> understanding whether blur is on or off, and how to change it<br>
<strong> We'll know this is true:</strong> when participants show their understanding in usability testing.</p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Settings drop down menu</h2>
<p class="govuk-body"> <strong> Because:</strong> we know there is a need for a citizen to hide their background <em>and</em> we assume the action will only be once per appointment, if at all<br>
<strong> We believe that:</strong> providing a settings menu<br>
<strong> Will result in:</strong> a simple interface, with less distractions from the appointment<br>
<strong> We'll know this is true:</strong> when participants show their understanding in usability testing.</p>
</div>


</details>

<hr>

</div>
</div>

{% endblock %}
