{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Remote consultation - visitor facing prototype
      </h1>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>

      <p><a class="govuk-button" href="citizen/v2-trial/join-start-citizen">Latest version (trial)</a></p>

      <h2> <a href="citizen/v2-trial/join-start-citizen"> Version 2: Trial  </a> </h2>
      <p>Reduced screens to be developed for live trial.</p>
      <br>
      <h2><a href="citizen/join-start-citizen">Version 1: Citizen joins from home</a> </h2>

      <h4> <a href="citizen/responsive-video-full-screen"> Version 1.1: Responsive conduct screens for smaller screens </a> </h4>
        <h4> <a href="citizen/v3-trial/join-start-citizen"> Version 1.3: Responsive conduct screens with trial journey </a> </h4>


  <!--  <p><a href="citizen/passcode/join-start-citizen"> Version 1.1 : Join by given password</a></p>

   <p><a href="touch/join-start-citizen"> Version 1.2 : Touch screen</a></p> -->

  <p>Proof of concept.</p>

{% endblock %}
