{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-citizen-versions.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Remote consultation - citizen facing prototype
      </h1>
      <h2 class="govuk-heading-m">
        User research
      </h2>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>


<h3 class="govuk-heading-s"> Multiple attendees | Replace background </h3>

<a href="citizen/research/blur/test1/join-start-citizen.html">Combined testing link 1 - March 2021</a>

<details class="govuk-details" data-module="govuk-details" style="margin-top:10px;">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
Hypotheses
</span>
</summary>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Small selfie </h2>
<p class="govuk-body"> <strong> Because:</strong> we know not all users feel comfortable seeing themselves on
  screen <em> and </em> need a clear view of other participants <br>
<strong> We believe that:</strong> showing a small view of themselves in the corner of the screen<br>
<strong> Will result in:</strong> users feeling at ease and able to focus on the other participants in the appointment<br>
<strong> We'll know this is true:</strong> when users state this in user testing. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Equal selfie </h2>
<p class="govuk-body"> <strong> Because:</strong> users need to ensure they can be seen clearly <br>
<strong> We believe that:</strong> showing all feeds, including themselves, in a grid format<br>
<strong> Will result in:</strong> users being seen clearly throughout the appointment <br>
<strong> We'll know this is true:</strong> when users choose this option in user testing over the alternatives. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Fill frame </h2>
<p class="govuk-body"> <strong> Because:</strong> we know people value seeing facial expressions <br>
<strong> We believe that:</strong> showing a cropped, zoomed in view of other participants<br>
<strong> Will result in:</strong> attendees being able to read facial expressions <em>and</em> an efficient use of screen space <br>
<strong> We'll know this is true:</strong> when users choose this option in user testing over the alternatives. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s"> Fit-to-frame</h2>
<p class="govuk-body"> <strong> Because:</strong> we know users sometimes need to see the whole frame<br>
<strong> We believe that:</strong> keeping the whole frame of other participants in view <br>
<strong> Will result in:</strong> users being able to see everything they need to see<br>
<strong> We'll know this is true:</strong> when users choose this option in research over the alternatives. </p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Blur background</h2>
<p class="govuk-body"> <strong> Because:</strong> there is a need for users to hide their background<br>
<strong> We believe that:</strong> blurring the background<br>
<strong> Will result in:</strong> sufficient privacy for the user<br>
<strong> We'll know this is true:</strong> when users state this in user testing. </p>
</div>


<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Cover background</h2>
<p class="govuk-body"> <strong> Because:</strong> there is a need for users to hide their background<br>
<strong> We believe that:</strong> fully replacing the background with a pre-selected image<br>
<strong> Will result in:</strong> greater privacy for the user<br>
<strong> We'll know this is true:</strong> when users choose this option in research. </p>
</div>


<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Radio buttons</h2>
<p class="govuk-body"> <strong> Because:</strong> there is a need for users to hide their background <br>
<strong> We believe that:</strong> providing radio buttons once in the appointment<br>
<strong> Will result in:</strong> understanding whether blur is on or off, and how to change it<br>
<strong> We'll know this is true:</strong> when participants show their understanding in usability testing.</p>
</div>

<div class="govuk-details__text">
  <h2 class="govuk-heading-s">Settings drop down menu</h2>
<p class="govuk-body"> <strong> Because:</strong> we know there is a need for a citizen to hide their background <em>and</em> we assume the action will only be once per appointment, if at all<br>
<strong> We believe that:</strong> providing a settings menu<br>
<strong> Will result in:</strong> a simple interface, with less distractions from the appointment<br>
<strong> We'll know this is true:</strong> when participants show their understanding in usability testing.</p>
</div>


</details>

<hr>

</div>
</div>

{% endblock %}
