{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "includes/header-citizen-versions.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
      Remote consultation - citizen facing prototype
      </h1>
      <h2 class="govuk-heading-m">
        User research
      </h2>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>


<h3 class="govuk-heading-s"> Multiple attendees </h3>
<a href="citizen/research/enter-appt.html">Testing link 1</a>


</div>
</div>

{% endblock %}
