{% extends "layout.html" %}

{% block headIcons %}

{% endblock %}

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

{% block header %}{% include "includes/header-video-staff-paused.html" %}{% endblock %}
{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://govuk-prototype-kit.herokuapp.com/",
          text: "GOV.UK Prototype Kit " + releaseVersion
        },
        {
          href: "/prototype-admin/clear-data",
          text: "Clear data"
        }
      ]
    }
  }) }}
{% endblock %}
