
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p><a href="https://dev.create-video.wauc-dev-leeds.dwpcloud.uk/" target="_blank">Create a video appointment - dev</a></p>
        <p><a href="https://qa.video.wauc-dev-leeds.dwpcloud.uk/create/enter-details" target="_blank">Create a video appointment - QA</a></p>
        <p><a href="https://create-video.service.dwpcloud.uk/create/enter-details" target="_blank">Create a video appointment - live</a></p>

    </div>
  </div>
</div>
{% endblock %}
