
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Remote consultation - colleague facing prototype
      </h1>
      <p>This is for testing only, do not rely on it if you want something real to happen.</p>

        <h2><a href="staff/join-start-staff">Version 1</a></h2>
      <p>Proof of concept.</p>
    </div>
  </div>
</div>
{% endblock %}
