{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl" style="margin-top: 40px">
        Remote consultation - colleague facing prototype
      </h1>
      <p>This is for testing only, do not rely on it if you want something real to happen. TEST.</p>

        <p><a href="staff/create-appointment/versions">Create a video appointment</a></p>

      <p><a href="staff/join-appointment/versions">Conduct a video appointment</a></p>
    </div>
  </div>

{% endblock %}
