<header class="govuk-header" role="banner" data-module="dwp-header">
  <div class="govuk-header__container">
    <div class="govuk-width-container custom-header-width--conduct" >

        <a href="/" class="govuk-header__link govuk-header__link--service-name">

      <div class="govuk-header__contents">Conduct a video appointment</div></a>

            <div class="govuk-header__contents" style="display:inline-block; float:right;">


              <div class="dropdown">
  <button onclick="myFunction()" class=" govuk-button govuk-button_drop dropbtn">Settings</button>
  <div id="myDropdown" class="dropdown-content">
<a class="govuk-link govuk-link--no-visited-state" href="blur-opt-1-example" style="color:#0b0c0c">Blur my background</a>

<!-- <div class="govuk-form-group" style="margin-bottom: 0px; padding:5px 16px 5px 16px;">
  <label class="govuk-label" for="sort" style="display:inline; font-size:16px; margin-right:5px;">
    Camera
  </label>
  <select class="govuk-select" id="camera" name="camera"  style="font-size:16px;">
    <option value="camera1" selected>Facetime HD Camera</option>
    <option value="camera2"> External camera</option>
  </select>
</div>

<div class="govuk-form-group" style="margin-bottom: 0px; padding:5px 16px 5px 16px;">
  <label class="govuk-label" for="sort" style="display:inline; font-size:16px; margin-right:5px;">
    Audio
  </label>
  <select class="govuk-select" id="camera" name="camera"  style="font-size:16px;">
    <option value="camera1" selected>Internal speakers</option>
    <option value="camera2">Headphones</option>
  </select>
</div> -->


  </div>
</div>
        </div>
        </div>
        </header>
<script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }

        </script>
