<header class="govuk-header" role="banner" data-module="dwp-header">
  <div class="govuk-header__container">
    <div class="govuk-width-container custom-header-width--conduct" >

        <a href="/" class="govuk-header__link govuk-header__link--service-name">

      <div class="govuk-header__contents">Conduct a video appointment</div></a>



      <!-- Settings 'menu'

      <div class="govuk-width-container custom-header-width--conduct" style="float:right; margin-right:0px;">
<button class="govuk-button govuk-button_settings" id="menu" onclick="myFunction();changeClass()">Settings</button>
 </div> -->


<!--  Dropdown select
<div class="govuk-width-container custom-header-width--conduct" style="float:right; margin-bottom: 7px;">
         <label class="govuk-label" for="camera" style="display:inline; color:#fff; margin-right:5px;">
         Blur background
       </label>
       <select class="govuk-select" id="camera" name="camera">
         <option value="front"> On</option>
         <option value="rear" selected>Off</option>
       </select>
  </div> -->

<!--  Radio buttons -->
<div class="govuk-width-container custom-header-width--conduct" style="float:right; margin-right:0px;">
<label class="govuk-label" for="blur" style="color:#fff; margin-right:20px; display:inline; float:left;">
  Blur background
</label>
  <div class="govuk-radios govuk-radios--inline govuk-radios--small" style="margin-bottom: 5px; display:inline;" id="blur" name="blur">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
      <label class="govuk-label govuk-radios__label" for="changed-name" style="color:#fff">
        On
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="changed-name-2" style="color:#fff">
        Off
      </label>
    </div>
  </div>

</div> </div>

<!-- Switch
<div class="govuk-width-container custom-header-width--conduct" style="float:right; margin-right:0px;">
  <label class="govuk-label" for="onoffswitch" style="color:#fff; margin-right:20px; display:inline;">
    Blur background
  </label>
  <div class="onoffswitch" style="float:right">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked  style="display:inline;">
      <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
      </label>
  </div>
</div> -->


<!--<div class="govuk-width-container govuk-header__contents" style="float:right;">
       <details class="govuk-details govuk-header__link" data-module="govuk-details">
  <summary class="govuk-details__summary govuk-details__summary-header" style="float:right; color:#ffffff; margin-right:16px;">
    <span class="govuk-details__summary-text govuk-header__link" style="color:#ffffff;">
      Settings
    </span>
  </summary>
  <div class="camera-select-header">
        <label class="govuk-label" for="camera" style="display:inline; color:#fff">
        Camera
      </label>
      <select class="govuk-select" id="camera" name="camera">
        <option value="front">Facetime HD Camera</option>
        <option value="rear" selected> FacetimeHD</option>
      </select> </div>
</details> -->

<!--Background blur link

<div class="govuk-width-container custom-header-width--conduct govuk-header__contents" style="float:right; margin-right:0px;">
<nav>
  <ul class="govuk-list" style="list-style-type:none; margin:0">
  <li class="govuk-header__navigation-item" style="padding-top:0px">
    <a class="govuk-header__link" href="#" id="element1" onClick="javascript:changeText(1)">
          Turn background blur on
        </a>
      </li>
  </ul>
  </nav>
</div>

<!-- Background blur button
<div class="govuk-width-container custom-header-width--conduct" style="float:right; margin-right:0px;">
<button class="govuk-button govuk-button--secondary" id="element1" onclick="javascript:changeText(1)" style="margin-bottom: 10px;">Background blur on</button>

-->

<div id="settings" style="display:none;">
 <!--<div class="camera-select-header">
      <label class="govuk-label" for="camera" style="display:inline; color:#fff">
      Camera
    </label>
    <select class="govuk-select" id="camera" name="camera">
      <option value="front"> Facetime HD Camera</option>
      <option value="rear" selected>External Camera</option>
    </select> </div> -->

    <div class="camera-select-header">
          <label class="govuk-label" for="camera" style="display:inline; color:#fff">
          Blur background
        </label>
        <select class="govuk-select" id="camera" name="camera">
          <option value="front"> On</option>
          <option value="rear" selected>Off</option>
        </select> </div>

<div class="camera-select-header">
        <label class="govuk-label" for="changed-name" style="color:#fff">
        Blur background
      </label>
        <div class="govuk-radios govuk-radios--inline"  style="float:right;">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name" style="color:#fff">
            On
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2" style="color:#fff">
              Off
            </label>
          </div>
        </div>

    </div>


    </div>

     </div>
    </div>
</header>

<script>
  function myFunction() {

    var x = document.getElementById("settings");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

    function changeClass() {

      var x = document.getElementById("menu");
      if (x.className === "govuk-button govuk-button_settings") {
        x.className = "govuk-button govuk-button_menu";
      } else {
        x.className = "govuk-button govuk-button_settings";

               }

  }


  </script>
<script>
  function changeText(idElement) {
    var element = document.getElementById('element' + idElement);
    if (idElement === 1 || idElement === 2) {
        if (element.innerHTML === 'Turn background blur on') element.innerHTML = 'Turn background blur off';
        else {
            element.innerHTML = 'Turn background blur on';
        }
    }
}

</script>
