  {% extends "layout.html" %}

    {% block pageTitle %}
      Sorry, there's a problem with the service - Conduct a video appointment
    {% endblock %}

    {% block content %}
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl" style="margin-top: 40px">
                  Sorry, there's a problem with this service
                </h1>


              <p>Try to rejoin the appointment. If that does not work, contact the other person to reschedule.


                <a href="conduct-video-staff" style="margin-top:30px" class="govuk-button">Rejoin</a>
                <a href="end-staff" style="margin: 30px 0 0 15px" class="govuk-button govuk-button--secondary">Finish</a>
        </div>
        </div>
    </div>
    {% endblock %}
