{% extends "layout-staff.html" %}

{% block pageTitle %}
  Enter the appointment code
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post" class="form" id="appointmentcode_form" style="margin-top:40px">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-heading-xl">
              Enter the appointment code
            </h1>
            <p> This is the 6 letter code you generated when you created the appointment.</p>
          </legend>
        </fieldset>
      <fieldset class="govuk-fieldset">
          <label class="govuk-label" for="address-line-1">
            Appointment code </label>
            <input type="text" id="appointmentCode" name="appointmentCode" class="govuk-input" style="width:50%">
      </fieldset>

      </form>

      <a href="responsive-video-staff">  <button class="govuk-button" data-module="govuk-button" style="margin-top: 30px">Continue</button></a>

      <h2 class="govuk-heading-m">If you do not have your code</h2>

      <p>If you've lost or forgotten your code, you'll need to create a new video appointment.</p>

    </div>

  </div>
    <a href="appt-notfound" style="float: right"> Not found </a>
</div>

  <script type="text/javascript">
  function addLink(){
    var anchor = document.getElementById('link');
    var meeting = document.getElementById('appointmentCode');
    anchor.href += meeting.value;
  }
</script>

{% endblock %}
